In [1]:
# -*- coding: utf-8 -*-
"""
Created on Thu May 28 21:21:23 2020

@author: emanu

Project name: loading data from Mergnet
"""

import os
import pandas as pd
import pandas_datareader as pdr
from datetime import datetime as dt
import xlsxwriter
from datetime import date
from win32com.client import Dispatch


#setting viewing settings of pandas
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

#function to gather data from web source(for now its from file)
def get_data():
    
    #open file 
    global data_IncomeStatement
#     data_IncomeStatement = pd.read_excel('IncomeStatement_full.xlsx', header=None, parse_dates=True)
    data_IncomeStatement = pd.read_excel('IncomeStatement_quarters.xlsx', header=None, parse_dates=True)
    global data_BalanceSheet
    data_BalanceSheet = pd.read_excel('BalanceSheet_quarters.xlsx', header=None, parse_dates=True)
    data_BalanceSheet_full = data_BalanceSheet.copy()
    data_IncomeStatement_full = data_IncomeStatement.copy()
    data_IncomeStatement = data_IncomeStatement.loc[:,~(data_IncomeStatement.columns % 2 == 0)]
    data_BalanceSheet = data_BalanceSheet.loc[:,~(data_BalanceSheet.columns % 2 == 0)]
#reverse the order of the values columns to fit model
    df_Inc = data_IncomeStatement.copy()
    df_Inc = df_Inc.iloc[:,:1:-1]
    df_Inc = df_Inc.T.reset_index(drop=True).T
#     df_Inc.insert(0, 'Indicator', data_IncomeStatement.iloc[:][0])
    df_BalSheet = data_BalanceSheet.copy()
    global df_inc
    return df_Inc, df_BalSheet, data_IncomeStatement_full, data_BalanceSheet_full

df_Inc, df_BalSheet, data_IncomeStatement_full, data_BalanceSheet_full = get_data()

display (df_Inc.head(15), df_BalSheet.head(15))

C:\Users\User\AppData\Roaming\Python\Python36\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,12/31/2005,04/01/2006,07/01/2006,12/30/2006,03/31/2007,06/30/2007,12/29/2007,03/29/2008,06/28/2008,12/27/2008,03/28/2009,06/27/2009,12/26/2009,03/27/2010,06/26/2010,12/25/2010,03/26/2011,06/25/2011,12/31/2011,03/31/2012,06/30/2012,12/29/2012,03/30/2013,06/29/2013,12/28/2013,03/29/2014,06/28/2014,12/27/2014,03/28/2015,06/27/2015,12/26/2015,03/26/2016,06/25/2016,12/31/2016,04/01/2017,07/01/2017,12/30/2017,03/31/2018,06/30/2018,12/29/2018,03/30/2019,06/29/2019,12/28/2019
11,1st Quarter,2nd Quarter,3rd Quarter,1st Quarter,2nd Quarter,3rd Quarter,1st Quarter,2nd Quarter,3rd Quarter,1st Quarter,2nd Quarter,3rd Quarter,1st Quarter,2nd Quarter,3rd Quarter,1st Quarter,2nd Quarter,3rd Quarter,1st Quarter,2nd Quarter,3rd Quarter,1st Quarter,2nd Quarter,3rd Quarter,1st Quarter,2nd Quarter,3rd Quarter,1st Quarter,2nd Quarter,3rd Quarter,1st Quarter,2nd Quarter,3rd Quarter,1st Quarter,2nd Quarter,3rd Quarter,1st Quarter,2nd Quarter,3rd Quarter,1st Quarter,2nd Quarter,3rd Quarter,1st Quarter
12,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
13,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited
14,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes

,1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,101,103,105,107,109,111,113,115,117,119,121,123,125,127,129,131,133,135,137,139,141,143,145,147,149,151,153,155,157,159,161,163,165,167,169,171,173,175,177
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,06/27/2020,03/28/2020,12/28/2019,06/29/2019,03/30/2019,12/29/2018,06/30/2018,03/31/2018,12/30/2017,07/01/2017,04/01/2017,12/31/2016,06/25/2016,03/26/2016,12/26/2015,06/27/2015,03/28/2015,12/27/2014,06/28/2014,03/29/2014,12/28/2013,06/29/2013,03/30/2013,12/29/2012,06/30/2012,03/31/2012,12/31/2011,06/25/2011,03/26/2011,12/25/2010,06/26/2010,03/27/2010,12/26/2009,06/27/2009,03/28/2009,12/27/2008,06/28/2008,03/29/2008,12/29/2007,06/30/2007,03/31/2007,12/30/2006,07/01/2006,04/01/2006,12/31/2005,06/25/2005,03/26/2005,12/25/2004,06/26/2004,03/27/2004,12/27/2003,06/28/2003,03/29/2003,12/28/2002,06/29/2002,03/30/2002,12/29/2001,06/30/2001,03/31/2001,12/30/2000,07/01/2000,04/01/2000,01/01/2000,06/26/1999,03/27/1999,12/26/1998,06/26/1998,03/27/1998,12/26/1997,06/27/1997,03/28/1997,12/27/1996,06/28/1996,03/29/1996,12/29/1995,06/30/1995,03/31/1995,12/31/1994,07/01/1994,04/01/1994,12/31/1993,06/25/1993,03/26/1993,12/25/1992,06/26/1992,03/27/1992,12/27/1991,06/30/1991,03/29/1991
11,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter,1st Quarter,3rd Quarter,2nd Quarter
12,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
13,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Unaudited,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
14,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes

In [2]:
data_IncomeStatement_full

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Powered by Clearbit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Apple Inc (NMS: AAPL),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Exchange rate used is that of the Year End rep...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,As Reported Quarterly Income Statement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Report Date,06/27/2020,NaN,03/28/2020,NaN,12/28/2019,NaN,06/29/2019,NaN,03/30/2019,NaN,12/29/2018,NaN,06/30/2018,NaN,03/31/2018,NaN,12/30/2017,NaN,07/01/2017,NaN,04/01/2017,NaN,12/31/2016,NaN,06/25/2016,NaN,03/26/2016,NaN,12/26/2015,NaN,06/27/2015,NaN,03/28/2015,NaN,12/27/2014,NaN,06/28/2014,NaN,03/29/2014,NaN,12/28/2013,NaN,06/29/2013,NaN,03/30/2013,NaN,12/29/2012,NaN,06/30/2012,NaN,03/31/2012,NaN,12/31/2011,NaN,06/25/2011,NaN,03/26/2011,NaN,12/25/2010,NaN,06/26/2010,NaN,03/27/2010,NaN,12/26/2009,NaN,06/27/2009,NaN,03/28/2009,NaN,12/27/2008,NaN,06/28/2008,NaN,03/29/2008,NaN,12/29/2007,NaN,06/30/2007,NaN,03/31/2007,NaN,12/30/2006,NaN,07/01/2006,NaN,04/01/2006,NaN,12/31/2005
11,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter
12,Currency,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD
13,Audit Status,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited
14,Consolidated,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes
15,Scale,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands
16,Net sales - products,46529000,NaN,44965000,NaN,79104000,NaN,42354000,NaN,46565000,NaN,73435000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-
17,Net sales - services,13156000,NaN,13348000,NaN,12715000,NaN,11455000,NaN,11450000,NaN,10875000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-
18,Total net sales,59685000,NaN,58313000,NaN,91819000,NaN,53809000,NaN,58015000,NaN,84310000,NaN,53265000,NaN,61137000,NaN,88293000,NaN,45408000,NaN,52896000,NaN,78351000,NaN,42358000,NaN,50557000,NaN,75872000,NaN,49605000,NaN,58010000,NaN,74599000,NaN,37432000,NaN,45646000,NaN,57594000,NaN,35323000,NaN,43603000,NaN,54512000,NaN,35023000,NaN,39186000,NaN,46333000,NaN,28571000,NaN,24667000,NaN,26741000,NaN,15700000,NaN,13499000,NaN,15683000,NaN,8337000,NaN,8163000,NaN,10167000,NaN,7464000,NaN,7512000,NaN,9608000,NaN,5410000,NaN,5264000,NaN,7115000,NaN,4370000,NaN,4359000,NaN,5749000
19,Cost of sales - products,32693000,NaN,31321000,NaN,52075000,NaN,29473000,NaN,32047000,NaN,48238000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-
20,Cost of sales - services,4312000,NaN,4622000,NaN,4527000,NaN,4109000,NaN,4147000,NaN,4041000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-
21,Total cost of sales,37005000,NaN,35943000,NaN,56602000,NaN,33582000,NaN,36194000,NaN,52279000,NaN,32844000,NaN,37715000,NaN,54381000,NaN,27920000,NaN,32305000,NaN,48175000,NaN,26252000,NaN,30636000,NaN,45449000,NaN,29924000,NaN,34354000,NaN,44858000,NaN,22697000,NaN,27699000,NaN,35748000,NaN,22299000,NaN,27254000,NaN,33452000,NaN,20029000,NaN,20622000,NaN,25630000,NaN,16649000,NaN,14449000,NaN,16443000,NaN,9564000,NaN,7874000,NaN,9272000,NaN,5314000,NaN,5192000,NaN,6635000,NaN,4864000,NaN,5038000,NaN,6276000,NaN,3415000,NaN,3415000,NaN,4895000,NaN,3045000,NaN,3062000,NaN,4185000
22,Gross margin,22680000,NaN,22370000,NaN,35217000,NaN,20227000,NaN,21821000,NaN,32031000,NaN,20421000,NaN,23422000,NaN,33912000,NaN,17488000,NaN,20591000,NaN,30176000,NaN,16106000,NaN,19921000,NaN,30423000,NaN,19681000,NaN,23656000,NaN,29741000,NaN,14735000,NaN,17947000,NaN,21846000,NaN,13024000,NaN,16349000,NaN,21060000,NaN,14994000,NaN,18564000,NaN,20703000,NaN,11922000,NaN,10218000,NaN,10298000,NaN,6136000,NaN,5625000,NaN,6411000,NaN,3023000,NaN,2971000,NaN,3532000,NaN,2600000,NaN,2474000,NaN,3332000,NaN,1995000,NaN,1849000,NaN,2220000,NaN,1325000,NaN,1297000,NaN,1564000
23,Research & development expenses,4758000,NaN,4565000,NaN,4451000,NaN,4257000,NaN,3948000,NaN,3902000,NaN,3701000,NaN,3378000,NaN,3407000,NaN,2937000,NaN,2776000,NaN,2871000,NaN,2560000,NaN,2511000,NaN,2404000,NaN,2034000,NaN,1918000,NaN,1895000,NaN,1603000,NaN,1422000,NaN,1330000,NaN,1178000,NaN,1119000,NaN,1010000,NaN,876000,NaN,841000,NaN,758000,NaN,628000,NaN,581000,NaN,575000,NaN,464000,NaN,426000,NaN,398000,NaN,341000,NaN,319000,NaN,315000,NaN,292000,NaN,273000,NaN,246000,NaN,208000,NaN,183000,NaN,184000,NaN,175000,NaN,176000,NaN,182000
24,"Selling, general & administrative expenses",4831000,NaN,4952000,NaN,5197000,NaN,4426000,NaN,4458000,NaN,4783000,NaN,4108000,NaN,4150000,NaN,4231000,NaN,3783000,NaN,3718000,NaN,3946000,NaN,3441000,NaN,3423000,NaN,3848000,NaN,3564000,NaN,3460000,NaN,3600000,NaN,2850000,NaN,2932000,NaN,3053000,NaN,2645000,NaN,2672000,NaN,2840000,NaN,2545000,NaN,2339000,NaN,2605000,NaN,1915000,NaN,1763000,NaN,1896000,NaN,1438000,NaN,1220000,NaN,1288000,NaN,1010000,NaN,985000,NaN,1091000,NaN,916000,NaN,886000,NaN,960000,NaN,746000,NaN,680000,NaN,714000,NaN,584000,NaN,592000,NaN,632000
25,Total operating expenses,9589000,NaN,9517000,NaN,9648000,NaN,8683000,NaN,8406000,NaN,8685000,NaN,7809000,NaN,7528000,NaN,7638000,NaN,6720000,NaN,6494000,NaN,6817000,NaN,6001000,NaN,5934000,NaN,6252000,NaN,5598000,NaN,5378000,NaN,5495000,NaN,4453000,NaN,4354000,NaN,4383000,NaN,3823000,NaN,3791000,NaN,3850000,NaN,3421000,NaN,3180000,NaN,3363000,NaN,2543000,NaN,2344000,NaN,2471000,NaN,1902000,NaN,1646000,NaN,1686000,NaN,1351000,NaN,1304000,NaN,1406000,NaN,1208000,NaN,1159000,NaN,1206000,NaN,954000,NaN,863000,NaN,898000,NaN,759000,NaN,768000,NaN,814000
26,Operating income (loss),13091000,NaN,12853000,NaN,25569000,NaN,11544000,NaN,13415000,NaN,23346000,NaN,12612000,NaN,15894000,NaN,26274000,NaN,10768000,NaN,14097000,NaN,23359000,NaN,10105000,NaN,13987000,NaN,24171000,NaN,14083000,NaN,18278000,NaN,24246000,NaN,10282000,NaN,13593000,NaN,17463000,NaN,9201000,NaN,12558000,NaN,17210000,NaN,11573000,NaN,15384000,NaN,17340000,NaN,9379000,NaN,7874000,NaN,7827000,NaN,4234000,NaN,3979000,NaN,4725000,NaN,1672000,NaN,1667000,NaN,2126000,NaN,1392000,NaN,1315000,NaN,2126000,NaN,1041000,NaN,986000,NaN,1322000,NaN,566000,NaN,529000,NaN,750000
27,Interest & dividend income,901000,NaN,1049000,NaN,1045000,NaN,1190000,NaN,1358000,NaN,1307000,NaN,1418000,NaN,1505000,NaN,1452000,NaN,1327000,NaN,1282000,NaN,1224000,NaN,1036000,NaN,986000,NaN,941000,NaN,766000,NaN,675000,NaN,654000,NaN,439000,NaN,410000,NaN,427000,NaN,-,NaN,420000,NaN,421000,NaN,-,NaN,254000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-
28,Interest expense,697000,NaN,757000,NaN,785000,NaN,866000,NaN,1010000,NaN,890000,NaN,846000,NaN,792000,NaN,734000,NaN,602000,NaN,530000,NaN,525000,NaN,409000,NaN,321000,NaN,276000,NaN,201000,NaN,163000,NaN,131000,NaN,100000,NaN,85000,NaN,84000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-
29,"Other expense, net",-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,185000,NaN,-,NaN,-,NaN,263000,NaN,-,NaN,-,NaN,175000,NaN,-,NaN,-,NaN,137000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,13000,NaN,-,NaN,7000,NaN,4000,NaN,11000,NaN,7000
30,Interest income,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,168000,NaN,-,NaN,133000,NaN,99000,NaN,87000,NaN,88000
31,"Other income (expense), net",-158000,NaN,-10000,NaN,89000,NaN,43000,NaN,30000,NaN,143000,NaN,100000,NaN,-439000,NaN,38000,NaN,-,NaN,-165000,NaN,122000,NaN,-,NaN,-510000,NaN,-263000,NaN,-,NaN,-226000,NaN,-353000,NaN,-,NaN,-100000,NaN,-97000,NaN,-,NaN,-73000,NaN,41000,NaN,-,NaN,-106000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-
32,"Interest & other income (expense), net",-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,81000
33,"Other income (expense), net",46000,NaN,282000,NaN,349000,NaN,367000,NaN,378000,NaN,560000,NaN,672000,NaN,274000,NaN,756000,NaN,540000,NaN,587000,NaN,821000,NaN,364000,NaN,155000,NaN,402000,NaN,390000,NaN,286000,NaN,170000,NaN,202000,NaN,225000,NaN,246000,NaN,-,NaN,347000,NaN,462000,NaN,-,NaN,148000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,155000,NaN,-,NaN,126000,NaN,95000,NaN,76000,NaN,-
34,"Other income (expense), net",-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,234000,NaN,-,NaN,-,NaN,288000,NaN,-,NaN,137000,NaN,172000,NaN,26000,NaN,136000,NaN,58000,NaN,50000,NaN,33000,NaN,60000,NaN,63000,NaN,158000,NaN,118000,NaN,162000,NaN,200000,NaN,-,NaN,148000,NaN,-,NaN,-,NaN,-,NaN,-
35,Income (loss) before provision for income taxes,13137000,NaN,13135000,NaN,25918000,NaN,11911000,NaN,13793000,NaN,23906000,NaN,13284000,NaN,16168000,NaN,27030000,NaN,11308000,NaN,14684000,NaN,24180000,NaN,10469000,NaN,14142000,NaN,24573000,NaN,14473000,NaN,18564000,NaN,24416000,NaN,10484000,NaN,13818000,NaN,17709000,NaN,9435000,NaN,12905000,NaN,17672000,NaN,11861000,NaN,15532000,NaN,17477000,NaN,9551000,NaN,7900000,NaN,7963000,NaN,4292000,NaN,4029000,NaN,4758000,NaN,1732000,NaN,1730000,NaN,2284000,NaN,1510000,NaN,1477000,NaN,2326000,NaN,1196000,NaN,1134000,NaN,1448000,NaN,661000,NaN,605000,NaN,831000
36,Provision for (benefit from) income taxes,1884000,NaN,1886000,NaN,3682000,NaN,1867000,NaN,2232000,NaN,3941000,NaN,1765000,NaN,2346000,NaN,6965000,NaN,2591000,NaN,3655000,NaN,6289000,NaN,2673000,NaN,3626000,NaN,6212000,NaN,3796000,NaN,4995000,NaN,6392000,NaN,2736000,NaN,3595000,NaN,4637000,NaN,2535000,NaN,3358000,NaN,4594000,NaN,3037000,NaN,3910000,NaN,4413000,NaN,2243000,NaN,1913000,NaN,1959000,NaN,1039000,NaN,955000,NaN,1380000,NaN,503000,NaN,525000,NaN,679000,NaN,438000,NaN,432000,NaN,745000,NaN,378000,NaN,364000,NaN,444000,NaN,189000,NaN,195000,NaN,266000
37,Net income (loss),11253000,NaN,11249000,NaN,22236000,NaN,10044000,NaN,11561000,NaN,19965000,NaN,11519000,NaN,13822000,NaN,20065000,NaN,8717000,NaN,11029000,NaN,17891000,NaN,7796000,NaN,10516000,NaN,18361000,NaN,10677000,NaN,13569000,NaN,18024000,NaN,7748000,NaN,10223000,NaN,13072000,NaN,6900000,NaN,9547000,NaN,13078000,NaN,8824000,NaN,11622000,NaN,13064000,NaN,7308000,NaN,5987000,NaN,6004000,NaN,3253000,NaN,3074000,NaN,3378000,NaN,1229000,NaN,1205000,NaN,1605000,NaN,1072000,NaN,1045000,NaN,1581000,NaN,818000,NaN,770000,NaN,1004000,NaN,472000,NaN,410000,NaN,565000
38,Weighted average shares outstanding - basic,17250292,NaN,17440404,NaN,17660160,NaN,18282532,NaN,18696284,NaN,18943280,NaN,19528668,NaN,20099508,NaN,20451508,NaN,20780352,NaN,20903164,NaN,21194644,NaN,21772232,NaN,22057524,NaN,22235720,NaN,22919544,NaN,23175196,NaN,23372328,NaN,24050540,NaN,24493196,NaN,25090016,NaN,25721304,NaN,26309612,NaN,26289648,NaN,26224688,NaN,26140296,NaN,26069148,NaN,25931024,NaN,25849488,NaN,25740232,NaN,25541516,NaN,25411344,NaN,25299176,NaN,25023936,NaN,24953040,NaN,24895976,NaN,24744664,NaN,24627288,NaN,24524080,NaN,24270568,NaN,24164084,NaN,24015348,NaN,23838500,NaN,23545480,NaN,23261868
39,Weighted average shares outstanding - diluted,17419152,NaN,17618764,NaN,17818416,NaN,18405520,NaN,18802584,NaN,19093008,NaN,19706436,NaN,20273972,NaN,20631148,NaN,20933996,NaN,21046752,NaN,21311980,NaN,21891124,NaN,22163544,NaN,22376508,NaN,23092396,NaN,23339432,NaN,23527212,NaN,24206844,NaN,24626784,NaN,25240656,NaN,25879420,NaN,26488980,NaN,26522076,NaN,26517652,NaN,26457004,NaN,26364016,NaN,26258680,NaN,26206432,NaN,26128312,NaN,25966108,NaN,25840584,NaN,25753924,NaN,25456480,NaN,25283804,NaN,25241832,NaN,25288676,NaN,25181212,NaN,25201512,NaN,24938788,NaN,24826284,NaN,24732316,NaN,24538304,NaN,24599036,NaN,24477796
40,Year end shares outstanding,17135756,NaN,17295948,NaN,17539836,NaN,18125580,NaN,18429136,NaN,18919212,NaN,19371668,NaN,19773128,NaN,20326604,NaN,20679128,NaN,20823260,NaN,21021692,NaN,21572660,NaN,21913784,NaN,22177948,NaN,22821600,NaN,23049112,NaN,23305676,NaN,23956684,NaN,24128860,NaN,24988516,NaN,25436376,NaN,26322632,NaN,26291244,NaN,26243448,NaN,26179496,NaN,26101992,NaN,2.59533e+07,NaN,2.58909e+07,NaN,2.5789e+07,NaN,2.55775e+07,NaN,2.54698e+07,NaN,2.53759e+07,NaN,2.50806e+07,NaN,2.49735e+07,NaN,2.49316e+07,NaN,2.48009e+07,NaN,2.46801e+07,NaN,2.46016e+07,NaN,2.43365e+07,NaN,2.42114e+07,NaN,2.40862e+07,NaN,2.38837e+07,NaN,2.37773e+07,NaN,2.36773e+07
41,Net earnings (loss) per share - basic,0.653,NaN,0.645,NaN,1.26,NaN,0.55,NaN,0.618,NaN,1.055,NaN,0.59,NaN,0.688,NaN,0.98,NaN,0.42,NaN,0.528,NaN,0.845,NaN,0.358,NaN,0.478,NaN,0.825,NaN,0.465,NaN,0.585,NaN,0.77,NaN,0.323,NaN,0.418,NaN,0.521,NaN,0.268,NaN,0.363,NaN,0.498,NaN,0.336,NaN,0.445,NaN,0.501,NaN,0.282,NaN,0.232,NaN,0.233,NaN,0.128,NaN,0.121,NaN,0.134,NaN,0.049,NaN,0.048,NaN,0.065,NaN,0.043,NaN,0.043,NaN,0.065,NaN,0.034,NaN,0.032,NaN,0.042,NaN,0.02,NaN,0.018,NaN,0.024

In [3]:
type(data_IncomeStatement.columns)

pandas.core.indexes.numeric.Int64Index

In [4]:
os.getcwd()

'C:\\Users\\User\\github\\Guided-Capstone'

In [5]:
#run once decorator function
def run_once(f):
    def wrapper(*args, **kwargs):
        if not wrapper.has_run():
            return f(*args, **kwargs)
    wrapper.has_run = False
    return wrapper

In [6]:
# Autofit columns
#==================================================
#Just place whatever excel file that
#is needed in the same directory as main
#and those files will automatically be autofitted
# *this is not necessary so will only uncomment if 
# needed
#==================================================
#@run_once  #call run_once decorator
def auto_fill(file, worksheet_num):

    excel = Dispatch('Excel.Application')
    wb = excel.Workbooks.Open('{}\\{}'.format(os.getcwd(), file))
    excel.Worksheets(worksheet_num).Activate()
    excel.ActiveSheet.Columns.AutoFit()

#save the file
    wb.Save()
    wb.Close(True)
#already_fitted_files = []
#list name of all xlsx files in current directory
xlsx_file_names = []
for arr in os.listdir('.'):
    if arr.endswith('.xlsx'):
        xlsx_file_names.append(arr)
    else:
        pass
    
print(xlsx_file_names)
# with open('already_fitted.xlsx', 'w') as af:
#     print(af)
#     for file_name in xlsx_file_names:
#         print(file_name)
#         if file_name not in af:
#             file_name.to_excel('already_fitted.xlsx')
            
#    [file_name.to_excel('already_fitted.xlsx') for file_name in xlsx_file_names if file_name not in af]
        

# [auto_fill('{}'.format(element), 1) for element in xlsx_file_names]
print('All excel files have been autofitted')

['asreported.xlsx', 'asreported_full.xlsx', 'Balancesheet.xlsx', 'BalanceSheet_quarters.xlsx', 'IncomeStatement_full.xlsx', 'IncomeStatement_quarters.xlsx', 'middle_list.xlsx', 'Valuation_Ranges.xlsx', '~$asreported_full.xlsx', '~$IncomeStatement_quarters.xlsx', '~$Valuation_Ranges.xlsx']
All excel files have been autofitted

In [7]:
#open file and autofit function
def open_file(file, worksheet_num):

    excel = Dispatch('Excel.Application')
    wb = excel.Workbooks.Open('{}\\{}'.format(os.getcwd(), file))
    excel.Worksheets(worksheet_num).Activate()
#     excel.ActiveSheet.Columns.AutoFit()
    
    return wb

In [8]:
#not necessary
# date1 = pd.merge(df_Inc.iloc[10][0:9:2], df_Inc.iloc[10][9:19], how = 'outer')
# date1.columns = date1.iloc[0]
# date1.drop(5, axis = 0, inplace = True)
# date1.drop(0, axis = 0, inplace = True)
# net_rev = date1.rename(columns={"Report Date": "Date"}, inplace = True)
# date1

In [9]:
#main data calling and cleaning function
#returns middle list containing years 
#needs more work in data extraction from Valuation DF
# def insert_data_model():
#     #define empty list for dataframe
    
#     middle_list = []
    
#     #extract and clean info from data DataFrame 
    
#     #middle_list.append([df_Inc.iloc[[10, 15, 55, 58]]])
    
#     #open model file
#     valuation_model = pd.DataFrame(pd.read_excel('Valuation_Ranges.xlsx'))
# #     valuation_model = pd.DataFrame(valuation_model)
#     print(valuation_model.iloc[4])
#     middle_list.append([data_BalanceSheet.iloc[[98]]])
#     middle_list = pd.DataFrame(middle_list)
#     middle_list.to_excel('middle_list.xlsx')
#     return middle_list
# insert_data_model()

In [10]:
# pd.DataFrame.from_records([s.to_dict() for s in val_range])

In [11]:
#define rows that we need for our valuation model
Important_titles = [4, 6, 7, 10, 11, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 25, 26, 27, 28, 
                   30, 31, 32, 33, 36, 37, 38, 39, 40, 41, 44, 45, 47, 48, 49, 50, 51, 52, 54,
                    55, 56, 59, 60, 61]
important_titles = [elem + 1 for elem in Important_titles]

In [12]:
#lines that are important to us in a list format --> so we can build our dataframe based on them
print(important_titles)

[5, 7, 8, 11, 12, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 26, 27, 28, 29, 31, 32, 33, 34, 37, 38, 39, 40, 41, 42, 45, 46, 48, 49, 50, 51, 52, 53, 55, 56, 57, 60, 61, 62]

In [13]:
#figure out earliest date data is availible for filings
dates = pd.DataFrame(pd.to_datetime(df_Inc.iloc[10]))
start_date = min(dates[10].dt.year)
start_date

2005

In [14]:
# gather data to fill into val_mod DataFrame
# THIS IS WHERE THE MAIN CODE STARTS
import pandas_datareader as pdr
from datetime import datetime
get_stock_info = 'AAPL'
 

# get_stock_info = input('Please enter the name of the stock: ')
stock_data = pdr.get_data_yahoo(symbols=get_stock_info, start=start_date, 
                                end=datetime.today())
stock_data.head(10)

                High       Low      Open     Close        Volume  Adj Close
Date
2005-01-03  1.162679  1.117857  1.156786  1.130179  6.919920e+08   0.967032
2005-01-04  1.169107  1.124464  1.139107  1.141786  1.096810e+09   0.976964
2005-01-05  1.165179  1.143750  1.151071  1.151786  6.804336e+08   0.985521
2005-01-06  1.159107  1.130893  1.154821  1.152679  7.055552e+08   0.986284
2005-01-07  1.243393  1.156250  1.160714  1.236607  2.227450e+09   1.058097
2005-01-10  1.262500  1.212143  1.246964  1.231429  1.725310e+09   1.053666
2005-01-11  1.234821  1.145357  1.218750  1.152857  2.611627e+09   0.986437
2005-01-12  1.176786  1.130357  1.168750  1.168929  1.919702e+09   1.000188
2005-01-13  1.328929  1.245179  1.316250  1.246429  3.164717e+09   1.066501
2005-01-14  1.280714  1.235536  1.254464  1.253571  1.770742e+09   1.072613

In [15]:
stock_data.index

DatetimeIndex(['2005-01-03', '2005-01-04', '2005-01-05', '2005-01-06',
               '2005-01-07', '2005-01-10', '2005-01-11', '2005-01-12',
               '2005-01-13', '2005-01-14',
               ...
               '2020-11-12', '2020-11-13', '2020-11-16', '2020-11-17',
               '2020-11-18', '2020-11-19', '2020-11-20', '2020-11-23',
               '2020-11-24', '2020-11-25'],
              dtype='datetime64[ns]', name='Date', length=4004, freq=None)

In [16]:
# stock_data.head(50)
df11 = stock_data.copy()
df11.reset_index(inplace = True)
df11.head()

        Date      High       Low      Open     Close        Volume  Adj Close
0 2005-01-03  1.162679  1.117857  1.156786  1.130179  6.919920e+08   0.967032
1 2005-01-04  1.169107  1.124464  1.139107  1.141786  1.096810e+09   0.976964
2 2005-01-05  1.165179  1.143750  1.151071  1.151786  6.804336e+08   0.985521
3 2005-01-06  1.159107  1.130893  1.154821  1.152679  7.055552e+08   0.986284
4 2005-01-07  1.243393  1.156250  1.160714  1.236607  2.227450e+09   1.058097

In [17]:
df11['Date'] = pd.to_datetime(df11['Date'])
# df11.info()
# df11['Quarters'] = df11['Date'].dt.quarter
# df11.head()

In [18]:
# Getting year and month from Date column
df12 = df11.copy()
# Define years and month and insert into main DataFrame
years = pd.DatetimeIndex(df11['Date']).year
month = pd.DatetimeIndex(df11['Date']).month
quarters = df12['Date'].dt.quarter

df12.insert(1, "Year", years)
df12.insert(2, "Month", month)
df12.insert(3, "Quarter", quarters)

df12.head(15)
# pd.merge(pd.DataFrame(df11['Date'], df11_year), pd.DataFrame(df11['Date'], df11_month), on = 'Date', how = 'outer')

,Date,Year,Month,Quarter,High,Low,Open,Close,Volume,Adj Close
0,2005-01-03,2005,1,1,1.162679,1.117857,1.156786,1.130179,6.919920e+08,0.967032
1,2005-01-04,2005,1,1,1.169107,1.124464,1.139107,1.141786,1.096810e+09,0.976964
2,2005-01-05,2005,1,1,1.165179,1.143750,1.151071,1.151786,6.804336e+08,0.985521
3,2005-01-06,2005,1,1,1.159107,1.130893,1.154821,1.152679,7.055552e+08,0.986284
4,2005-01-07,2005,1,1,1.243393,1.156250,1.160714,1.236607,2.227450e+09,1.058097
5,2005-01-10,2005,1,1,1.262500,1.212143,1.246964,1.231429,1.725310e+09,1.053666
6,2005-01-11,2005,1,1,1.234821,1.145357,1.218750,1.152857,2.611627e+09,0.986437
7,2005-01-12,2005,1,1,1.176786,1.130357,1.168750,1.168929,1.919702e+09,1.000188
8,2005-01-13,2005,1,1,1.328929,1.245179,1.316250,1.246429,3.164717e+09,1.066501
9,2005-01-14,2005,1,1,1.280714,1.235536,1.254464,1.253571,1.770742e+09,1.072613
10,2005-01-18,2005,1,1,1.262500,1.209821,1.247321,1.261607,1.006460e+09,1.079488
11,2005-01-19,2005,1,1,1.276071,1.245536,1.258750,1.247857,7.518952e+08,1.067723
12,2005-01-20,2005,1,1,1.272679,1.240536,1.243750,1.258214,9.149224e+08,1.076585
13,2005-01-21,2005,1,1,1.278571,1.250000,1.273393,1.258750,9.113328e+08,1.077043
14,2005-01-24,2005,1,1,1.281786,1.259821,1.267500,1.263571,8.416296e+08,1.081169

In [19]:
dec_df = df12

In [20]:
display(dec_df.head())

,Date,Year,Month,Quarter,High,Low,Open,Close,Volume,Adj Close
0,2005-01-03,2005,1,1,1.162679,1.117857,1.156786,1.130179,6.919920e+08,0.967032
1,2005-01-04,2005,1,1,1.169107,1.124464,1.139107,1.141786,1.096810e+09,0.976964
2,2005-01-05,2005,1,1,1.165179,1.143750,1.151071,1.151786,6.804336e+08,0.985521
3,2005-01-06,2005,1,1,1.159107,1.130893,1.154821,1.152679,7.055552e+08,0.986284
4,2005-01-07,2005,1,1,1.243393,1.156250,1.160714,1.236607,2.227450e+09,1.058097

In [21]:
# Getting price based on quarters (Now we need to devide DataFrame into Years and Quarters for further processing)
dec_df13 = dec_df.pivot_table(index=['Year', 'Quarter'], values=['Close', 'High', 'Low'], aggfunc='mean')
dec_df13.head()

                 Close      High       Low
Year Quarter
2005 1        1.411996  1.433908  1.390404
     2        1.352740  1.375603  1.332132
     3        1.632829  1.650273  1.608292
     4        2.267874  2.295085  2.232783
2006 1        2.505685  2.559983  2.467074

In [22]:
IncomeStatement_Quarterly = pd.read_excel('IncomeStatement_quarters.xlsx')
IncomeStatement_Quarterly

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Powered by Clearbit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Apple Inc (NMS: AAPL),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Exchange rate used is that of the Year End rep...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,As Reported Quarterly Income Statement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Report Date,06/27/2020,NaN,03/28/2020,NaN,12/28/2019,NaN,06/29/2019,NaN,03/30/2019,NaN,12/29/2018,NaN,06/30/2018,NaN,03/31/2018,NaN,12/30/2017,NaN,07/01/2017,NaN,04/01/2017,NaN,12/31/2016,NaN,06/25/2016,NaN,03/26/2016,NaN,12/26/2015,NaN,06/27/2015,NaN,03/28/2015,NaN,12/27/2014,NaN,06/28/2014,NaN,03/29/2014,NaN,12/28/2013,NaN,06/29/2013,NaN,03/30/2013,NaN,12/29/2012,NaN,06/30/2012,NaN,03/31/2012,NaN,12/31/2011,NaN,06/25/2011,NaN,03/26/2011,NaN,12/25/2010,NaN,06/26/2010,NaN,03/27/2010,NaN,12/26/2009,NaN,06/27/2009,NaN,03/28/2009,NaN,12/27/2008,NaN,06/28/2008,NaN,03/29/2008,NaN,12/29/2007,NaN,06/30/2007,NaN,03/31/2007,NaN,12/30/2006,NaN,07/01/2006,NaN,04/01/2006,NaN,12/31/2005
10,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter
11,Currency,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD
12,Audit Status,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited,NaN,Unaudited
13,Consolidated,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes
14,Scale,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands
15,Net sales - products,46529000,NaN,44965000,NaN,79104000,NaN,42354000,NaN,46565000,NaN,73435000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-
16,Net sales - services,13156000,NaN,13348000,NaN,12715000,NaN,11455000,NaN,11450000,NaN,10875000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-
17,Total net sales,59685000,NaN,58313000,NaN,91819000,NaN,53809000,NaN,58015000,NaN,84310000,NaN,53265000,NaN,61137000,NaN,88293000,NaN,45408000,NaN,52896000,NaN,78351000,NaN,42358000,NaN,50557000,NaN,75872000,NaN,49605000,NaN,58010000,NaN,74599000,NaN,37432000,NaN,45646000,NaN,57594000,NaN,35323000,NaN,43603000,NaN,54512000,NaN,35023000,NaN,39186000,NaN,46333000,NaN,28571000,NaN,24667000,NaN,26741000,NaN,15700000,NaN,13499000,NaN,15683000,NaN,8337000,NaN,8163000,NaN,10167000,NaN,7464000,NaN,7512000,NaN,9608000,NaN,5410000,NaN,5264000,NaN,7115000,NaN,4370000,NaN,4359000,NaN,5749000
18,Cost of sales - products,32693000,NaN,31321000,NaN,52075000,NaN,29473000,NaN,32047000,NaN,48238000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-
19,Cost of sales - services,4312000,NaN,4622000,NaN,4527000,NaN,4109000,NaN,4147000,NaN,4041000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-
20,Total cost of sales,37005000,NaN,35943000,NaN,56602000,NaN,33582000,NaN,36194000,NaN,52279000,NaN,32844000,NaN,37715000,NaN,54381000,NaN,27920000,NaN,32305000,NaN,48175000,NaN,26252000,NaN,30636000,NaN,45449000,NaN,29924000,NaN,34354000,NaN,44858000,NaN,22697000,NaN,27699000,NaN,35748000,NaN,22299000,NaN,27254000,NaN,33452000,NaN,20029000,NaN,20622000,NaN,25630000,NaN,16649000,NaN,14449000,NaN,16443000,NaN,9564000,NaN,7874000,NaN,9272000,NaN,5314000,NaN,5192000,NaN,6635000,NaN,4864000,NaN,5038000,NaN,6276000,NaN,3415000,NaN,3415000,NaN,4895000,NaN,3045000,NaN,3062000,NaN,4185000
21,Gross margin,22680000,NaN,22370000,NaN,35217000,NaN,20227000,NaN,21821000,NaN,32031000,NaN,20421000,NaN,23422000,NaN,33912000,NaN,17488000,NaN,20591000,NaN,30176000,NaN,16106000,NaN,19921000,NaN,30423000,NaN,19681000,NaN,23656000,NaN,29741000,NaN,14735000,NaN,17947000,NaN,21846000,NaN,13024000,NaN,16349000,NaN,21060000,NaN,14994000,NaN,18564000,NaN,20703000,NaN,11922000,NaN,10218000,NaN,10298000,NaN,6136000,NaN,5625000,NaN,6411000,NaN,3023000,NaN,2971000,NaN,3532000,NaN,2600000,NaN,2474000,NaN,3332000,NaN,1995000,NaN,1849000,NaN,2220000,NaN,1325000,NaN,1297000,NaN,1564000
22,Research & development expenses,4758000,NaN,4565000,NaN,4451000,NaN,4257000,NaN,3948000,NaN,3902000,NaN,3701000,NaN,3378000,NaN,3407000,NaN,2937000,NaN,2776000,NaN,2871000,NaN,2560000,NaN,2511000,NaN,2404000,NaN,2034000,NaN,1918000,NaN,1895000,NaN,1603000,NaN,1422000,NaN,1330000,NaN,1178000,NaN,1119000,NaN,1010000,NaN,876000,NaN,841000,NaN,758000,NaN,628000,NaN,581000,NaN,575000,NaN,464000,NaN,426000,NaN,398000,NaN,341000,NaN,319000,NaN,315000,NaN,292000,NaN,273000,NaN,246000,NaN,208000,NaN,183000,NaN,184000,NaN,175000,NaN,176000,NaN,182000
23,"Selling, general & administrative expenses",4831000,NaN,4952000,NaN,5197000,NaN,4426000,NaN,4458000,NaN,4783000,NaN,4108000,NaN,4150000,NaN,4231000,NaN,3783000,NaN,3718000,NaN,3946000,NaN,3441000,NaN,3423000,NaN,3848000,NaN,3564000,NaN,3460000,NaN,3600000,NaN,2850000,NaN,2932000,NaN,3053000,NaN,2645000,NaN,2672000,NaN,2840000,NaN,2545000,NaN,2339000,NaN,2605000,NaN,1915000,NaN,1763000,NaN,1896000,NaN,1438000,NaN,1220000,NaN,1288000,NaN,1010000,NaN,985000,NaN,1091000,NaN,916000,NaN,886000,NaN,960000,NaN,746000,NaN,680000,NaN,714000,NaN,584000,NaN,592000,NaN,632000
24,Total operating expenses,9589000,NaN,9517000,NaN,9648000,NaN,8683000,NaN,8406000,NaN,8685000,NaN,7809000,NaN,7528000,NaN,7638000,NaN,6720000,NaN,6494000,NaN,6817000,NaN,6001000,NaN,5934000,NaN,6252000,NaN,5598000,NaN,5378000,NaN,5495000,NaN,4453000,NaN,4354000,NaN,4383000,NaN,3823000,NaN,3791000,NaN,3850000,NaN,3421000,NaN,3180000,NaN,3363000,NaN,2543000,NaN,2344000,NaN,2471000,NaN,1902000,NaN,1646000,NaN,1686000,NaN,1351000,NaN,1304000,NaN,1406000,NaN,1208000,NaN,1159000,NaN,1206000,NaN,954000,NaN,863000,NaN,898000,NaN,759000,NaN,768000,NaN,814000
25,Operating income (loss),13091000,NaN,12853000,NaN,25569000,NaN,11544000,NaN,13415000,NaN,23346000,NaN,12612000,NaN,15894000,NaN,26274000,NaN,10768000,NaN,14097000,NaN,23359000,NaN,10105000,NaN,13987000,NaN,24171000,NaN,14083000,NaN,18278000,NaN,24246000,NaN,10282000,NaN,13593000,NaN,17463000,NaN,9201000,NaN,12558000,NaN,17210000,NaN,11573000,NaN,15384000,NaN,17340000,NaN,9379000,NaN,7874000,NaN,7827000,NaN,4234000,NaN,3979000,NaN,4725000,NaN,1672000,NaN,1667000,NaN,2126000,NaN,1392000,NaN,1315000,NaN,2126000,NaN,1041000,NaN,986000,NaN,1322000,NaN,566000,NaN,529000,NaN,750000
26,Interest & dividend income,901000,NaN,1049000,NaN,1045000,NaN,1190000,NaN,1358000,NaN,1307000,NaN,1418000,NaN,1505000,NaN,1452000,NaN,1327000,NaN,1282000,NaN,1224000,NaN,1036000,NaN,986000,NaN,941000,NaN,766000,NaN,675000,NaN,654000,NaN,439000,NaN,410000,NaN,427000,NaN,-,NaN,420000,NaN,421000,NaN,-,NaN,254000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-
27,Interest expense,697000,NaN,757000,NaN,785000,NaN,866000,NaN,1010000,NaN,890000,NaN,846000,NaN,792000,NaN,734000,NaN,602000,NaN,530000,NaN,525000,NaN,409000,NaN,321000,NaN,276000,NaN,201000,NaN,163000,NaN,131000,NaN,100000,NaN,85000,NaN,84000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-
28,"Other expense, net",-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,185000,NaN,-,NaN,-,NaN,263000,NaN,-,NaN,-,NaN,175000,NaN,-,NaN,-,NaN,137000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,13000,NaN,-,NaN,7000,NaN,4000,NaN,11000,NaN,7000
29,Interest income,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,168000,NaN,-,NaN,133000,NaN,99000,NaN,87000,NaN,88000
30,"Other income (expense), net",-158000,NaN,-10000,NaN,89000,NaN,43000,NaN,30000,NaN,143000,NaN,100000,NaN,-439000,NaN,38000,NaN,-,NaN,-165000,NaN,122000,NaN,-,NaN,-510000,NaN,-263000,NaN,-,NaN,-226000,NaN,-353000,NaN,-,NaN,-100000,NaN,-97000,NaN,-,NaN,-73000,NaN,41000,NaN,-,NaN,-106000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-
31,"Interest & other income (expense), net",-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,81000
32,"Other income (expense), net",46000,NaN,282000,NaN,349000,NaN,367000,NaN,378000,NaN,560000,NaN,672000,NaN,274000,NaN,756000,NaN,540000,NaN,587000,NaN,821000,NaN,364000,NaN,155000,NaN,402000,NaN,390000,NaN,286000,NaN,170000,NaN,202000,NaN,225000,NaN,246000,NaN,-,NaN,347000,NaN,462000,NaN,-,NaN,148000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,155000,NaN,-,NaN,126000,NaN,95000,NaN,76000,NaN,-
33,"Other income (expense), net",-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,234000,NaN,-,NaN,-,NaN,288000,NaN,-,NaN,137000,NaN,172000,NaN,26000,NaN,136000,NaN,58000,NaN,50000,NaN,33000,NaN,60000,NaN,63000,NaN,158000,NaN,118000,NaN,162000,NaN,200000,NaN,-,NaN,148000,NaN,-,NaN,-,NaN,-,NaN,-
34,Income (loss) before provision for income taxes,13137000,NaN,13135000,NaN,25918000,NaN,11911000,NaN,13793000,NaN,23906000,NaN,13284000,NaN,16168000,NaN,27030000,NaN,11308000,NaN,14684000,NaN,24180000,NaN,10469000,NaN,14142000,NaN,24573000,NaN,14473000,NaN,18564000,NaN,24416000,NaN,10484000,NaN,13818000,NaN,17709000,NaN,9435000,NaN,12905000,NaN,17672000,NaN,11861000,NaN,15532000,NaN,17477000,NaN,9551000,NaN,7900000,NaN,7963000,NaN,4292000,NaN,4029000,NaN,4758000,NaN,1732000,NaN,1730000,NaN,2284000,NaN,1510000,NaN,1477000,NaN,2326000,NaN,1196000,NaN,1134000,NaN,1448000,NaN,661000,NaN,605000,NaN,831000
35,Provision for (benefit from) income taxes,1884000,NaN,1886000,NaN,3682000,NaN,1867000,NaN,2232000,NaN,3941000,NaN,1765000,NaN,2346000,NaN,6965000,NaN,2591000,NaN,3655000,NaN,6289000,NaN,2673000,NaN,3626000,NaN,6212000,NaN,3796000,NaN,4995000,NaN,6392000,NaN,2736000,NaN,3595000,NaN,4637000,NaN,2535000,NaN,3358000,NaN,4594000,NaN,3037000,NaN,3910000,NaN,4413000,NaN,2243000,NaN,1913000,NaN,1959000,NaN,1039000,NaN,955000,NaN,1380000,NaN,503000,NaN,525000,NaN,679000,NaN,438000,NaN,432000,NaN,745000,NaN,378000,NaN,364000,NaN,444000,NaN,189000,NaN,195000,NaN,266000
36,Net income (loss),11253000,NaN,11249000,NaN,22236000,NaN,10044000,NaN,11561000,NaN,19965000,NaN,11519000,NaN,13822000,NaN,20065000,NaN,8717000,NaN,11029000,NaN,17891000,NaN,7796000,NaN,10516000,NaN,18361000,NaN,10677000,NaN,13569000,NaN,18024000,NaN,7748000,NaN,10223000,NaN,13072000,NaN,6900000,NaN,9547000,NaN,13078000,NaN,8824000,NaN,11622000,NaN,13064000,NaN,7308000,NaN,5987000,NaN,6004000,NaN,3253000,NaN,3074000,NaN,3378000,NaN,1229000,NaN,1205000,NaN,1605000,NaN,1072000,NaN,1045000,NaN,1581000,NaN,818000,NaN,770000,NaN,1004000,NaN,472000,NaN,410000,NaN,565000
37,Weighted average shares outstanding - basic,17250292,NaN,17440404,NaN,17660160,NaN,18282532,NaN,18696284,NaN,18943280,NaN,19528668,NaN,20099508,NaN,20451508,NaN,20780352,NaN,20903164,NaN,21194644,NaN,21772232,NaN,22057524,NaN,22235720,NaN,22919544,NaN,23175196,NaN,23372328,NaN,24050540,NaN,24493196,NaN,25090016,NaN,25721304,NaN,26309612,NaN,26289648,NaN,26224688,NaN,26140296,NaN,26069148,NaN,25931024,NaN,25849488,NaN,25740232,NaN,25541516,NaN,25411344,NaN,25299176,NaN,25023936,NaN,24953040,NaN,24895976,NaN,24744664,NaN,24627288,NaN,24524080,NaN,24270568,NaN,24164084,NaN,24015348,NaN,23838500,NaN,23545480,NaN,23261868
38,Weighted average shares outstanding - diluted,17419152,NaN,17618764,NaN,17818416,NaN,18405520,NaN,18802584,NaN,19093008,NaN,19706436,NaN,20273972,NaN,20631148,NaN,20933996,NaN,21046752,NaN,21311980,NaN,21891124,NaN,22163544,NaN,22376508,NaN,23092396,NaN,23339432,NaN,23527212,NaN,24206844,NaN,24626784,NaN,25240656,NaN,25879420,NaN,26488980,NaN,26522076,NaN,26517652,NaN,26457004,NaN,26364016,NaN,26258680,NaN,26206432,NaN,26128312,NaN,25966108,NaN,25840584,NaN,25753924,NaN,25456480,NaN,25283804,NaN,25241832,NaN,25288676,NaN,25181212,NaN,25201512,NaN,24938788,NaN,24826284,NaN,24732316,NaN,24538304,NaN,24599036,NaN,24477796
39,Year end shares outstanding,17135756,NaN,17295948,NaN,17539836,NaN,18125580,NaN,18429136,NaN,18919212,NaN,19371668,NaN,19773128,NaN,20326604,NaN,20679128,NaN,20823260,NaN,21021692,NaN,21572660,NaN,21913784,NaN,22177948,NaN,22821600,NaN,23049112,NaN,23305676,NaN,23956684,NaN,24128860,NaN,24988516,NaN,25436376,NaN,26322632,NaN,26291244,NaN,26243448,NaN,26179496,NaN,26101992,NaN,2.59533e+07,NaN,2.58909e+07,NaN,2.5789e+07,NaN,2.55775e+07,NaN,2.54698e+07,NaN,2.53759e+07,NaN,2.50806e+07,NaN,2.49735e+07,NaN,2.49316e+07,NaN,2.48009e+07,NaN,2.46801e+07,NaN,2.46016e+07,NaN,2.43365e+07,NaN,2.42114e+07,NaN,2.40862e+07,NaN,2.38837e+07,NaN,2.37773e+07,NaN,2.36773e+07

In [23]:
#getting unique years - whats the point?
print(set(stock_data.index.year))

{2016, 2017, 2018, 2019, 2020, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015}

In [24]:
IncomeStatement_Quarterly.iloc[[10, 17]]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89
10,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter,NaN,3rd Quarter,NaN,2nd Quarter,NaN,1st Quarter
17,Total net sales,59685000,NaN,58313000,NaN,91819000,NaN,53809000,NaN,58015000,NaN,84310000,NaN,53265000,NaN,61137000,NaN,88293000,NaN,45408000,NaN,52896000,NaN,78351000,NaN,42358000,NaN,50557000,NaN,75872000,NaN,49605000,NaN,58010000,NaN,74599000,NaN,37432000,NaN,45646000,NaN,57594000,NaN,35323000,NaN,43603000,NaN,54512000,NaN,35023000,NaN,39186000,NaN,46333000,NaN,28571000,NaN,24667000,NaN,26741000,NaN,15700000,NaN,13499000,NaN,15683000,NaN,8337000,NaN,8163000,NaN,10167000,NaN,7464000,NaN,7512000,NaN,9608000,NaN,5410000,NaN,5264000,NaN,7115000,NaN,4370000,NaN,4359000,NaN,5749000

In [25]:
def net_rev():
    net_rev = IncomeStatement_Quarterly.iloc[[9, 17]]
    net_rev = net_rev.T
    net_rev.reset_index(inplace = True)
    net_rev.drop('index', axis = 1, inplace = True)
    net_rev = net_rev[~(net_rev.index % 2 == 0)]
    net_rev = net_rev.rename(columns={9: "Date", 17: "Total Revenue"})
    return net_rev
net_rev = net_rev()
net_rev.head(8)

          Date Total Revenue
1   06/27/2020      59685000
3   03/28/2020      58313000
5   12/28/2019      91819000
7   06/29/2019      53809000
9   03/30/2019      58015000
11  12/29/2018      84310000
13  06/30/2018      53265000
15  03/31/2018      61137000

In [26]:
net_rev.index

Int64Index([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33,
            35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67,
            69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89],
           dtype='int64')

In [27]:
# Define years and month and insert into main DataFrame
# net_rev_years = pd.DatetimeIndex(net_rev['Date']).year
net_rev['Date'] = pd.to_datetime(net_rev['Date'])
net_rev_quarters = net_rev['Date'].dt.quarter
# net_rev.insert(1, "Year", years)
net_rev.head()

        Date Total Revenue
1 2020-06-27      59685000
3 2020-03-28      58313000
5 2019-12-28      91819000
7 2019-06-29      53809000
9 2019-03-30      58015000

In [28]:
net_rev.insert(1, "Quarter", net_rev_quarters)

#change dates to datetime format
net_rev['Date'] = pd.to_datetime(net_rev['Date'])
net_rev.reset_index(inplace = True)
net_rev.head()

   index       Date  Quarter Total Revenue
0      1 2020-06-27        2      59685000
1      3 2020-03-28        1      58313000
2      5 2019-12-28        4      91819000
3      7 2019-06-29        2      53809000
4      9 2019-03-30        1      58015000

In [29]:
# net_rev['Date'].dt.quarter
net_rev.head()

   index       Date  Quarter Total Revenue
0      1 2020-06-27        2      59685000
1      3 2020-03-28        1      58313000
2      5 2019-12-28        4      91819000
3      7 2019-06-29        2      53809000
4      9 2019-03-30        1      58015000

In [30]:
net_rev.drop('index', axis = 1, inplace = True)

In [31]:
display(dec_df13.head(), net_rev.head())

                 Close      High       Low
Year Quarter
2005 1        1.411996  1.433908  1.390404
     2        1.352740  1.375603  1.332132
     3        1.632829  1.650273  1.608292
     4        2.267874  2.295085  2.232783
2006 1        2.505685  2.559983  2.467074

        Date  Quarter Total Revenue
0 2020-06-27        2      59685000
1 2020-03-28        1      58313000
2 2019-12-28        4      91819000
3 2019-06-29        2      53809000
4 2019-03-30        1      58015000

In [32]:
# print(net_rev['Date'].dt.year)

In [33]:
net_rev['Date'] = net_rev['Date'].dt.year
net_rev = net_rev.rename(columns = {'Date' : 'Year'})

In [34]:
net_rev

    Year  Quarter Total Revenue
0   2020        2      59685000
1   2020        1      58313000
2   2019        4      91819000
3   2019        2      53809000
4   2019        1      58015000
5   2018        4      84310000
6   2018        2      53265000
7   2018        1      61137000
8   2017        4      88293000
9   2017        3      45408000
10  2017        2      52896000
11  2016        4      78351000
12  2016        2      42358000
13  2016        1      50557000
14  2015        4      75872000
15  2015        2      49605000
16  2015        1      58010000
17  2014        4      74599000
18  2014        2      37432000
19  2014        1      45646000
20  2013        4      57594000
21  2013        2      35323000
22  2013        1      43603000
23  2012        4      54512000
24  2012        2      35023000
25  2012        1      39186000
26  2011        4      46333000
27  2011        2      28571000
28  2011        1      24667000
29  2010        4      26741000
30  2010        2      15700000
31  2010        1      13499000
32  2009        4      15683000
33  2009        2       8337000
34  2009        1       8163000
35  2008        4      10167000
36  2008        2       7464000
37  2008        1       7512000
38  2007        4       9608000
39  2007        2       5410000
40  2007        1       5264000
41  2006        4       7115000
42  2006        3       4370000
43  2006        2       4359000
44  2005        4       5749000

In [35]:
try:
    filter = net_rev['Total Revenue']=="-"
# printing only filtered columns 
    net_rev['Total Revenue'][filter] = net_rev['Total Revenue'].iloc[15]
# net_rev.where(filter).fillna(method = "bfill") 
# net_rev['Total Revenue'].str.replace('-', NaN)
    net_rev['Total Revenue'].iloc[16]
# net_rev['Total Revenue'][filter]
except:
    print(" no - found in data")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [36]:
net_rev

    Year  Quarter Total Revenue
0   2020        2      59685000
1   2020        1      58313000
2   2019        4      91819000
3   2019        2      53809000
4   2019        1      58015000
5   2018        4      84310000
6   2018        2      53265000
7   2018        1      61137000
8   2017        4      88293000
9   2017        3      45408000
10  2017        2      52896000
11  2016        4      78351000
12  2016        2      42358000
13  2016        1      50557000
14  2015        4      75872000
15  2015        2      49605000
16  2015        1      58010000
17  2014        4      74599000
18  2014        2      37432000
19  2014        1      45646000
20  2013        4      57594000
21  2013        2      35323000
22  2013        1      43603000
23  2012        4      54512000
24  2012        2      35023000
25  2012        1      39186000
26  2011        4      46333000
27  2011        2      28571000
28  2011        1      24667000
29  2010        4      26741000
30  2010        2      15700000
31  2010        1      13499000
32  2009        4      15683000
33  2009        2       8337000
34  2009        1       8163000
35  2008        4      10167000
36  2008        2       7464000
37  2008        1       7512000
38  2007        4       9608000
39  2007        2       5410000
40  2007        1       5264000
41  2006        4       7115000
42  2006        3       4370000
43  2006        2       4359000
44  2005        4       5749000

In [37]:
net_rev['Total Revenue'] = net_rev['Total Revenue'].astype('int')

In [38]:
net_rev.head()

   Year  Quarter  Total Revenue
0  2020        2       59685000
1  2020        1       58313000
2  2019        4       91819000
3  2019        2       53809000
4  2019        1       58015000

In [39]:
# Getting price based on quarters 
net_rev1 = pd.pivot_table(net_rev, index=['Year', 'Quarter'], values=['Total Revenue'])
net_rev1

              Total Revenue
Year Quarter
2005 4              5749000
2006 2              4359000
     3              4370000
     4              7115000
2007 1              5264000
     2              5410000
     4              9608000
2008 1              7512000
     2              7464000
     4             10167000
2009 1              8163000
     2              8337000
     4             15683000
2010 1             13499000
     2             15700000
     4             26741000
2011 1             24667000
     2             28571000
     4             46333000
2012 1             39186000
     2             35023000
     4             54512000
2013 1             43603000
     2             35323000
     4             57594000
2014 1             45646000
     2             37432000
     4             74599000
2015 1             58010000
     2             49605000
     4             75872000
2016 1             50557000
     2             42358000
     4             78351000
2017 2             52896000
     3             45408000
     4             88293000
2018 1             61137000
     2             53265000
     4             84310000
2019 1             58015000
     2             53809000
     4             91819000
2020 1             58313000
     2             59685000

In [40]:
net_rev1.head(10)

              Total Revenue
Year Quarter
2005 4              5749000
2006 2              4359000
     3              4370000
     4              7115000
2007 1              5264000
     2              5410000
     4              9608000
2008 1              7512000
     2              7464000
     4             10167000

In [41]:
#trying to add third quarter data as average of 2nd and 4th quarter
# # print(net_rev1.index)
# year_quarter = {}
# for year, quarter in net_rev1.index:
# #     print(quarter)
#     year_quarter[year] = quarter
# #     if quarter == 2:
        
# #    print((quarter, quarter % 3 == 1))
# #     net_rev['Quarter'].insert(3)
# print(year_quarter)

In [42]:
net_rev = net_rev1

In [43]:
display(net_rev.head(), dec_df13.head())

              Total Revenue
Year Quarter
2005 4              5749000
2006 2              4359000
     3              4370000
     4              7115000
2007 1              5264000

                 Close      High       Low
Year Quarter
2005 1        1.411996  1.433908  1.390404
     2        1.352740  1.375603  1.332132
     3        1.632829  1.650273  1.608292
     4        2.267874  2.295085  2.232783
2006 1        2.505685  2.559983  2.467074

In [44]:
#merging net_revenue into main dataframe (dec_df)
dec_df = pd.merge(dec_df13, net_rev, left_index = True,right_index = True,  how = 'outer')
dec_df.head()

                 Close      High       Low  Total Revenue
Year Quarter
2005 1        1.411996  1.433908  1.390404            NaN
     2        1.352740  1.375603  1.332132            NaN
     3        1.632829  1.650273  1.608292            NaN
     4        2.267874  2.295085  2.232783      5749000.0
2006 1        2.505685  2.559983  2.467074            NaN

In [45]:
# net_rev_test = net_rev.copy()
# net_rev_test['Date'] = pd.to_datetime(net_rev_test['Date']).dt.strftime('%Y-%m-%d')
# #                 pd.to_datetime(df['column'], format = "%Y%m%d").dt.strftime('%Y-%m-%d')
# net_rev_test['Date'] = pd.to_datetime(net_rev_test['Date'])
# net_rev_quarters = net_rev_test['Date'].dt.quarter
# net_rev = net_rev.insert(1, 'Quarters', net_rev_quarters)
# display(net_rev_test.head(), net_rev_test.dtypes)

In [46]:
dec_df.head()

                 Close      High       Low  Total Revenue
Year Quarter
2005 1        1.411996  1.433908  1.390404            NaN
     2        1.352740  1.375603  1.332132            NaN
     3        1.632829  1.650273  1.608292            NaN
     4        2.267874  2.295085  2.232783      5749000.0
2006 1        2.505685  2.559983  2.467074            NaN

In [47]:
dec_df['Total Revenue'] = dec_df['Total Revenue'].bfill()
dec_df

                   Close        High         Low  Total Revenue
Year Quarter
2005 1          1.411996    1.433908    1.390404      5749000.0
     2          1.352740    1.375603    1.332132      5749000.0
     3          1.632829    1.650273    1.608292      5749000.0
     4          2.267874    2.295085    2.232783      5749000.0
2006 1          2.505685    2.559983    2.467074      4359000.0
     2          2.286786    2.328282    2.255096      4359000.0
     3          2.364666    2.395510    2.328226      4370000.0
     4          2.958299    2.993095    2.922098      7115000.0
2007 1          3.161434    3.198688    3.124374      5264000.0
     2          3.868152    3.911213    3.819632      5410000.0
     3          4.843560    4.917976    4.756417      9608000.0
     4          6.378103    6.478594    6.254314      9608000.0
2008 1          4.969239    5.091739    4.861475      7512000.0
     2          6.198811    6.287919    6.089431      7464000.0
     3          5.719330    5.841925    5.604046     10167000.0
     4          3.390580    3.504258    3.277282     10167000.0
2009 1          3.341932    3.404854    3.276996      8163000.0
     2          4.621905    4.674467    4.550397      8337000.0
     3          5.865184    5.913728    5.804018     15683000.0
     4          7.045586    7.121797    6.978984     15683000.0
2010 1          7.530539    7.605164    7.447541     13499000.0
     2          9.097817    9.215408    8.952097     15700000.0
     3          9.282327    9.375893    9.172846     26741000.0
     4         11.124810   11.199632   11.035692     26741000.0
2011 1         12.345830   12.433525   12.223433     24667000.0
     2         12.057585   12.168316   11.964943     28571000.0
     3         13.589654   13.743108   13.414397     46333000.0
     4         13.987806   14.123345   13.849422     46333000.0
2012 1         17.988566   18.112079   17.793992     39186000.0
     2         20.753220   21.005403   20.527902     35023000.0
     3         22.876553   23.032630   22.669093     54512000.0
     4         20.634424   20.927817   20.386187     54512000.0
2013 1         16.649083   16.863107   16.481637     43603000.0
     2         15.383677   15.582623   15.222015     35323000.0
     3         16.580195   16.742271   16.435720     57594000.0
     4         18.891892   19.033917   18.737980     57594000.0
2014 1         19.021592   19.174455   18.879549     45646000.0
     2         21.279382   21.413271   21.106015     37432000.0
     3         24.540859   24.739531   24.327422     74599000.0
     4         27.205313   27.465469   26.948008     74599000.0
2015 1         30.194262   30.514057   29.889016     58010000.0
     2         31.984524   32.242222   31.759048     49605000.0
     3         29.325859   29.688789   28.963242     75872000.0
     4         28.574844   28.839141   28.291836     75872000.0
2016 1         24.913770   25.169385   24.618688     50557000.0
     2         24.850313   25.066563   24.645742     42358000.0
     3         26.466523   26.629531   26.276172     78351000.0
     4         28.349762   28.540159   28.122936     78351000.0
2017 1         32.928145   33.041290   32.713387     52896000.0
     2         36.968849   37.205000   36.719960     52896000.0
     3         38.792262   39.065119   38.494127     45408000.0
     4         41.787064   42.018294   41.486230     88293000.0
2018 1         43.047828   43.524303   42.654017     61137000.0
     2         45.349141   45.678125   44.980117     53265000.0
     3         52.075000   52.473532   51.630238     84310000.0
     4         48.478016   49.216905   47.816468     84310000.0
2019 1         42.415943   42.764181   41.969795     58015000.0
     2         48.723175   49.139563   48.247698     53809000.0
     3         52.280195   52.753438   51.826523     91819000.0
     4         64.332187   64.668281   63.725820     91819000.0
2020 1         73.540927   74.693105   72.257581     58313000.0
     2         77.490317   78.341389   76.394960     59685000.0
     3        109.115351  110.836680  107.262734            NaN
     4        116.555905  118.189000  115.080750            NaN

In [48]:
mask = data_IncomeStatement_full[0].str.contains('share', case=False, na=False)
# mask = data_IncomeStatement_full[0].fillna(1)
mask.isnull().sum()

0

In [49]:
data_IncomeStatement_full[mask]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89
38,Weighted average shares outstanding - basic,17250292,NaN,17440404,NaN,17660160,NaN,18282532,NaN,18696284,NaN,18943280,NaN,19528668,NaN,20099508,NaN,20451508,NaN,20780352,NaN,20903164,NaN,21194644,NaN,21772232,NaN,22057524,NaN,22235720,NaN,22919544,NaN,23175196,NaN,23372328,NaN,24050540,NaN,24493196,NaN,25090016,NaN,25721304,NaN,26309612,NaN,26289648,NaN,26224688,NaN,26140296,NaN,26069148,NaN,25931024,NaN,25849488,NaN,25740232,NaN,25541516,NaN,25411344,NaN,25299176,NaN,25023936,NaN,24953040,NaN,24895976,NaN,24744664,NaN,24627288,NaN,24524080,NaN,24270568,NaN,24164084,NaN,24015348,NaN,23838500,NaN,23545480,NaN,23261868
39,Weighted average shares outstanding - diluted,17419152,NaN,17618764,NaN,17818416,NaN,18405520,NaN,18802584,NaN,19093008,NaN,19706436,NaN,20273972,NaN,20631148,NaN,20933996,NaN,21046752,NaN,21311980,NaN,21891124,NaN,22163544,NaN,22376508,NaN,23092396,NaN,23339432,NaN,23527212,NaN,24206844,NaN,24626784,NaN,25240656,NaN,25879420,NaN,26488980,NaN,26522076,NaN,26517652,NaN,26457004,NaN,26364016,NaN,26258680,NaN,26206432,NaN,26128312,NaN,25966108,NaN,25840584,NaN,25753924,NaN,25456480,NaN,25283804,NaN,25241832,NaN,25288676,NaN,25181212,NaN,25201512,NaN,24938788,NaN,24826284,NaN,24732316,NaN,24538304,NaN,24599036,NaN,24477796
40,Year end shares outstanding,17135756,NaN,17295948,NaN,17539836,NaN,18125580,NaN,18429136,NaN,18919212,NaN,19371668,NaN,19773128,NaN,20326604,NaN,20679128,NaN,20823260,NaN,21021692,NaN,21572660,NaN,21913784,NaN,22177948,NaN,22821600,NaN,23049112,NaN,23305676,NaN,23956684,NaN,24128860,NaN,24988516,NaN,25436376,NaN,26322632,NaN,26291244,NaN,26243448,NaN,26179496,NaN,26101992,NaN,2.59533e+07,NaN,2.58909e+07,NaN,2.5789e+07,NaN,2.55775e+07,NaN,2.54698e+07,NaN,2.53759e+07,NaN,2.50806e+07,NaN,2.49735e+07,NaN,2.49316e+07,NaN,2.48009e+07,NaN,2.46801e+07,NaN,2.46016e+07,NaN,2.43365e+07,NaN,2.42114e+07,NaN,2.40862e+07,NaN,2.38837e+07,NaN,2.37773e+07,NaN,2.36773e+07
41,Net earnings (loss) per share - basic,0.653,NaN,0.645,NaN,1.26,NaN,0.55,NaN,0.618,NaN,1.055,NaN,0.59,NaN,0.688,NaN,0.98,NaN,0.42,NaN,0.528,NaN,0.845,NaN,0.358,NaN,0.478,NaN,0.825,NaN,0.465,NaN,0.585,NaN,0.77,NaN,0.323,NaN,0.418,NaN,0.521,NaN,0.268,NaN,0.363,NaN,0.498,NaN,0.336,NaN,0.445,NaN,0.501,NaN,0.282,NaN,0.232,NaN,0.233,NaN,0.128,NaN,0.121,NaN,0.134,NaN,0.049,NaN,0.048,NaN,0.065,NaN,0.043,NaN,0.043,NaN,0.065,NaN,0.034,NaN,0.032,NaN,0.042,NaN,0.02,NaN,0.018,NaN,0.024
42,Net earnings (loss) per share - diluted,0.645,NaN,0.638,NaN,1.248,NaN,0.545,NaN,0.615,NaN,1.045,NaN,0.585,NaN,0.683,NaN,0.973,NaN,0.418,NaN,0.525,NaN,0.84,NaN,0.355,NaN,0.475,NaN,0.82,NaN,0.463,NaN,0.583,NaN,0.765,NaN,0.32,NaN,0.415,NaN,0.518,NaN,0.267,NaN,0.36,NaN,0.493,NaN,0.333,NaN,0.439,NaN,0.495,NaN,0.278,NaN,0.229,NaN,0.23,NaN,0.125,NaN,0.119,NaN,0.131,NaN,0.048,NaN,0.048,NaN,0.064,NaN,0.043,NaN,0.041,NaN,0.063,NaN,0.033,NaN,0.031,NaN,0.041,NaN,0.019,NaN,0.017,NaN,0.023
43,Cash dividends declared per share,0.205,NaN,0.193,NaN,0.193,NaN,0.193,NaN,0.183,NaN,0.183,NaN,0.183,NaN,0.158,NaN,0.158,NaN,0.158,NaN,0.143,NaN,0.143,NaN,0.143,NaN,0.13,NaN,0.13,NaN,0.13,NaN,0.118,NaN,0.118,NaN,0.118,NaN,0.109,NaN,0.109,NaN,0.109,NaN,0.095,NaN,0.095,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-

In [50]:
avg_shares1 = data_IncomeStatement.iloc[[10, 39]]
avg_shares1 = avg_shares1.T
avg_shares1.head()

           10        39
1  06/27/2020  17419152
3  03/28/2020  17618764
5  12/28/2019  17818416
7  06/29/2019  18405520
9  03/30/2019  18802584

In [51]:
#adding quarters and merging with dec_df
avg_shares1.rename(columns = {10 : "Date", 39 : "Avg_Shares"}, inplace = True)

avg_shares1['Date'] = pd.to_datetime(avg_shares1['Date'])
avg_shares_quarters = avg_shares1['Date'].dt.quarter
avg_shares_years = avg_shares1['Date'].dt.year

# # #change dates to datetime format
avg_shares1['Date'] = pd.to_datetime(avg_shares1['Date'])

#sort years from low to high in order to fit with dec_df
avg_shares1.sort_values(by=['Date'], inplace=True)
# avg_shares1.reset_index(inplace = True)
# avg_shares1.drop(['index', 'level_0'], axis = 1, inplace = True)
# avg_shares1.drop('index', axis = 1, inplace = True)
avg_shares1.insert(1, "Year", avg_shares_years)
avg_shares1.insert(2, "Quarter", avg_shares_quarters)

avg_shares1

         Date  Year  Quarter Avg_Shares
89 2005-12-31  2005        4   24477796
87 2006-04-01  2006        2   24599036
85 2006-07-01  2006        3   24538304
83 2006-12-30  2006        4   24732316
81 2007-03-31  2007        1   24826284
79 2007-06-30  2007        2   24938788
77 2007-12-29  2007        4   25201512
75 2008-03-29  2008        1   25181212
73 2008-06-28  2008        2   25288676
71 2008-12-27  2008        4   25241832
69 2009-03-28  2009        1   25283804
67 2009-06-27  2009        2   25456480
65 2009-12-26  2009        4   25753924
63 2010-03-27  2010        1   25840584
61 2010-06-26  2010        2   25966108
59 2010-12-25  2010        4   26128312
57 2011-03-26  2011        1   26206432
55 2011-06-25  2011        2   26258680
53 2011-12-31  2011        4   26364016
51 2012-03-31  2012        1   26457004
49 2012-06-30  2012        2   26517652
47 2012-12-29  2012        4   26522076
45 2013-03-30  2013        1   26488980
43 2013-06-29  2013        2   25879420
41 2013-12-28  2013        4   25240656
39 2014-03-29  2014        1   24626784
37 2014-06-28  2014        2   24206844
35 2014-12-27  2014        4   23527212
33 2015-03-28  2015        1   23339432
31 2015-06-27  2015        2   23092396
29 2015-12-26  2015        4   22376508
27 2016-03-26  2016        1   22163544
25 2016-06-25  2016        2   21891124
23 2016-12-31  2016        4   21311980
21 2017-04-01  2017        2   21046752
19 2017-07-01  2017        3   20933996
17 2017-12-30  2017        4   20631148
15 2018-03-31  2018        1   20273972
13 2018-06-30  2018        2   19706436
11 2018-12-29  2018        4   19093008
9  2019-03-30  2019        1   18802584
7  2019-06-29  2019        2   18405520
5  2019-12-28  2019        4   17818416
3  2020-03-28  2020        1   17618764
1  2020-06-27  2020        2   17419152

In [52]:
avg_shares1['Avg_Shares'] = avg_shares1['Avg_Shares'].astype('int64')
avg_shares1.dtypes

Date          datetime64[ns]
Year                   int64
Quarter                int64
Avg_Shares             int64
dtype: object

In [53]:
# Getting price based on quarters 
avg_shares1 = pd.pivot_table(avg_shares1, index=['Year', 'Quarter'], values=['Avg_Shares'])
avg_shares1

              Avg_Shares
Year Quarter
2005 4          24477796
2006 2          24599036
     3          24538304
     4          24732316
2007 1          24826284
     2          24938788
     4          25201512
2008 1          25181212
     2          25288676
     4          25241832
2009 1          25283804
     2          25456480
     4          25753924
2010 1          25840584
     2          25966108
     4          26128312
2011 1          26206432
     2          26258680
     4          26364016
2012 1          26457004
     2          26517652
     4          26522076
2013 1          26488980
     2          25879420
     4          25240656
2014 1          24626784
     2          24206844
     4          23527212
2015 1          23339432
     2          23092396
     4          22376508
2016 1          22163544
     2          21891124
     4          21311980
2017 2          21046752
     3          20933996
     4          20631148
2018 1          20273972
     2          19706436
     4          19093008
2019 1          18802584
     2          18405520
     4          17818416
2020 1          17618764
     2          17419152

In [54]:
#merging net_revenue into main dataframe (dec_df)
dec_df = pd.merge(dec_df, avg_shares1, left_index = True,right_index = True,  how = 'outer')
dec_df.head()

                 Close      High       Low  Total Revenue  Avg_Shares
Year Quarter
2005 1        1.411996  1.433908  1.390404      5749000.0         NaN
     2        1.352740  1.375603  1.332132      5749000.0         NaN
     3        1.632829  1.650273  1.608292      5749000.0         NaN
     4        2.267874  2.295085  2.232783      5749000.0  24477796.0
2006 1        2.505685  2.559983  2.467074      4359000.0         NaN

In [55]:
test = IncomeStatement_Quarterly.iloc[[9, 39]]
test.iloc[1][0]

'Year end shares outstanding'

In [60]:
import os
os.getcwd()

'C:\\Users\\User\\github\\Guided-Capstone'

In [59]:
dec_df_copy = dec_df.copy()

def data_cleaning(df, row):
    

    #getting net income per share and merging with main dec_df
    param = df.iloc[[9, row]]
    param_name = param.iloc[1][0].title()
      
    param.drop('Unnamed: 0', axis = 1, inplace = True)
#     param.columns = param.iloc[0]
#     
#     param.reset_index(inplace = True)
    #adding quarters and merging with dec_df
    param = param.T
    param.rename(columns = {9 : "Date", row : "{}".format(param_name)}, inplace = True)
    param.reset_index(inplace = True)
    param.drop('index', axis = 1, inplace = True)
    param = param[~(param.index % 2 == 1)]
    param['Date'] = pd.to_datetime(param['Date'])
    param_quarters = param['Date'].dt.quarter
    param_years = param['Date'].dt.year

    # # #change dates to datetime format
    param['Date'] = pd.to_datetime(param['Date'])

    #sort years from low to high in order to fit with dec_df
    param.sort_values(by=['Date'], inplace=True)
    # avg_shares1.reset_index(inplace = True)
    # avg_shares1.drop(['index', 'level_0'], axis = 1, inplace = True)
    # avg_shares1.drop('index', axis = 1, inplace = True)
    param.insert(1, "Year", param_years)
    param.insert(2, "Quarter", param_quarters)
    param[param_name] = param[param_name].astype('int64')
    param = param.pivot_table(index=['Year', 'Quarter'], values=param_name, aggfunc='mean')
    global dec_df_final
    dec_df_final = pd.merge(dec_df_copy, param, left_index = True,right_index = True,  how = 'outer')
    dec_df_final[param_name] = dec_df_final[param_name].bfill()
#     global dec_df_copy
#     dec_df_copy = dec_df_final
    return dec_df_final
dec_df_copy = data_cleaning()
global dec_df_final

TypeError: data_cleaning() missing 2 required positional arguments: 'df' and 'row'

In [ ]:
dec_df_final = data_cleaning(IncomeStatement_Quarterly, 39)
dec_df_final

In [ ]:
# mask = data_IncomeStatement_full[0].str.contains('share', case=False, na=False)
mask = IncomeStatement_Quarterly['Unnamed: 0'].str.contains('income', case=False, na=False)
IncomeStatement_Quarterly[mask]

In [ ]:
dec_df_final = data_cleaning(IncomeStatement_Quarterly, 36 )
dec_df_final

In [ ]:
#getting net income per share and merging with main dec_df
Net_inc_per_share = data_IncomeStatement.iloc[[10, 39]]
Net_inc_per_share.reset_index(inplace = True)
Net_inc_per_share.drop('index', axis = 1, inplace = True)
Net_inc_per_share.columns = Net_inc_per_share.iloc[0]
Net_inc_per_share.drop(0, axis = 0, inplace = True)
# Net_inc_per_share.drop('10', inplace = True)
Net_inc_per_share

In [ ]:
import os
os.getcwd()

In [ ]:
Net_inc_per_share.head()

In [ ]:
#adding quarters and merging with dec_df
Net_inc_per_share.rename(columns = {"Date" : "Year", 39 : "Avg_Shares"}, inplace = True)

avg_shares1['Date'] = pd.to_datetime(avg_shares1['Date'])
avg_shares_quarters = avg_shares1['Date'].dt.quarter
avg_shares_years = avg_shares1['Date'].dt.year

# # #change dates to datetime format
avg_shares1['Date'] = pd.to_datetime(avg_shares1['Date'])

#sort years from low to high in order to fit with dec_df
avg_shares1.sort_values(by=['Date'], inplace=True)
# avg_shares1.reset_index(inplace = True)
# avg_shares1.drop(['index', 'level_0'], axis = 1, inplace = True)
# avg_shares1.drop('index', axis = 1, inplace = True)
avg_shares1.insert(1, "Year", avg_shares_years)
avg_shares1.insert(2, "Quarter", avg_shares_quarters)

avg_shares1

In [ ]:
# #getting net income per share and merging with main dec_df
# Net_inc_per_share = data_IncomeStatement.iloc[[10, 37]]
# Net_inc_per_share.reset_index()
# Net_inc_per_share.columns = Net_inc_per_share.iloc[0]

# Net_inc_per_share.reset_index(inplace = True)
# Net_inc_per_share = Net_inc_per_share.drop(0, axis = 0).T
# Net_inc_per_share = Net_inc_per_share.drop('index', axis = 0)
# Net_inc_per_share.reset_index(inplace = True)
# # Net_inc_per_share = Net_inc_per_share.T
# Net_inc_per_share = Net_inc_per_share[~(Net_inc_per_share.index % 2 == 0)]
# Net_inc_per_share = Net_inc_per_share.rename(columns={10 : "Date", 1 : "Net Income Per Share"})
# Net_inc_per_share['Net Income Per Share'] = Net_inc_per_share['Net Income Per Share']/ avg_shares1
# Net_inc_per_share

In [ ]:
#defining average shares
def avg_shares():
    avg_shares = data_IncomeStatement.iloc[[10, 58]]
    avg_shares.reset_index(inplace=True)
    avg_shares = avg_shares.drop('index', axis = 1)
    avg_shares = avg_shares.T
    avg_shares = avg_shares.drop(0)
    avg_shares = avg_shares.rename(columns={0: "Date", 1: "Avg Shares"})
    avg_shares.reset_index(drop = True)
    avg_shares.index = avg_shares.index.astype('int64')
    avg_shares = avg_shares[~(avg_shares.index % 2 == 0)] 
    avg_shares.Date = pd.to_datetime(avg_shares.Date)
    avg_shares['Date'] = avg_shares['Date'].dt.year
    avg_shares = avg_shares[:13]
    return avg_shares
avg_shares = avg_shares()

In [ ]:
avg_shares = avg_shares[::-1]

In [ ]:
avg_shares

In [ ]:
dec_df = pd.merge(dec_df, avg_shares, how = 'outer')

In [ ]:
type(dec_df['Total Revenue'])

In [ ]:
dec_df

In [ ]:
#changing Total Revenue data type from object to int64
# dec_df1 = dec_df.copy()
# dec_df1['Total Revenue'] = dec_df1['Total Revenue'].fillna(0).astype('int64')
# dec_df1['Avg Shares'] = dec_df1['Avg Shares'].fillna(0).astype('int64')

dec_df['Sales per Share'] = (dec_df['Total Revenue'] / dec_df['Avg Shares'])
# Third position would be at index 2, because of zero-indexing.
dec_df.insert(4, '%Rev Growth', (dec_df['Total Revenue'].pct_change())*100)

dec_df.insert(7, '%Annual Sales Growth', (dec_df['Sales per Share'].pct_change())*100)
dec_df.index.name = "Symbol: "+ get_stock_info
#Adding high and low range for price per Annual Sales
dec_df['High Price/Share'] = dec_df["Sales per Share"]/dec_df["High"]
dec_df['Low Price/Share'] = dec_df["Sales per Share"]/dec_df["Low"]

In [ ]:
# val_mod.reset_index().drop('index', axis = 1)

In [ ]:
# val_mod = val_mod.T

In [ ]:
# val_mod.title = get_stock_info

In [ ]:
display(dec_df)

In [ ]:
# from urllib.request import urlopen
# import requests
# from bs4 import BeautifulSoup

# url = 'http://www.marketwatch.com/investing/stock/{}/financials'.format(get_stock_info)
# text_soup = BeautifulSoup(urlopen(url).read()) #read in

# titles = text_soup.findAll(td, {'class': 'rowTitle'})
# print(titles)
# for title in titles:
#     if 'EPS (Basic)' in title.text:
#         print ([td.text for td in title.findNextSiblings(attrs={'class': 'valueCell'}) if td.text])

In [ ]:
get_stock_info

In [ ]:
# results = requests.get('http://www.marketwatch.com/investing/stock/{}/financials'.format(get_stock_info))
# print(results)
# # print(results.headers)
# src = results.content
# Soup = BeautifulSoup(src, 'lxml')
# links = Soup.find_all('a')
# # print(links)
# for link in links:
#     if 'EPS' in  link:
#         print(link)
#         print(link.attr['href'])

In [ ]:
#key historic metrics from FinancialModelingPrep & Yahoo Finance (good source)
import FundamentalAnalysis as fa

# Variables
ticker = "AAPL"
api_key = '71b43c3b9db8001d692abeb097117fd9'


# get enterprise value
enterprise_value = fa.enterprise(ticker, api_key)
enterprise_value

In [ ]:
#setting the DataFrame options so it shows actual number instead of the 
# number e to the power of another number
# pd.set_option('display.float_format', lambda x: '%.2f' % x)
# dec_df['3 Year Average High'] =

In [ ]:
key_mtrcs = fa.key_metrics(ticker, api_key)
key_mtrcs

In [ ]:
key_metrics = key_mtrcs.T
key_mtrcs.index.get_loc('peRatio')
key_metrics = key_metrics.reset_index().rename(columns={'index': "Date"})
key_metrics.T.sort_index()

In [ ]:
#getting data from key_metrics DataFrame to fill missing data
key_mtrcs = key_mtrcs[key_mtrcs.columns[:13]].T
key_mtrcs

In [ ]:
# key_mtrcs.drop('index', inplace = True)
key_mtrcs.reset_index(inplace = True)
key_mtrcs.rename(columns = {"index" : 'Date'}, inplace = True)

In [ ]:
key_mtrcs

In [ ]:
#defining all elements of decision dataframe :

#free cashflow per share from key_metrics
cash_per_share = key_metrics[['Date', 'freeCashFlowPerShare']][0:13]

#fixing date time type
cash_per_share['Date'] = pd.to_datetime(cash_per_share['Date'])
cash_per_share['Date'] = cash_per_share['Date'].dt.year
dec_df = pd.merge(dec_df, cash_per_share, how = 'outer')

In [ ]:
#get price to earnings ratio from key_matrics chart
PEratio = key_metrics[['Date', 'peRatio']]

#convert to proper date time format and limit history 10 years back
PEratio = PEratio[0:13]
PEratio['Date'] = pd.to_datetime(PEratio['Date'])
PEratio['Date'] = PEratio['Date'].dt.year
dec_df = pd.merge(dec_df, PEratio, how = 'outer')

dec_df = dec_df.rename(columns={'peRatio': "P/E ratio"})

In [ ]:

#defining net income per share in order to get cash flow to net earnings ratio
Net_inc_per_share = data_IncomeStatement.iloc[[10, 62]]
Net_inc_per_share.reset_index(inplace = True)
Net_inc_per_share =Net_inc_per_share.drop(['index'] ,axis = 1)

Net_inc_per_share = Net_inc_per_share.T

Net_inc_per_share = Net_inc_per_share.rename(columns={0: "Date", 1 : 'Net Income Per Share' })
Net_inc_per_share.drop(Net_inc_per_share.index[0], inplace = True)

deletable_list = [x-1  for x in range(len(Net_inc_per_share.index))if x%2 == 0 and x != 0]
Net_inc_per_share.drop(Net_inc_per_share.index[deletable_list], inplace = True)

#convert date to datetime
Net_inc_per_share['Date'] = pd.to_datetime(Net_inc_per_share['Date'])
Net_inc_per_share['Date'] = Net_inc_per_share['Date'].dt.year

Net_inc_per_share = Net_inc_per_share[:13]

dec_df = pd.merge(dec_df, Net_inc_per_share, how = 'outer')

dec_df

In [ ]:
# dec_df = dec_df[:17]

In [ ]:
# dec_df.drop('P/E ratio', axis = 1, inplace = True)

In [ ]:
dec_df

In [ ]:
#cashflow, High & Low PCF and earnings per share
dec_df['freeCashFlowPerShare'] = key_mtrcs['freeCashFlowPerShare']
dec_df['Cash flow to net earnings ratio'] = (dec_df['freeCashFlowPerShare']/dec_df['Net Income Per Share']) * 100
High_PCF = dec_df['High PCF'] = (dec_df['freeCashFlowPerShare']/dec_df['High']) * 100
Low_PCF = dec_df['Low PCF'] = (dec_df['freeCashFlowPerShare']/dec_df['Low']) * 100
dec_df['Earnings Per Share'] = ((dec_df['High']+dec_df['Low'])/2)/dec_df['P/E ratio']

In [ ]:
dec_df

In [ ]:
data_IncomeStatement.iloc[[10, 63]]

In [ ]:
#just for fun
# import numpy as np
# import matplotlib.pyplot as plt

# data['log+1'] = (data['Adj Close']+1).transform(np.log)
# plt.plot(data['Date'], data['Adj Close'])
# plt.title('AAPl')
# plt.ylabel("USD$")
# # plt.axis(data.Date)
# plt.show()

In [ ]:
Dividendo1 = data_IncomeStatement.iloc[63]
# Dividendo1[net_rev[~(net_rev.index % 2 == 0)]]
# net_rev = net_rev[~(net_rev.index % 2 == 0)]
Dividendo1[Dividendo1[~(Dividendo1.index % 2 == 0)]]

In [ ]:
# Third position would be at index 2, because of zero-indexing.
dec_df['EPS % change'] = dec_df['Earnings Per Share'].pct_change()*100
dec_df.insert(11, 'High PE', (dec_df['High']/dec_df['Earnings Per Share']))
dec_df.insert(12, 'Low PE', (dec_df['Low']/dec_df['Earnings Per Share']))
key_fin_ratios = fa.financial_ratios(ticker, api_key)

#getting dividend per share
Dividend_per_share = (key_fin_ratios.loc['dividendPayoutRatio'][:13].fillna(0)) * (dec_df['Net Income Per Share'])
dividendPayoutRatio = key_fin_ratios.loc['dividendPayoutRatio'][:13].fillna(0).reset_index()
dividendPayoutRatio.rename(columns={"index": "Date", 'dividendPayoutRatio': 'Dividend Payout Ratio'}, inplace = True)
dividendPayoutRatio.sort_values(by=['Date'], inplace=True)
dividendPayoutRatio

#dividend payout ratio
dividendPayoutRatio['Date']= pd.to_datetime(dividendPayoutRatio['Date']).dt.year
dec_df1 = pd.merge(dividendPayoutRatio, dec_df[['Date', 'Net Income Per Share']], how = 'outer')
dec_df.drop('Low PE', axis = 1)
display(dec_df[['Date', 'Net Income Per Share']], dividendPayoutRatio)
Dividend_payout_ratio = key_fin_ratios.loc['dividendPayoutRatio'][:10][::-1]
Dividend_payout_ratio = Dividend_payout_ratio.fillna(0)
Dividend_payout_ratio.reset_index(inplace = True, drop = True)
EPS1 = (dec_df['Earnings Per Share'].fillna(0))[:10]
display(Dividend_payout_ratio ,EPS1)
Dividend_Per_Share = EPS1 * Dividend_payout_ratio

dec_df['Dividend Per Share'] = Dividend_Per_Share
dec_df['Payout as % of earnings'] = dec_df['Dividend Per Share']/dec_df['Earnings Per Share']
dec_df['Payout as % of Earnings'] = (dec_df['Dividend Per Share']/dec_df['Earnings Per Share']) * 100
dec_df['Payout as % of Free Cash Flow'] = (dec_df['Dividend Per Share']/dec_df['freeCashFlowPerShare']) * 100
dec_df['Payout as % of cash flow operations'] = (dec_df['Dividend Per Share']/key_metrics['operatingCashFlowPerShare']) * 100
dec_df['High Dividend Per Share'] =dec_df['Dividend Per Share']/dec_df['High']
dec_df['Low Dividend Per Share'] = dec_df['Dividend Per Share']/dec_df['Low']
capexPerShare = key_metrics['capexPerShare'][:10][::-1]
dec_df['Capex Per Share'] = capexPerShare
dec_df['Capex as % of Sales'] = (dec_df['Capex Per Share'] * dec_df['Sales per Share']) * -100

In [ ]:
# dec_df.drop('Adj Close', axis = 1, inplace = True)

In [ ]:
dec_df

In [ ]:
key_mtrcs

In [ ]:
# dec_df = dec_df[3:14]

In [ ]:
dec_df['Book Value Per Share'] = key_mtrcs['tangibleBookValuePerShare']
dec_df['ROE % (earnings divided by book value)'] = (dec_df['Earnings Per Share'] / dec_df['Book Value Per Share'] ) * 100
dec_df['Cash return on equity %'] = (dec_df['freeCashFlowPerShare'] / dec_df['Book Value Per Share']) * 100
dec_df['Annual book value growth'] = (dec_df['Book Value Per Share'].pct_change()) * 100
dec_df['High Book Value Per Share'] = dec_df['High'] / dec_df['Book Value Per Share']
dec_df['Low Book Value Per Share'] = dec_df['Low'] / dec_df['Book Value Per Share']
dec_df['Clean Book Value'] = key_mtrcs['bookValuePerShare']
dec_df['High Price to Book'] = dec_df['High'] / dec_df['Clean Book Value']
dec_df['Low Price to Book'] =dec_df['Low'] / dec_df['Clean Book Value']
dec_df['High FCFE yield'] = dec_df['freeCashFlowPerShare'] / dec_df['High']
dec_df['Low FCFE yield'] = dec_df['freeCashFlowPerShare'] / dec_df['Low']
dec_df.insert(1, 'Adj Close', price_mean['Adj Close'])
dec_df.insert(22, 'Dividend Yield Per Share', dec_df['Dividend Per Share']/dec_df['Adj Close'])
dec_df.insert(23, 'High Dividend Yield Per Share', dec_df['Dividend Per Share']/dec_df['High'])
dec_df.insert(24, 'Low Dividend Yield Per Share', dec_df['Dividend Per Share']/dec_df['Low'])

In [ ]:
dec_df

In [ ]:
stock_data['Adj Close']

In [ ]:
#attempt at making 3 year average High point
# Three_year_average_high = sum(dec_df['High'][:7:-1]) / 3
# dec_df.insert(1, '3 Year Average High', Three_year_average_high])
# pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [ ]:
price_mean.iloc[:,1]

In [ ]:
dec_df.insert(1, 'Adj Close Avg', price_mean.iloc[:,1])
dec_df

In [ ]:
#defining averages to define the short term, mid term and long term trend
#average highs
dec_df['3 Year Average High'] = dec_df['High'].rolling(3, min_periods=1).mean()
dec_df['5 Year Average High'] = dec_df['High'].rolling(5, min_periods=1).mean()
dec_df['10 Year Average High'] = dec_df['High'].rolling(10, min_periods=1).mean()

#average lows
dec_df['3 Year Average Low'] = dec_df['Low'].rolling(3, min_periods=1).mean()
dec_df['5 Year Average Low'] = dec_df['Low'].rolling(5, min_periods=1).mean()
dec_df['10 Year Average Low'] = dec_df['Low'].rolling(10, min_periods=1).mean()

#average sale/share
dec_df['3 Year Sales Per Share'] = dec_df['Sales per Share'].rolling(3, min_periods=1).mean()
dec_df['5 Year Sales Per Share'] = dec_df['Sales per Share'].rolling(5, min_periods=1).mean()
dec_df['10 Year Sales Per Share'] = dec_df['Sales per Share'].rolling(10, min_periods=1).mean()

#average annual sales growth%
dec_df['3 Year %Rev Growth'] = dec_df['%Rev Growth'].rolling(3, min_periods=1).mean()
dec_df['5 Year %Rev Growth'] = dec_df['%Rev Growth'].rolling(5, min_periods=1).mean()
dec_df['10 Year %Rev Growth'] = dec_df['%Rev Growth'].rolling(10, min_periods=1).mean()

#cash flow to net earnings
dec_df['3 Year Cash Flow to Net Earnings'] = dec_df['Cash flow to net earnings ratio'].rolling(3, min_periods=1).mean()
dec_df['5 Year Cash Flow to Net Earnings'] = dec_df['Cash flow to net earnings ratio'].rolling(5, min_periods=1).mean()
dec_df['10 Year Cash Flow to Net Earnings'] = dec_df['Cash flow to net earnings ratio'].rolling(10, min_periods=1).mean()

#high PCF
dec_df['3 Year High PCF'] = dec_df['High PCF'].rolling(3, min_periods=1).mean()
dec_df['5 Year High PCF'] = dec_df['High PCF'].rolling(5, min_periods=1).mean()
dec_df['10 Year High PCF'] = dec_df['High PCF'].rolling(10, min_periods=1).mean()

#low PCF
dec_df['3 Year Low PCF'] = dec_df['High PCF'].rolling(3, min_periods=1).mean()
dec_df['5 Year Low PCF'] = dec_df['High PCF'].rolling(5, min_periods=1).mean()
dec_df['10 Year Low PCF'] = dec_df['High PCF'].rolling(10, min_periods=1).mean()

#earnings per share
dec_df['3 Year EPS'] = dec_df['Earnings Per Share'].rolling(3, min_periods=1).mean()
dec_df['5 Year EPS'] = dec_df['Earnings Per Share'].rolling(5, min_periods=1).mean()
dec_df['10 Year EPS'] = dec_df['Earnings Per Share'].rolling(10, min_periods=1).mean()

#annual earnings growth%
dec_df['3 Year Annual Earnings Growth%'] = dec_df['EPS % change'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual Earnings Growth%'] = dec_df['EPS % change'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual Earnings Growth%'] = dec_df['EPS % change'].rolling(10, min_periods=1).mean()

#dividends per share
dec_df['3 Year Annual Dividend Per Share'] = dec_df['Dividend Per Share'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual Dividend Per Share'] = dec_df['Dividend Per Share'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual Dividend Per Share'] = dec_df['Dividend Per Share'].rolling(10, min_periods=1).mean()

#payout as %of earnings
dec_df['3 Year Annual Payout As % Of Earnings'] = dec_df['Payout as % of Earnings'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual Payout As % Of Earnings'] = dec_df['Payout as % of Earnings'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual Payout As % Of Earnings'] = dec_df['Payout as % of Earnings'].rolling(10, min_periods=1).mean()

#payout as % of cashflow
dec_df['3 Year Annual Payout As % Of Cashflow'] = dec_df['Payout as % of Free Cash Flow'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual Payout As % Of Cashflow'] = dec_df['Payout as % of Free Cash Flow'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual Payout As % Of Cashflow'] = dec_df['Payout as % of Free Cash Flow'].rolling(10, min_periods=1).mean()

#Payout As % Of Cashflow Operations
dec_df['3 Year Annual Payout As % Of Cashflow Operations'] = dec_df['Payout as % of cash flow operations'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual Payout As % Of Cashflow Operations'] = dec_df['Payout as % of cash flow operations'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual Payout As % Of Cashflow Operations'] = dec_df['Payout as % of cash flow operations'].rolling(10, min_periods=1).mean()

#High Dividend Yield
dec_df['3 Year Annual High Dividend Yield Per Share'] = dec_df['High Dividend Yield Per Share'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual High Dividend Yield Per Share'] = dec_df['High Dividend Yield Per Share'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual High Dividend Yield Per Share'] = dec_df['High Dividend Yield Per Share'].rolling(10, min_periods=1).mean()

#Low Dividend Yield
dec_df['3 Year Annual Low Dividend Yield Per Share'] = dec_df['Low Dividend Yield Per Share'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual Low Dividend Yield Per Share'] = dec_df['Low Dividend Yield Per Share'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual Low Dividend Yield Per Share'] = dec_df['Low Dividend Yield Per Share'].rolling(10, min_periods=1).mean()

#CAPEX per share
dec_df['3 Year Annual Capex Per Share'] = dec_df['Capex Per Share'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual Capex Per Share'] = dec_df['Capex Per Share'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual Capex Per Share'] = dec_df['Capex Per Share'].rolling(10, min_periods=1).mean()

#CAPEX as % of sales
dec_df['3 Year Annual Capex As % Of Sales'] = dec_df['Capex as % of Sales'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual Capex As % Of Sales'] = dec_df['Capex as % of Sales'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual Capex As % Of Sales'] = dec_df['Capex as % of Sales'].rolling(10, min_periods=1).mean()

#book value per share
dec_df['3 Year Annual Book Value Per Share'] = dec_df['Book Value Per Share'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual Book Value Per Share'] = dec_df['Book Value Per Share'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual Book Value Per Share'] = dec_df['Book Value Per Share'].rolling(10, min_periods=1).mean()

# ROE %
dec_df['3 Year Annual ROE%'] = dec_df['ROE % (earnings divided by book value)'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual ROE%'] = dec_df['ROE % (earnings divided by book value)'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual ROE%'] = dec_df['ROE % (earnings divided by book value)'].rolling(10, min_periods=1).mean()

#cash return on equity %
dec_df['3 Year Annual Cash Return On Equity%'] = dec_df['Cash return on equity %'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual Cash Return On Equity%'] = dec_df['Cash return on equity %'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual Cash Return On Equity%'] = dec_df['Cash return on equity %'].rolling(10, min_periods=1).mean()

#annual book value growth
dec_df['3 Year Annual Book Value Growth'] = dec_df['Annual book value growth'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual Book Value Growth'] = dec_df['Annual book value growth'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual Book Value Growth'] = dec_df['Annual book value growth'].rolling(10, min_periods=1).mean()

#high BVPS
dec_df['3 Year Annual High Book Value Per Share'] = dec_df['High Book Value Per Share'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual High Book Value Per Share'] = dec_df['High Book Value Per Share'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual High Book Value Per Share'] = dec_df['High Book Value Per Share'].rolling(10, min_periods=1).mean()

#low BVPS
dec_df['3 Year Annual Low Book Value Per Share'] = dec_df['Low Book Value Per Share'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual Low Book Value Per Share'] = dec_df['Low Book Value Per Share'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual Low Book Value Per Share'] = dec_df['Low Book Value Per Share'].rolling(10, min_periods=1).mean()

#clean book value
dec_df['3 Year Annual Clean Book Value'] = dec_df['Clean Book Value'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual Clean Book Value'] = dec_df['Clean Book Value'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual Clean Book Value'] = dec_df['Clean Book Value'].rolling(10, min_periods=1).mean()

#clean high price to book per share
dec_df['3 Year Annual High Clean Book Value Per Share'] = dec_df['High Book Value Per Share'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual High CleanBook Value Per Share'] = dec_df['High Book Value Per Share'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual High CleanBook Value Per Share'] = dec_df['High Book Value Per Share'].rolling(10, min_periods=1).mean()

#clean low price to book per share
dec_df['3 Year Annual Low Clean Book Value Per Share'] = dec_df['Low Book Value Per Share'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual Low Clean Book Value Per Share'] = dec_df['Low Book Value Per Share'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual Low Clean Book Value Per Share'] = dec_df['Low Book Value Per Share'].rolling(10, min_periods=1).mean()

#cash flow per share
dec_df['3 Year Annual FCF Per Share'] = dec_df['freeCashFlowPerShare'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual FCF Per Share'] = dec_df['freeCashFlowPerShare'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual FCF Per Share'] = dec_df['freeCashFlowPerShare'].rolling(10, min_periods=1).mean()

#high cash flow per share
dec_df['3 Year Annual High FCF Per Share'] = dec_df['High FCFE yield'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual High FCF Per Share'] = dec_df['High FCFE yield'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual High FCF Per Share'] = dec_df['High FCFE yield'].rolling(10, min_periods=1).mean()

#low cash flow per share
dec_df['3 Year Annual Low FCF Per Share'] = dec_df['Low FCFE yield'].rolling(3, min_periods=1).mean()
dec_df['5 Year Annual LowFCF Per Share'] = dec_df['Low FCFE yield'].rolling(5, min_periods=1).mean()
dec_df['10 Year Annual Low FCF Per Share'] = dec_df['Low FCFE yield'].rolling(10, min_periods=1).mean()

print(dec_df.shape)
dec_df

In [ ]:
dec_df.columns

In [ ]:
data_IncomeStatement1 = pd.read_excel('IncomeStatement_full.xlsx', header=None, parse_dates=True)
data_IncomeStatement1

In [ ]:
key_fin_ratios = fa.financial_ratios(ticker, api_key)

In [ ]:
key_fin_ratios

In [ ]:
key_fin_ratios.sort_index()

In [ ]:
# data_IncomeStatement1['Cash dividends declared per share']

In [ ]:
data_IncomeStatement1.iloc[63]

In [ ]:
#getting dividend per share
# Dividend_per_share = (key_fin_ratios.loc['dividendPayoutRatio'][:13].fillna(0)) * (dec_df['Net Income Per Share'])
# dividendPayoutRatio = key_fin_ratios.loc['dividendPayoutRatio'][:13].fillna(0).reset_index()
# dividendPayoutRatio.rename(columns={"index": "Date", 'dividendPayoutRatio': 'Dividend Payout Ratio'}, inplace = True)
# dividendPayoutRatio.sort_values(by=['Date'], inplace=True)
Dividend_per_share = (key_fin_ratios.loc['dividendPayoutRatio'][:13].fillna(0)) * (dec_df['Net Income Per Share'])

dividendPayoutRatio

In [ ]:
# dec_df["High Price/Share"] = pd.merge(dec_df, high_ps, how = 'outer')
# dec_df["Low Price/Share"] = pd.merge(dec_df, low_ps, how = 'outer')
# dec_df

In [ ]:
#defining function to extract requested data - attempting to automate column auto-naming
def get_col(col_name, col_num):
    col_name = data_IncomeStatement.iloc[[10, col_num]]
    col_name.reset_index(inplace=True)
    col_name = col_name.drop('index')
    col_name = col_name.T
    col_name = avg_shares.rename(columns={"Report Date": "Date", 1: col_name})
    col_name.reset_index(drop = True)
    col_name.index = col_name.index.astype('int64') 
    col_name = col_name[~(col_name.index % 2 == 0)]
    #merging net_revenue into main dataframe (dec_df)
    dec_df = pd.merge(dec_df, col_name, how = 'outer')
    return col_name

In [ ]:
dec_df

In [ ]:
#testing bining
data = price_mean.copy()
data['bin'] = pd.cut(dec_df['Adj Close'], bins=[0,30,70,100], labels=["Low", "Mid", "High"])
data

In [ ]:
# pd.set_option('display.float_format', lambda x: '%.2f' % x)
# dec_df['3 Year Average High'] = sum(dec_df['High'][:7:-1]) / 3

In [ ]:
#importing library to convert pdf into excel
import PyPDF2

In [ ]:
#testing differnt source to circumvent need for pdf to excel exchange -uselss becuase of limit
import requests 


# demo= '0198f6647a1a1041971cadc17290951e'
demo = '3c0957c453824c72e29b2e5e35c8b34f'
companies = requests.get(f'https://fmpcloud.io/api/v3/stock-screener?sector=technology&marketCapMoreThan=100000000000&limit=5&apikey={demo}')
companies = companies.json()
print(companies)
technological_companies = []

for item in companies:
  technological_companies.append(item['symbol'])

print(technological_companies)
pricetosales = {}
for item in technological_companies:
    try:
      #annual income statement since we need anual sales
      IS = requests.get(f'https://fmpcloud.io/api/v3/income-statement/{item}?apikey={demo}')
      IS = IS.json()
      Revenue = IS[0]['revenue']
      grossprofitratip = IS[0]['grossProfitRatio']
      #most recent market capitliazation
      MarketCapit = requests.get(f'https://fmpcloud.io/api/v3/market-capitalization/{item}?apikey={demo}')
      MarketCapit = MarketCapit.json()
      MarketCapit = MarketCapit[0]['marketCap']

      #Price to sales
      p_to_sales = MarketCapit/Revenue

      pricetosales[item] = {}
      pricetosales[item]['revenue'] = Revenue
      pricetosales[item]['Gross_Profit_ratio'] = grossprofitratip
      pricetosales[item]['price_to_sales'] = p_to_sales
      pricetosales[item]['Market_Capit'] = MarketCapit
    except:
      pass

print(pricetosales)

In [ ]:
dec_df.columns

In [ ]:
IS[0]

In [ ]:
# #convert dict to DataFrame
price_to_sales_df = pd.DataFrame.from_dict(pricetosales, orient='index')

In [ ]:
price_to_sales_df['ps_average_sector'] = price_to_sales_df['price_to_sales'].mean()
price_to_sales_df['pscompany_vs_averagesector'] = price_to_sales_df['price_to_sales'] - price_to_sales_df['ps_average_sector']
price_to_sales_df['price_as_per_average_industryPS'] = price_to_sales_df['ps_average_sector'] * price_to_sales_df['revenue']
price_to_sales_df['price_difference'] = price_to_sales_df['price_as_per_average_industryPS'] - price_to_sales_df['Market_Capit']

In [ ]:
price_to_sales_df

In [ ]:
# Getting price based on quarters (Now we need to devide DataFrame into Years and Quarters for further processing)
price_mean = df12.pivot_table(index=['year', 'Quarters'], values=['Close', 'High', 'Low'], aggfunc='mean')

In [ ]:
# #List of 1000 companies in US stock exchanges

# full_stock_list = requests.get(f'https://fmpcloud.io/api/v3/rss_feed?apikey=0198f6647a1a1041971cadc17290951e')
# full_stock_list = full_stock_list.json()

# all_companies = []

# for item in full_stock_list:
#     #print(item.keys())
#     all_companies.append(item['ticker'])
# len(all_companies)

In [ ]:

#stock_name = []
#stock_ratios = https://fmpcloud.io/api/v3/ratios/AAPL?apikey=0198f6647a1a1041971cadc17290951e

In [ ]:
# dec_df.drop('Adj Close', axis = 1, inplace = True)

In [ ]:
dec_df2 = dec_df.copy()
dec_df2.T.reset_index(inplace = True)

In [ ]:
dec_df2 = dec_df2.T
dec_df2

In [ ]:
dec_df2.reset_index(inplace = True)

In [ ]:
dec_df2.columns = dec_df2.iloc[0]
dec_df2.drop(0, inplace = True)
dec_df2

In [ ]:
dec_df2 = dec_df2.fillna(0)

In [ ]:
dec_df2.columns

In [ ]:
target = dec_df2[2020][1:4].values

In [ ]:
target

In [ ]:
dec_df2

In [ ]:
# target = dec_df['Low'].values
# data = dec_df.drop('Low', axis = 1).fillna(0).values
data = dec_df2.drop(['Date', 2020], axis = 1)
data

In [ ]:
data = data.values

In [ ]:
target = target.reshape(-1, 1)
target

In [ ]:
# data = data.reshape(-1, 1)
data

In [ ]:
print(data.shape, target.shape)

In [ ]:
import seaborn as sns
with sns.axes_style("white"):
    f, ax = plt.subplots(figsize=(15, 5))
    ax = sns.heatmap(dec_df.corr(), square=True, cmap='RdYlGn')
# correlation = 

plt.plot()
plt.show()

In [ ]:
#train model linear regression(sample) --- Why is it not working?

# from sklearn.model_selection import train_test_split
# import numpy as np
# from sklearn import linear_model
# # n_samples, n_features = 10, 5
# y = target
# X = data

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, 
#                                                     random_state = 21, 
#                                                     stratify = y)
# clf = linear_model.SGDRegressor()
# clf.fit(X_train, y_train)

# # predict price ranges(sample)
# y = y.values.reshape(-1, 1)
# clf.predict(X_test)

# clf.score(X_test, y_test)

In [ ]:
# Import necessary modules
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
y = target
X = data

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, 
                                                    random_state = 42)
reg = LinearRegression()
reg.fit(X_train, y_train)
# prediction_space = np.linspace(min(X_train), max(X_train)).reshape(-1, 1)

In [ ]:
y_pred = reg.predict(X_test)

In [ ]:
# Compute and print R^2 and RMSE
print("R^2: {}".format(reg.score(X_test, y_test)))
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error: {}".format(rmse))

In [ ]:
dec_df2

In [ ]:
#Which year(s) are these predictions for?
# dec_df2.apply(lambda x: '%.5f' % x, axis=1)
pd.set_option('display.float_format', lambda x: '%.5f' % x)
print([y_pred, dec_df2[2020]])

In [ ]:
# Import the necessary modules
from sklearn.model_selection import cross_val_score


# Create a linear regression object: reg
reg = LinearRegression()

# Compute 5-fold cross-validation scores: cv_scores
cv_scores = cross_val_score(reg, X_train, y_train, cv = 10)

# Print the 5-fold cross-validation scores
print(cv_scores)
print('---------------------------------------------')
print("Average 4-Fold CV Score: {}".format(np.mean(cv_scores)))