In [1]:
import os

os.getcwd()

'C:\\Users\\emanu'

In [2]:
# -*- coding: utf-8 -*-
"""
Created on Thu May 28 21:21:23 2020

@author: emanu

Project name: loading data from Mergnet
"""

import pandas as pd
from datetime import datetime as dt
import xlsxwriter
from datetime import date
from win32com.client import Dispatch


#setting viewing settings of pandas
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

#function to gather data from web source(for now its from file)
def get_data():
    
    #open file 
    global data_IncomeStatement
    data_IncomeStatement = pd.read_excel('asreported.xlsx', header=None, parse_dates=True)
    global data_BalanceSheet
    data_BalanceSheet = pd.read_excel('Balancesheet.xlsx', header=None, parse_dates=True)
    
 
    # clear empty columns from DataFrame
    deletable_col = [2,4,6,8,10,12,14,16,18]
    df_Inc = data_IncomeStatement.drop(data_IncomeStatement.columns[deletable_col]
                                       , axis=1)
    
    #reverse the order of the values columns to fit model
   
    df_Inc = df_Inc.iloc[:, 19:1:-1]
    df_Inc = df_Inc.T.reset_index(drop=True).T
    df_Inc.insert(0, 'Indicator', data_IncomeStatement.iloc[:][0])
    global df_inc
    
    return(df_Inc)
    #save data
    df_Inc.to_excel('Data_test.xlsx')
    
#run data gathering function (get_data)    
get_data()

,Indicator,0,1,2,3,4,5,6,7,8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Powered by Clearbit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Advanced Micro Devices Inc (NMS: AMD),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Exchange rate used is that of the Year End rep...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,As Reported Annual Income Statement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Report Date,12/25/2010,12/31/2011,12/29/2012,12/28/2013,12/27/2014,12/26/2015,12/31/2016,12/30/2017,12/29/2018
11,Currency,USD,USD,USD,USD,USD,USD,USD,USD,USD
12,Audit Status,Not Qualified,Not Qualified,Not Qualified,Not Qualified,Not Qualified,Not Qualified,Not Qualified,Not Qualified,Not Available
13,Consolidated,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
14,Scale,Thousands,Thousands,Thousands,Thousands,Thousands,Thousands,Thousands,Thousands,Thousands
15,Net revenue,6494000,6568000,5422000,5299000,5506000,3991000,4272000,5329000,6475000
16,Cost of sales,3533000,3628000,4187000,3321000,3667000,2911000,3274000,3506000,4028000
17,Gross margin,2961000,2940000,1235000,1978000,1839000,1080000,998000,1823000,2447000
18,Research & development expense,1405000,1453000,1354000,1201000,1072000,947000,1008000,1160000,1434000
19,"Marketing, general & administrative expense",934000,992000,823000,674000,604000,482000,460000,511000,562000
20,Amortization of acquired intangible assets,61000,29000,14000,18000,14000,3000,-,-,-
21,"Restructuring charges (reversals), net",-4000,98000,100000,30000,-,-,-,-,-
22,"Restructuring & other special charges, net",-,-,-,-,71000,129000,-10000,-,-
23,Licensing gain,-,-,-,-,-,-,88000,52000,-
24,Goodwill impairment charge,-,-,-,-,233000,-,-,-,-
25,"Legal settlements, net",-283000,-,-,-48000,-,-,-,-,-
26,Operating income (loss),848000,368000,-1056000,103000,-155000,-481000,-372000,204000,451000
27,Interest income,11000,10000,8000,5000,3000,-,-,-,-
28,Total interest charges,199000,180000,175000,177000,-,-,-,-,-
29,Interest expense,199000,180000,175000,177000,177000,160000,156000,126000,121000
30,Interest income,-,-,-,-,-,-,2000,6000,-
31,Gain upon deconsolidation of GF,325000,-,-,-,-,-,-,-,-
32,GF investment impairment charge,-,209000,-,-,-,-,-,-,-
33,Gain on sale of 85% ATMP joint venture,-,-,-,-,-,-,146000,3000,-
34,Impairment charge on marketable securities,-,-,4000,-,-,-,-,-,-
35,Net gain (loss) on debt redemptions,-24000,-6000,-,-1000,-61000,-,-68000,-12000,-
36,"Net gain (loss) on debt redemptions, repurchas...",-,-,-,-,-,-,-,-,-
37,"Other income (expense), net",10000,16000,10000,-4000,-8000,-5000,-,-6000,-
38,"Other income (expense), net",311000,-199000,6000,-5000,-69000,-5000,80000,-9000,-
39,Income (loss) before income taxes - United Sta...,-,-,-,-,-621000,-1000000,-604000,108000,-
40,Income before income taxes - foreign,-,-,-,-,223000,454000,146000,-46000,-
41,Income (loss) before income taxes & equity loss,971000,-1000,-1217000,-74000,-398000,-646000,-448000,69000,330000
42,Current income taxes provision (benefit) - U.S...,-4000,-3000,-,-2000,-1000,-1000,-2000,-3000,12000
43,Current income taxes provision (benefit) - U.S...,-,1000,-,-,-,-,-,-,-
44,Current income taxes provision (benefit) - for...,47000,4000,6000,10000,6000,16000,21000,38000,-17000
45,Total current income taxes provision (benefit),43000,2000,6000,8000,5000,15000,19000,35000,-5000
46,Deferred income taxes provision (benefit) - U....,-,-,-37000,3000,-,-,-1000,-15000,-
47,Deferred income taxes provision (benefit) - fo...,-5000,-6000,-3000,-2000,-,-1000,21000,-1000,-4000
48,Total deferred income taxes provision (benefit),-5000,-6000,-40000,1000,-,-1000,20000,-16000,-4000
49,Provision for (benefit from) income taxes,38000,-4000,-34000,9000,5000,14000,39000,19000,-9000
50,Equity in income (loss) of ATMP joint venture,-,-,-,-,-,-,-10000,-,-
51,Equity gain (loss) in investee,-,-,-,-,-,-,-,-7000,-2000
52,Dilution gain in investee,-462000,492000,-,-,-,-,-,-,-
53,Income (loss) from continuing operations,471000,495000,-1183000,-83000,-403000,-,-,-,-
54,"Income (loss) from discontinued operations, ne...",-,-4000,-,-,-,-,-,-,-
55,Net income (loss),471000,491000,-1183000,-83000,-403000,-660000,-497000,43000,337000
56,Net income (loss) attributable to Advanced Mic...,471000,491000,-1183000,-83000,-,-,-,-,-
57,Weighted average shares outstanding - basic,711000,727000,741000,754000,768000,783000,835000,952000,982000
58,Weighted average shares outstanding - diluted,733000,742000,741000,754000,768000,783000,835000,1039000,1064000
59,Year end shares outstanding,683000,698000,713000,725000,776000,792000,935000,967000,1005000
60,Income (loss) per share - continuing operation...,0.66,0.68,-1.6,-0.11,-,-,-,-,-
61,Income (loss) per share - discontinued operati...,-,-0.01,-,-,-,-,-,-,-
62,Net income (loss) per share - basic,0.66,0.68,-1.6,-0.11,-0.53,-0.84,-0.6,0.04,0.34
63,Income (loss) per share - continuing operation...,0.64,0.67,-1.6,-0.11,-,-,-,-,-
64,Income (loss) per share - discontinued operati...,-,-0.01,-,-,-,-,-,-,-
65,Net income (loss) per share - diluted,0.64,0.66,-1.6,-0.11,-0.53,-0.84,-0.6,0.04,0.32
66,Total number of employees,11100,11100,10340,10671,9700,9100,8200,8900,10100
67,Number of common stockholders,7389,7264,7082,7023,6937,6263,6150,5962,4614

In [3]:
get_data().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Indicator  62 non-null     object
 1   0          58 non-null     object
 2   1          58 non-null     object
 3   2          58 non-null     object
 4   3          58 non-null     object
 5   4          58 non-null     object
 6   5          58 non-null     object
 7   6          58 non-null     object
 8   7          58 non-null     object
 9   8          58 non-null     object
dtypes: object(10)
memory usage: 5.4+ KB

In [28]:
os.getcwd()

'C:\\Users\\emanu'

In [31]:
#run once decorator function
def run_once(f):
    def wrapper(*args, **kwargs):
        if not wrapper.has_run():
            return f(*args, **kwargs)
    wrapper.has_run = False
    return wrapper


# def my_function(foo, bar)
#     return foo+bar

In [55]:
# Autofit columns
#==================================================
#Just place whatever excel file that
#is needed in the same directory as main
#and those files will automatically be autofitted
#==================================================
#@run_once
def auto_fill(file, worksheet_num):

    excel = Dispatch('Excel.Application')
    wb = excel.Workbooks.Open('{}\\{}'.format(os.getcwd(), file))
    excel.Worksheets(worksheet_num).Activate()
    excel.ActiveSheet.Columns.AutoFit()

#save the file
    wb.Save()
    wb.Close(True)
#already_fitted_files = []
#list name of all xlsx files in current directory
xlsx_file_names = []
for arr in os.listdir('.'):
    if arr.endswith('.xlsx'):
        xlsx_file_names.append(arr)
    else:
        pass
    
print(xlsx_file_names)
# with open('already_fitted.xlsx', 'w') as af:
#     print(af)
#     for file_name in xlsx_file_names:
#         print(file_name)
#         if file_name not in af:
#             file_name.to_excel('already_fitted.xlsx')
            
#    [file_name.to_excel('already_fitted.xlsx') for file_name in xlsx_file_names if file_name not in af]
        

[auto_fill('{}'.format(element), 1) for element in xlsx_file_names]
print('All excel files have been autofitted')

[' AAPL.xlsx', 'amd.xlsx', 'asreported.xlsx', 'Balancesheet.xlsx', 'Copy of Data_test.xlsx', 'Data_test.xlsx', 'historicplot.xlsx', 'middle_list.xlsx', 'Mostactive2020-05-22.xlsx', 'Mostactive2020-05-26.xlsx', 'Mostactive2020-05-27.xlsx', 'Mostactive2020-06-09.xlsx', 'Mostactive2020-06-15.xlsx', 'Valuation Ranges (2).xlsx', 'Valuation Ranges111.xlsx', 'Valuation_Ranges.xlsx']

com_error: (-2147352567, 'Exception occurred.', (0, 'Microsoft Excel', 'The disk is full.', 'xlmain11.chm', 0, -2146827284), None)

In [56]:
def open_file(file, worksheet_num):

    excel = Dispatch('Excel.Application')
    wb = excel.Workbooks.Open('{}\\{}'.format(os.getcwd(), file))
    excel.Worksheets(worksheet_num).Activate()
    excel.ActiveSheet.Columns.AutoFit()
    return wb

In [59]:
df_Inc = get_data()

In [61]:
df_Inc

,Indicator,0,1,2,3,4,5,6,7,8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Powered by Clearbit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Advanced Micro Devices Inc (NMS: AMD),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Exchange rate used is that of the Year End rep...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,As Reported Annual Income Statement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Report Date,12/25/2010,12/31/2011,12/29/2012,12/28/2013,12/27/2014,12/26/2015,12/31/2016,12/30/2017,12/29/2018
11,Currency,USD,USD,USD,USD,USD,USD,USD,USD,USD
12,Audit Status,Not Qualified,Not Qualified,Not Qualified,Not Qualified,Not Qualified,Not Qualified,Not Qualified,Not Qualified,Not Available
13,Consolidated,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
14,Scale,Thousands,Thousands,Thousands,Thousands,Thousands,Thousands,Thousands,Thousands,Thousands
15,Net revenue,6494000,6568000,5422000,5299000,5506000,3991000,4272000,5329000,6475000
16,Cost of sales,3533000,3628000,4187000,3321000,3667000,2911000,3274000,3506000,4028000
17,Gross margin,2961000,2940000,1235000,1978000,1839000,1080000,998000,1823000,2447000
18,Research & development expense,1405000,1453000,1354000,1201000,1072000,947000,1008000,1160000,1434000
19,"Marketing, general & administrative expense",934000,992000,823000,674000,604000,482000,460000,511000,562000
20,Amortization of acquired intangible assets,61000,29000,14000,18000,14000,3000,-,-,-
21,"Restructuring charges (reversals), net",-4000,98000,100000,30000,-,-,-,-,-
22,"Restructuring & other special charges, net",-,-,-,-,71000,129000,-10000,-,-
23,Licensing gain,-,-,-,-,-,-,88000,52000,-
24,Goodwill impairment charge,-,-,-,-,233000,-,-,-,-
25,"Legal settlements, net",-283000,-,-,-48000,-,-,-,-,-
26,Operating income (loss),848000,368000,-1056000,103000,-155000,-481000,-372000,204000,451000
27,Interest income,11000,10000,8000,5000,3000,-,-,-,-
28,Total interest charges,199000,180000,175000,177000,-,-,-,-,-
29,Interest expense,199000,180000,175000,177000,177000,160000,156000,126000,121000
30,Interest income,-,-,-,-,-,-,2000,6000,-
31,Gain upon deconsolidation of GF,325000,-,-,-,-,-,-,-,-
32,GF investment impairment charge,-,209000,-,-,-,-,-,-,-
33,Gain on sale of 85% ATMP joint venture,-,-,-,-,-,-,146000,3000,-
34,Impairment charge on marketable securities,-,-,4000,-,-,-,-,-,-
35,Net gain (loss) on debt redemptions,-24000,-6000,-,-1000,-61000,-,-68000,-12000,-
36,"Net gain (loss) on debt redemptions, repurchas...",-,-,-,-,-,-,-,-,-
37,"Other income (expense), net",10000,16000,10000,-4000,-8000,-5000,-,-6000,-
38,"Other income (expense), net",311000,-199000,6000,-5000,-69000,-5000,80000,-9000,-
39,Income (loss) before income taxes - United Sta...,-,-,-,-,-621000,-1000000,-604000,108000,-
40,Income before income taxes - foreign,-,-,-,-,223000,454000,146000,-46000,-
41,Income (loss) before income taxes & equity loss,971000,-1000,-1217000,-74000,-398000,-646000,-448000,69000,330000
42,Current income taxes provision (benefit) - U.S...,-4000,-3000,-,-2000,-1000,-1000,-2000,-3000,12000
43,Current income taxes provision (benefit) - U.S...,-,1000,-,-,-,-,-,-,-
44,Current income taxes provision (benefit) - for...,47000,4000,6000,10000,6000,16000,21000,38000,-17000
45,Total current income taxes provision (benefit),43000,2000,6000,8000,5000,15000,19000,35000,-5000
46,Deferred income taxes provision (benefit) - U....,-,-,-37000,3000,-,-,-1000,-15000,-
47,Deferred income taxes provision (benefit) - fo...,-5000,-6000,-3000,-2000,-,-1000,21000,-1000,-4000
48,Total deferred income taxes provision (benefit),-5000,-6000,-40000,1000,-,-1000,20000,-16000,-4000
49,Provision for (benefit from) income taxes,38000,-4000,-34000,9000,5000,14000,39000,19000,-9000
50,Equity in income (loss) of ATMP joint venture,-,-,-,-,-,-,-10000,-,-
51,Equity gain (loss) in investee,-,-,-,-,-,-,-,-7000,-2000
52,Dilution gain in investee,-462000,492000,-,-,-,-,-,-,-
53,Income (loss) from continuing operations,471000,495000,-1183000,-83000,-403000,-,-,-,-
54,"Income (loss) from discontinued operations, ne...",-,-4000,-,-,-,-,-,-,-
55,Net income (loss),471000,491000,-1183000,-83000,-403000,-660000,-497000,43000,337000
56,Net income (loss) attributable to Advanced Mic...,471000,491000,-1183000,-83000,-,-,-,-,-
57,Weighted average shares outstanding - basic,711000,727000,741000,754000,768000,783000,835000,952000,982000
58,Weighted average shares outstanding - diluted,733000,742000,741000,754000,768000,783000,835000,1039000,1064000
59,Year end shares outstanding,683000,698000,713000,725000,776000,792000,935000,967000,1005000
60,Income (loss) per share - continuing operation...,0.66,0.68,-1.6,-0.11,-,-,-,-,-
61,Income (loss) per share - discontinued operati...,-,-0.01,-,-,-,-,-,-,-
62,Net income (loss) per share - basic,0.66,0.68,-1.6,-0.11,-0.53,-0.84,-0.6,0.04,0.34
63,Income (loss) per share - continuing operation...,0.64,0.67,-1.6,-0.11,-,-,-,-,-
64,Income (loss) per share - discontinued operati...,-,-0.01,-,-,-,-,-,-,-
65,Net income (loss) per share - diluted,0.64,0.66,-1.6,-0.11,-0.53,-0.84,-0.6,0.04,0.32
66,Total number of employees,11100,11100,10340,10671,9700,9100,8200,8900,10100
67,Number of common stockholders,7389,7264,7082,7023,6937,6263,6150,5962,4614

In [62]:
#get years out of dates in string format from online source
print(type(df_Inc.iloc[10]))

date_mid = []
for dat in df_Inc.iloc[10]:
    dat = dat.replace('/', "")
    dat = dat[4:8]
    date_mid.append(dat)
del date_mid[0]
print(date_mid)
#df_Inc.iloc[10]
#df_Inc.info()

<class 'pandas.core.series.Series'>
['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Indicator  62 non-null     object
 1   0          58 non-null     object
 2   1          58 non-null     object
 3   2          58 non-null     object
 4   3          58 non-null     object
 5   4          58 non-null     object
 6   5          58 non-null     object
 7   6          58 non-null     object
 8   7          58 non-null     object
 9   8          58 non-null     object
dtypes: object(10)
memory usage: 5.4+ KB

In [33]:
def insert_data_model():
    #define empty list for dataframe
    
    middle_list = []
    
    #extract and clean info from data DataFrame 
    
    #middle_list.append([df_Inc.iloc[[10, 15, 55, 58]]])
    
    #open model file
    valuation_model = pd.read_excel('Valuation_Ranges.xlsx')
    valuation_model = pd.DataFrame(valuation_model)
    print(valuation_model.iloc[4])
    middle_list.append([data_BalanceSheet.iloc[[98]]])
    middle_list = pd.DataFrame(middle_list)
    middle_list.to_excel('middle_list.xlsx')
    return middle_list
insert_data_model()

Company: Costco (COST)    Fiscal Year
Unnamed: 1                       2009
Unnamed: 2                       2010
Unnamed: 3                       2011
Unnamed: 4                       2012
Unnamed: 5                       2013
Unnamed: 6                       2014
Unnamed: 7                       2015
Unnamed: 8                       2016
Unnamed: 9                       2017
Unnamed: 10                      2018
Unnamed: 11                      2019
Unnamed: 12                      2020
Unnamed: 13                    "NORM"
Unnamed: 14                      2021
Unnamed: 15                  3 Yr Avg
Unnamed: 16                  5 Yr Avg
Unnamed: 17                 10 Yr Avg
Name: 4, dtype: object

                                                   0
0                                        0       ...

In [34]:
#opening file and making into DataFrame
a = open_file('Valuation_Ranges.xlsx', 1)
#pd.DataFrame(a)
a
pd.DataFrame.from_records([s.to_dict() for s in a])

TypeError: This object does not support enumeration

In [35]:
#getting time range for stock

valuation_model = pd.read_excel('Valuation_Ranges.xlsx')
valuation_model = pd.DataFrame(valuation_model)
#print(valuation_model.iloc[4])
date_range_len = len(date_mid)
print((valuation_model.T).iloc[1:13][4])
print(date_range_len)

Unnamed: 1     2009
Unnamed: 2     2010
Unnamed: 3     2011
Unnamed: 4     2012
Unnamed: 5     2013
Unnamed: 6     2014
Unnamed: 7     2015
Unnamed: 8     2016
Unnamed: 9     2017
Unnamed: 10    2018
Unnamed: 11    2019
Unnamed: 12    2020
Name: 4, dtype: object
9

In [ ]:
print(date_mid)

In [36]:
Important_titles = [4, 6, 7, 10, 11, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 25, 26, 27, 28, 
                   30, 31, 32, 33, 36, 37, 38, 39, 40, 41, 44, 45, 47, 48, 49, 50, 51, 52, 54,
                    55, 56, 59, 60, 61]
important_titles = [elem + 1 for elem in Important_titles]

In [37]:
#reset index
valuation_model = (valuation_model.T).reset_index().T

In [93]:
#shortened form 
val_mod = valuation_model

In [94]:
#lines that are important to us in a list format --> so we can build our dataframe based on them
important_titles

[5,
 7,
 8,
 11,
 12,
 14,
 15,
 16,
 17,
 18,
 20,
 21,
 22,
 23,
 24,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 34,
 37,
 38,
 39,
 40,
 41,
 42,
 45,
 46,
 48,
 49,
 50,
 51,
 52,
 53,
 55,
 56,
 57,
 60,
 61,
 62]

In [98]:
val_mod = val_mod.loc[important_titles]

In [100]:
val_mod.reset_index(inplace = True)

In [101]:
val_mod

,index,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,5,Fiscal Year,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,"""NORM""",2021,3 Yr Avg,5 Yr Avg,10 Yr Avg
1,7,High Price,61.3,73.2,88.7,106,126.1,146.8,169.7,169.6,195.4,245.2,281.4,280,NaN,NaN,203.4,185.34,138.2
2,8,Low Price,38.2,53.4,69.5,78.8,98.9,109.5,117,138.6,150,175.8,199.9,150,NaN,NaN,154.8,138.18,102.97
3,11,Total Companywide Revenues,71422,77946,88915,99137,105156,112640,116199,118719,129025,141576,150071,159075,NaN,NaN,129773,123632,106074
4,12,Y/Y growth %,NaN,0.0913444,0.140726,0.114964,0.060714,0.0711705,0.0315962,0.0216869,0.08681,0.0972757,0.06,0.06,NaN,NaN,0.0685909,0.0617079,0.0795875
5,14,SALES per share,163.88,179.8,204.75,229.3,240.72,257.36,265.32,271.34,295.11,323.09,347.5,374.2,NaN,NaN,296.513,282.444,243.067
6,15,Annual sales growth %,NaN,0.0971443,0.138765,0.119902,0.0498038,0.069126,0.0309294,0.0226896,0.0876023,0.0948121,0.0755517,0.0768345,NaN,NaN,0.068368,0.0610319,0.078975
7,16,Net profit margin %,0.0156822,0.0162959,0.0161172,0.0173136,0.0186524,0.0180681,0.0198628,0.0196433,0.0198231,0.0219443,0.0231655,0.0227151,NaN,NaN,0.0204702,0.0198683,0.0183403
8,17,High PS,0.374054,0.407119,0.433211,0.462276,0.523845,0.570407,0.639605,0.625046,0.662126,0.758922,0.809784,0.748263,NaN,NaN,0.682031,0.651221,0.545661
9,18,Low PS,0.233097,0.296997,0.339438,0.343655,0.410851,0.425474,0.440977,0.510798,0.508285,0.544121,0.575252,0.400855,NaN,NaN,0.521068,0.485931,0.405369
10,20,CASH FLOW per share,4.25,4.85,5.34,6.13,6.69,7.05,7.9,8.24,9,10.43,11.5,12.25,NaN,NaN,9.22333,8.524,6.988
11,21,Cash flow margin as % of sales,0.0259336,0.0269744,0.0260806,0.0267335,0.0277916,0.0273935,0.0297754,0.0303678,0.0304971,0.032282,0.0330935,0.0327365,NaN,NaN,0.031049,0.0300632,0.028383
12,22,Cash flow to net earnings ratio,1.6537,1.65529,1.61818,1.54408,1.48998,1.51613,1.49905,1.54597,1.53846,1.47109,1.42857,1.44118,NaN,NaN,1.5185,1.51414,1.55319
13,23,High PCF,14.4235,15.0928,16.6105,17.292,18.849,20.8227,21.481,20.5825,21.7111,23.5091,24.4696,22.8571,NaN,NaN,21.9342,21.6213,19.0374
14,24,Low PCF,8.98824,11.0103,13.015,12.8548,14.7833,15.5319,14.8101,16.8204,16.6667,16.8552,17.3826,12.2449,NaN,NaN,16.7808,16.1369,14.1336
15,26,EARNINGS per share,2.57,2.93,3.3,3.97,4.49,4.65,5.27,5.33,5.85,7.09,8.05,8.5,NaN,NaN,6.09,5.638,4.545
16,27,Annual earnings growth %,NaN,0.140078,0.12628,0.20303,0.130982,0.0356347,0.133333,0.0113852,0.097561,0.211966,0.135402,0.0559006,NaN,NaN,0.106971,0.097976,0.121139
17,28,High PE,23.8521,24.9829,26.8788,26.7003,28.0846,31.5699,32.2011,31.8199,33.4017,34.5839,34.9565,32.9412,NaN,NaN,33.2685,32.7153,29.4075
18,29,Low PE,14.8638,18.2253,21.0606,19.8489,22.0267,23.5484,22.2011,26.0038,25.641,24.7955,24.8323,17.6471,NaN,NaN,25.4801,24.438,21.8215
19,31,CLEAN Earnings per share,2.47,2.92,3.3,3.89,4.63,4.65,5.37,5.33,6.08,7.09,7.6572,8.26978,8.5,NaN,6.16667,5.704,4.573
20,32,Annual earnings growth %,NaN,0.182186,0.130137,0.178788,0.190231,0.00431965,0.154839,-0.00744879,0.140713,0.166118,0.08,0.08,NaN,NaN,0.0997942,0.0917082,0.126654
21,33,CLEAN High PE,24.8178,25.0685,26.8788,27.2494,27.2354,31.5699,31.6015,31.8199,32.1382,34.5839,36.7497,33.8582,0,NaN,32.8473,32.3427,29.2963
22,34,CLEAN Low PE,15.4656,18.2877,21.0606,20.2571,21.3607,23.5484,21.7877,26.0038,24.6711,24.7955,26.1061,18.1383,NaN,NaN,25.1568,24.1613,21.7238
23,37,DIVIDENDS per share,0.68,0.77,0.89,1.03,1.17,1.33,1.51,1.7,1.9,2.14,2.4,2.65,NaN,NaN,1.91333,1.716,1.312
24,38,Payout as % of earnings,0.264591,0.262799,0.269697,0.259446,0.260579,0.286022,0.286528,0.318949,0.324786,0.301834,0.298137,0.311765,NaN,NaN,0.31519,0.303624,0.283523
25,39,Payout as % of free cash flow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,40,Payout as % of cash flow operations,0.16,0.158763,0.166667,0.168026,0.174888,0.188652,0.191139,0.206311,0.211111,0.205177,0.208696,0.216327,NaN,NaN,0.207533,0.200478,0.183073
27,41,Low Dividend Yield,0.011093,0.0105191,0.0100338,0.00971698,0.00927835,0.00905995,0.00889806,0.0100236,0.00972364,0.00872757,0.00852878,0.00946429,NaN,NaN,0.0094916,0.00928656,0.00970741
28,42,High Dividend Yield,0.017801,0.0144195,0.0128058,0.0130711,0.0118301,0.0121461,0.012906,0.0122655,0.0126667,0.0121729,0.012006,0.0176667,NaN,NaN,0.0123684,0.0124314,0.0132085
29,45,CAPEX per share,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,46,Capex as % of sales,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0
31,48,BOOK VALUE per share,22.98,24.98,27.64,28.59,24.8,28.11,24.24,27.61,24.65,29.21,35.05,40.2,NaN,NaN,27.1567,26.764,26.281
32,49,ROE % (earnings divided by book value),0.111836,0.117294,0.119392,0.13886,0.181048,0.165422,0.217409,0.193046,0.237323,0.242725,0.229672,0.211443,NaN,NaN,0.224365,0.211185,0.172435
33,50,Cash return on equity %,0.184943,0.194155,0.193198,0.214411,0.269758,0.2508,0.325908,0.298443,0.365112,0.357069,0.328103,0.304726,NaN,NaN,0.340208,0.319466,0.26538
34,51,Annual book value growth,NaN,0.0870322,0.106485,0.0343705,-0.132564,0.133468,-0.137673,0.139026,-0.107208,0.18499,0.199932,0.146933,-1,NaN,0.0722696,0.0425206,0.0342141
35,52,High BVPS,2.66754,2.93034,3.20912,3.70759,5.08468,5.22234,7.00083,6.1427,7.92698,8.39439,8.02853,6.96517,NaN,NaN,7.48802,6.93745,5.22865
36,53,Low BVPS,1.66232,2.13771,2.51447,2.75621,3.9879,3.89541,4.82673,5.01992,6.08519,6.01849,5.70328,3.73134,NaN,NaN,5.70787,5.16915,3.89044
37,55,CLEAN Book Value per share,22.5835,24.1227,26.9198,27.9831,24.4488,27.8043,23.9815,27.3737,24.4434,28.9679,30,32,34,NaN,26.9283,26.5142,25.8629
38,56,CLEAN High PB,2.71437,3.03449,3.29497,3.78801,5.15771,5.27975,7.07628,6.19573,7.99398,8.46454,9.38,8.75,0,NaN,7.55142,7.00206,5.29998
39,57,CLEAN Low PB,1.6915,2.21368,2.58174,2.81599,4.04518,3.93824,4.87876,5.06325,6.13663,6.06879,6.66333,4.6875,0,NaN,5.75622,5.21713,3.94338
40,60,FREE CASH FLOW per share,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN
41,61,Low FCF Yield,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0
42,62,High FCF Yield,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0

In [102]:
val_mod.drop('index', axis = 1, inplace = True)

In [103]:
val_mod

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,Fiscal Year,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,"""NORM""",2021,3 Yr Avg,5 Yr Avg,10 Yr Avg
1,High Price,61.3,73.2,88.7,106,126.1,146.8,169.7,169.6,195.4,245.2,281.4,280,NaN,NaN,203.4,185.34,138.2
2,Low Price,38.2,53.4,69.5,78.8,98.9,109.5,117,138.6,150,175.8,199.9,150,NaN,NaN,154.8,138.18,102.97
3,Total Companywide Revenues,71422,77946,88915,99137,105156,112640,116199,118719,129025,141576,150071,159075,NaN,NaN,129773,123632,106074
4,Y/Y growth %,NaN,0.0913444,0.140726,0.114964,0.060714,0.0711705,0.0315962,0.0216869,0.08681,0.0972757,0.06,0.06,NaN,NaN,0.0685909,0.0617079,0.0795875
5,SALES per share,163.88,179.8,204.75,229.3,240.72,257.36,265.32,271.34,295.11,323.09,347.5,374.2,NaN,NaN,296.513,282.444,243.067
6,Annual sales growth %,NaN,0.0971443,0.138765,0.119902,0.0498038,0.069126,0.0309294,0.0226896,0.0876023,0.0948121,0.0755517,0.0768345,NaN,NaN,0.068368,0.0610319,0.078975
7,Net profit margin %,0.0156822,0.0162959,0.0161172,0.0173136,0.0186524,0.0180681,0.0198628,0.0196433,0.0198231,0.0219443,0.0231655,0.0227151,NaN,NaN,0.0204702,0.0198683,0.0183403
8,High PS,0.374054,0.407119,0.433211,0.462276,0.523845,0.570407,0.639605,0.625046,0.662126,0.758922,0.809784,0.748263,NaN,NaN,0.682031,0.651221,0.545661
9,Low PS,0.233097,0.296997,0.339438,0.343655,0.410851,0.425474,0.440977,0.510798,0.508285,0.544121,0.575252,0.400855,NaN,NaN,0.521068,0.485931,0.405369
10,CASH FLOW per share,4.25,4.85,5.34,6.13,6.69,7.05,7.9,8.24,9,10.43,11.5,12.25,NaN,NaN,9.22333,8.524,6.988
11,Cash flow margin as % of sales,0.0259336,0.0269744,0.0260806,0.0267335,0.0277916,0.0273935,0.0297754,0.0303678,0.0304971,0.032282,0.0330935,0.0327365,NaN,NaN,0.031049,0.0300632,0.028383
12,Cash flow to net earnings ratio,1.6537,1.65529,1.61818,1.54408,1.48998,1.51613,1.49905,1.54597,1.53846,1.47109,1.42857,1.44118,NaN,NaN,1.5185,1.51414,1.55319
13,High PCF,14.4235,15.0928,16.6105,17.292,18.849,20.8227,21.481,20.5825,21.7111,23.5091,24.4696,22.8571,NaN,NaN,21.9342,21.6213,19.0374
14,Low PCF,8.98824,11.0103,13.015,12.8548,14.7833,15.5319,14.8101,16.8204,16.6667,16.8552,17.3826,12.2449,NaN,NaN,16.7808,16.1369,14.1336
15,EARNINGS per share,2.57,2.93,3.3,3.97,4.49,4.65,5.27,5.33,5.85,7.09,8.05,8.5,NaN,NaN,6.09,5.638,4.545
16,Annual earnings growth %,NaN,0.140078,0.12628,0.20303,0.130982,0.0356347,0.133333,0.0113852,0.097561,0.211966,0.135402,0.0559006,NaN,NaN,0.106971,0.097976,0.121139
17,High PE,23.8521,24.9829,26.8788,26.7003,28.0846,31.5699,32.2011,31.8199,33.4017,34.5839,34.9565,32.9412,NaN,NaN,33.2685,32.7153,29.4075
18,Low PE,14.8638,18.2253,21.0606,19.8489,22.0267,23.5484,22.2011,26.0038,25.641,24.7955,24.8323,17.6471,NaN,NaN,25.4801,24.438,21.8215
19,CLEAN Earnings per share,2.47,2.92,3.3,3.89,4.63,4.65,5.37,5.33,6.08,7.09,7.6572,8.26978,8.5,NaN,6.16667,5.704,4.573
20,Annual earnings growth %,NaN,0.182186,0.130137,0.178788,0.190231,0.00431965,0.154839,-0.00744879,0.140713,0.166118,0.08,0.08,NaN,NaN,0.0997942,0.0917082,0.126654
21,CLEAN High PE,24.8178,25.0685,26.8788,27.2494,27.2354,31.5699,31.6015,31.8199,32.1382,34.5839,36.7497,33.8582,0,NaN,32.8473,32.3427,29.2963
22,CLEAN Low PE,15.4656,18.2877,21.0606,20.2571,21.3607,23.5484,21.7877,26.0038,24.6711,24.7955,26.1061,18.1383,NaN,NaN,25.1568,24.1613,21.7238
23,DIVIDENDS per share,0.68,0.77,0.89,1.03,1.17,1.33,1.51,1.7,1.9,2.14,2.4,2.65,NaN,NaN,1.91333,1.716,1.312
24,Payout as % of earnings,0.264591,0.262799,0.269697,0.259446,0.260579,0.286022,0.286528,0.318949,0.324786,0.301834,0.298137,0.311765,NaN,NaN,0.31519,0.303624,0.283523
25,Payout as % of free cash flow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Payout as % of cash flow operations,0.16,0.158763,0.166667,0.168026,0.174888,0.188652,0.191139,0.206311,0.211111,0.205177,0.208696,0.216327,NaN,NaN,0.207533,0.200478,0.183073
27,Low Dividend Yield,0.011093,0.0105191,0.0100338,0.00971698,0.00927835,0.00905995,0.00889806,0.0100236,0.00972364,0.00872757,0.00852878,0.00946429,NaN,NaN,0.0094916,0.00928656,0.00970741
28,High Dividend Yield,0.017801,0.0144195,0.0128058,0.0130711,0.0118301,0.0121461,0.012906,0.0122655,0.0126667,0.0121729,0.012006,0.0176667,NaN,NaN,0.0123684,0.0124314,0.0132085
29,CAPEX per share,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Capex as % of sales,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0
31,BOOK VALUE per share,22.98,24.98,27.64,28.59,24.8,28.11,24.24,27.61,24.65,29.21,35.05,40.2,NaN,NaN,27.1567,26.764,26.281
32,ROE % (earnings divided by book value),0.111836,0.117294,0.119392,0.13886,0.181048,0.165422,0.217409,0.193046,0.237323,0.242725,0.229672,0.211443,NaN,NaN,0.224365,0.211185,0.172435
33,Cash return on equity %,0.184943,0.194155,0.193198,0.214411,0.269758,0.2508,0.325908,0.298443,0.365112,0.357069,0.328103,0.304726,NaN,NaN,0.340208,0.319466,0.26538
34,Annual book value growth,NaN,0.0870322,0.106485,0.0343705,-0.132564,0.133468,-0.137673,0.139026,-0.107208,0.18499,0.199932,0.146933,-1,NaN,0.0722696,0.0425206,0.0342141
35,High BVPS,2.66754,2.93034,3.20912,3.70759,5.08468,5.22234,7.00083,6.1427,7.92698,8.39439,8.02853,6.96517,NaN,NaN,7.48802,6.93745,5.22865
36,Low BVPS,1.66232,2.13771,2.51447,2.75621,3.9879,3.89541,4.82673,5.01992,6.08519,6.01849,5.70328,3.73134,NaN,NaN,5.70787,5.16915,3.89044
37,CLEAN Book Value per share,22.5835,24.1227,26.9198,27.9831,24.4488,27.8043,23.9815,27.3737,24.4434,28.9679,30,32,34,NaN,26.9283,26.5142,25.8629
38,CLEAN High PB,2.71437,3.03449,3.29497,3.78801,5.15771,5.27975,7.07628,6.19573,7.99398,8.46454,9.38,8.75,0,NaN,7.55142,7.00206,5.29998
39,CLEAN Low PB,1.6915,2.21368,2.58174,2.81599,4.04518,3.93824,4.87876,5.06325,6.13663,6.06879,6.66333,4.6875,0,NaN,5.75622,5.21713,3.94338
40,FREE CASH FLOW per share,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN
41,Low FCF Yield,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0
42,High FCF Yield,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0

In [104]:
val_mod.info

<bound method DataFrame.info of                                         0          1          2          3   \
0                              Fiscal Year       2009       2010       2011
1                               High Price       61.3       73.2       88.7
2                                Low Price       38.2       53.4       69.5
3               Total Companywide Revenues      71422      77946      88915
4                             Y/Y growth %        NaN  0.0913444   0.140726
5                          SALES per share     163.88      179.8     204.75
6                    Annual sales growth %        NaN  0.0971443   0.138765
7                      Net profit margin %  0.0156822  0.0162959  0.0161172
8                                  High PS   0.374054   0.407119   0.433211
9                                   Low PS   0.233097   0.296997   0.339438
10                     CASH FLOW per share       4.25       4.85       5.34
11          Cash flow margin as % of sales  0.0259336  0.0269744  0.0260806
12         Cash flow to net earnings ratio     1.6537    1.65529    1.61818
13                                High PCF    14.4235    15.0928    16.6105
14                                 Low PCF    8.98824    11.0103     13.015
15                      EARNINGS per share       2.57       2.93        3.3
16                Annual earnings growth %        NaN   0.140078    0.12628
17                                 High PE    23.8521    24.9829    26.8788
18                                  Low PE    14.8638    18.2253    21.0606
19                CLEAN Earnings per share       2.47       2.92        3.3
20                Annual earnings growth %        NaN   0.182186   0.130137
21                           CLEAN High PE    24.8178    25.0685    26.8788
22                            CLEAN Low PE    15.4656    18.2877    21.0606
23                     DIVIDENDS per share       0.68       0.77       0.89
24                 Payout as % of earnings   0.264591   0.262799   0.269697
25           Payout as % of free cash flow        NaN        NaN        NaN
26     Payout as % of cash flow operations       0.16   0.158763   0.166667
27                      Low Dividend Yield   0.011093  0.0105191  0.0100338
28                     High Dividend Yield   0.017801  0.0144195  0.0128058
29                         CAPEX per share        NaN        NaN        NaN
30                     Capex as % of sales          0          0          0
31                    BOOK VALUE per share      22.98      24.98      27.64
32  ROE % (earnings divided by book value)   0.111836   0.117294   0.119392
33                 Cash return on equity %   0.184943   0.194155   0.193198
34                Annual book value growth        NaN  0.0870322   0.106485
35                               High BVPS    2.66754    2.93034    3.20912
36                                Low BVPS    1.66232    2.13771    2.51447
37              CLEAN Book Value per share    22.5835    24.1227    26.9198
38                           CLEAN High PB    2.71437    3.03449    3.29497
39                            CLEAN Low PB     1.6915    2.21368    2.58174
40                FREE CASH FLOW per share        NaN        NaN        NaN
41                           Low FCF Yield          0          0          0
42                          High FCF Yield          0          0          0

            4           5           6           7           8           9   \
0         2012        2013        2014        2015        2016        2017
1          106       126.1       146.8       169.7       169.6       195.4
2         78.8        98.9       109.5         117       138.6         150
3        99137      105156      112640      116199      118719      129025
4     0.114964    0.060714   0.0711705   0.0315962   0.0216869     0.08681
5        229.3      240.72      257.36      265.32      271.34      295.11
6     0.119902   0.0498038    0.069126   0.0309294   0.0226896   0.0876023
7    0.0173136   0.0186524   0.0180681   0.0198628   0.0196433   0.0198231
8     0.462276    0.523845    0.570407    0.639605    0.625046    0.662126
9     0.343655    0.410851    0.425474    0.440977    0.510798    0.508285
10        6.13        6.69        7.05         7.9        8.24           9
11   0.0267335   0.0277916   0.0273935   0.0297754   0.0303678   0.0304971
12     1.54408     1.48998     1.51613     1.49905     1.54597     1.53846
13      17.292      18.849     20.8227      21.481     20.5825     21.7111
14     12.8548     14.7833     15.5319     14.8101     16.8204     16.6667
15        3.97        4.49        4.65        5.27        5.33        5.85
16     0.20303    0.130982   0.0356347    0.133333   0.0113852    0.097561
17     26.7003     28.0846     31.5699     32.2011     31.8199     33.4017
18     19.8489     22.0267     23.5484     22.2011     26.0038      25.641
19        3.89        4.63        4.65        5.37        5.33        6.08
20    0.178788    0.190231  0.00431965    0.154839 -0.00744879    0.140713
21     27.2494     27.2354     31.5699     31.6015     31.8199     32.1382
22     20.2571     21.3607     23.5484     21.7877     26.0038     24.6711
23        1.03        1.17        1.33        1.51         1.7         1.9
24    0.259446    0.260579    0.286022    0.286528    0.318949    0.324786
25         NaN         NaN         NaN         NaN         NaN         NaN
26    0.168026    0.174888    0.188652    0.191139    0.206311    0.211111
27  0.00971698  0.00927835  0.00905995  0.00889806   0.0100236  0.00972364
28   0.0130711   0.0118301   0.0121461    0.012906   0.0122655   0.0126667
29         NaN         NaN         NaN         NaN         NaN         NaN
30           0           0           0           0           0           0
31       28.59        24.8       28.11       24.24       27.61       24.65
32     0.13886    0.181048    0.165422    0.217409    0.193046    0.237323
33    0.214411    0.269758      0.2508    0.325908    0.298443    0.365112
34   0.0343705   -0.132564    0.133468   -0.137673    0.139026   -0.107208
35     3.70759     5.08468     5.22234     7.00083      6.1427     7.92698
36     2.75621      3.9879     3.89541     4.82673     5.01992     6.08519
37     27.9831     24.4488     27.8043     23.9815     27.3737     24.4434
38     3.78801     5.15771     5.27975     7.07628     6.19573     7.99398
39     2.81599     4.04518     3.93824     4.87876     5.06325     6.13663
40         NaN         NaN         NaN         NaN         NaN         NaN
41           0           0           0           0           0           0
42           0           0           0           0           0           0

            10          11          12      13    14         15          16  \
0         2018        2019        2020  "NORM"  2021   3 Yr Avg    5 Yr Avg
1        245.2       281.4         280     NaN   NaN      203.4      185.34
2        175.8       199.9         150     NaN   NaN      154.8      138.18
3       141576      150071      159075     NaN   NaN     129773      123632
4    0.0972757        0.06        0.06     NaN   NaN  0.0685909   0.0617079
5       323.09       347.5       374.2     NaN   NaN    296.513     282.444
6    0.0948121   0.0755517   0.0768345     NaN   NaN   0.068368   0.0610319
7    0.0219443   0.0231655   0.0227151     NaN   NaN  0.0204702   0.0198683
8     0.758922    0.809784    0.748263     NaN   NaN   0.682031    0.651221
9     0.544121    0.575252    0.400855     NaN   NaN   0.521068    0.485931
10       10.43        11.5       12.25     NaN   NaN    9.22333       8.524
11    0.032282   0.0330935   0.0327365     NaN   NaN   0.031049   0.0300632
12     1.47109     1.42857     1.44118     NaN   NaN     1.5185     1.51414
13     23.5091     24.4696     22.8571     NaN   NaN    21.9342     21.6213
14     16.8552     17.3826     12.2449     NaN   NaN    16.7808     16.1369
15        7.09        8.05         8.5     NaN   NaN       6.09       5.638
16    0.211966    0.135402   0.0559006     NaN   NaN   0.106971    0.097976
17     34.5839     34.9565     32.9412     NaN   NaN    33.2685     32.7153
18     24.7955     24.8323     17.6471     NaN   NaN    25.4801      24.438
19        7.09      7.6572     8.26978     8.5   NaN    6.16667       5.704
20    0.166118        0.08        0.08     NaN   NaN  0.0997942   0.0917082
21     34.5839     36.7497     33.8582       0   NaN    32.8473     32.3427
22     24.7955     26.1061     18.1383     NaN   NaN    25.1568     24.1613
23        2.14         2.4        2.65     NaN   NaN    1.91333       1.716
24    0.301834    0.298137    0.311765     NaN   NaN    0.31519    0.303624
25         NaN         NaN         NaN     NaN   NaN        NaN         NaN
26    0.205177    0.208696    0.216327     NaN   NaN   0.207533    0.200478
27  0.00872757  0.00852878  0.00946429     NaN   NaN  0.0094916  0.00928656
28   0.0121729    0.012006   0.0176667     NaN   NaN  0.0123684   0.0124314
29         NaN         NaN         NaN     NaN   NaN        NaN         NaN
30           0           0           0     NaN   NaN          0           0
31       29.21       35.05        40.2     NaN   NaN    27.1567      26.764
32    0.242725    0.229672    0.211443     NaN   NaN   0.224365    0.211185
33    0.357069    0.328103    0.304726     NaN   NaN   0.340208    0.319466
34     0.18499    0.199932    0.146933      -1   NaN  0.0722696   0.0425206
35     8.39439     8.02853     6.96517     NaN   NaN    7.48802     6.93745
36     6.01849     5.70328     3.73134     NaN   NaN    5.70787     5.16915
37     28.9679          30          32      34   NaN    26.9283     26.5142
38     8.46454        9.38        8.75       0   NaN    7.55142     7.00206
39     6.06879     6.66333      4.6875       0   NaN    5.75622     5.21713
40         NaN         NaN         NaN       0     0        NaN         NaN
41           0           0           0     NaN   NaN          0           0
42           0           0           0     NaN   NaN          0           0

            17
0    10 Yr Avg
1        138.2
2       102.97
3       106074
4    0.0795875
5      243.067
6     0.078975
7    0.0183403
8     0.545661
9     0.405369
10       6.988
11    0.028383
12     1.55319
13     19.0374
14     14.1336
15       4.545
16    0.121139
17     29.4075
18     21.8215
19       4.573
20    0.126654
21     29.2963
22     21.7238
23       1.312
24    0.283523
25         NaN
26    0.183073
27  0.00970741
28   0.0132085
29         NaN
30           0
31      26.281
32    0.172435
33     0.26538
34   0.0342141
35     5.22865
36     3.89044
37     25.8629
38     5.29998
39     3.94338
40         NaN
41           0
42           0  >

In [51]:
#val_mod = val_mod.drop('index', axis = 1)

In [468]:
# gather data to fill into val_mod DataFrame
import pandas_datareader as pdr
from datetime import datetime
get_stock_info = input('Please enter the name of the stock: ')
stock_data = pdr.get_data_yahoo(symbols=get_stock_info, start=datetime(2009, 1, 1), 
                                end=datetime.today())
print(stock_data.head(50))

Please enter the name of the stock: AMD
            High   Low  Open  Close    Volume  Adj Close
Date
2009-01-02  2.43  2.17  2.19   2.38  13832100       2.38
2009-01-05  2.68  2.35  2.37   2.67  19326900       2.67
2009-01-06  2.85  2.55  2.75   2.78  23860000       2.78
2009-01-07  2.72  2.55  2.72   2.66  14026300       2.66
2009-01-08  2.74  2.51  2.64   2.74  13413000       2.74
2009-01-09  2.83  2.63  2.79   2.69   9733000       2.69
2009-01-12  2.69  2.45  2.69   2.52  13085600       2.52
2009-01-13  2.47  2.30  2.42   2.38  21157100       2.38
2009-01-14  2.30  2.11  2.29   2.15  14821600       2.15
2009-01-15  2.30  2.05  2.15   2.26  16022500       2.26
2009-01-16  2.40  2.20  2.32   2.29  15182600       2.29
2009-01-20  2.29  2.00  2.23   2.00  12983200       2.00
2009-01-21  2.25  2.03  2.05   2.25  11915800       2.25
2009-01-22  2.18  1.97  2.15   2.02  21451500       2.02
2009-01-23  2.23  1.86  1.86   2.07  26600900       2.07
2009-01-26  2.14  2.00  2.08   2.01  15745800       2.01
2009-01-27  2.19  2.04  2.06   2.14  12903300       2.14
2009-01-28  2.45  2.17  2.23   2.35  19551900       2.35
2009-01-29  2.29  2.18  2.29   2.20   8305000       2.20
2009-01-30  2.29  2.16  2.22   2.19  11034900       2.19
2009-02-02  2.22  2.07  2.15   2.15   8110300       2.15
2009-02-03  2.23  2.11  2.16   2.21   8594900       2.21
2009-02-04  2.51  2.15  2.22   2.27  15475300       2.27
2009-02-05  2.44  2.21  2.26   2.36  17011600       2.36
2009-02-06  2.47  2.33  2.42   2.41  12613400       2.41
2009-02-09  2.41  2.33  2.36   2.36   9916600       2.36
2009-02-10  2.40  2.00  2.36   2.11  24515200       2.11
2009-02-11  2.21  2.09  2.16   2.15  11796000       2.15
2009-02-12  2.30  2.11  2.18   2.28  12085200       2.28
2009-02-13  2.46  2.25  2.30   2.42  15057900       2.42
2009-02-17  2.40  2.28  2.30   2.37  15592900       2.37
2009-02-18  2.50  2.12  2.35   2.20  18635200       2.20
2009-02-19  2.30  2.11  2.30   2.12  12271700       2.12
2009-02-20  2.13  2.00  2.07   2.03  12688400       2.03
2009-02-23  2.09  2.01  2.09   2.02  10436500       2.02
2009-02-24  2.18  2.02  2.05   2.12  12778200       2.12
2009-02-25  2.28  2.07  2.13   2.22  13086400       2.22
2009-02-26  2.28  2.09  2.26   2.09  11036900       2.09
2009-02-27  2.20  2.05  2.08   2.18  14342300       2.18
2009-03-02  2.21  2.01  2.13   2.01  15337400       2.01
2009-03-03  2.19  2.07  2.14   2.07  18596000       2.07
2009-03-04  2.33  2.14  2.15   2.30  21183500       2.30
2009-03-05  2.30  2.14  2.21   2.16  10533400       2.16
2009-03-06  2.22  2.09  2.19   2.14   9510200       2.14
2009-03-09  2.26  2.10  2.11   2.14   9490200       2.14
2009-03-10  2.35  2.19  2.21   2.32  14926500       2.32
2009-03-11  2.35  2.25  2.33   2.31  11985800       2.31
2009-03-12  2.44  2.27  2.30   2.40  14596600       2.40
2009-03-13  2.60  2.35  2.39   2.52  14898000       2.52
2009-03-16  2.72  2.44  2.51   2.48  22781100       2.48

In [106]:
stock_data.index

DatetimeIndex(['2009-01-02', '2009-01-05', '2009-01-06', '2009-01-07',
               '2009-01-08', '2009-01-09', '2009-01-12', '2009-01-13',
               '2009-01-14', '2009-01-15',
               ...
               '2020-06-02', '2020-06-03', '2020-06-04', '2020-06-05',
               '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11',
               '2020-06-12', '2020-06-15'],
              dtype='datetime64[ns]', name='Date', length=2882, freq=None)

In [109]:
price_mean = pd.pivot_table(stock_data, values='Adj Close', columns=stock_data.index.year, aggfunc='mean')

In [112]:
#mean price for each year
price_mean.T

      Adj Close
Date
2009   4.426310
2010   7.931389
2011   7.139405
2012   5.071080
2013   3.378571
2014   3.662064
2015   2.331746
2016   5.254921
2017  12.411673
2018  17.214502
2019  29.941071
2020  50.381316

In [110]:
#getting unique years
set(stock_data.index.year)

{2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020}

In [ ]:
year_counter = stock_data.index.year
mask = [stock_data.index.year == year_counter]

In [111]:
stock_data['Adj Close'].loc[mask]

Date
2009-01-02     2.380000
2009-01-05     2.670000
2009-01-06     2.780000
2009-01-07     2.660000
2009-01-08     2.740000
2009-01-09     2.690000
2009-01-12     2.520000
2009-01-13     2.380000
2009-01-14     2.150000
2009-01-15     2.260000
2009-01-16     2.290000
2009-01-20     2.000000
2009-01-21     2.250000
2009-01-22     2.020000
2009-01-23     2.070000
2009-01-26     2.010000
2009-01-27     2.140000
2009-01-28     2.350000
2009-01-29     2.200000
2009-01-30     2.190000
2009-02-02     2.150000
2009-02-03     2.210000
2009-02-04     2.270000
2009-02-05     2.360000
2009-02-06     2.410000
2009-02-09     2.360000
2009-02-10     2.110000
2009-02-11     2.150000
2009-02-12     2.280000
2009-02-13     2.420000
2009-02-17     2.370000
2009-02-18     2.200000
2009-02-19     2.120000
2009-02-20     2.030000
2009-02-23     2.020000
2009-02-24     2.120000
2009-02-25     2.220000
2009-02-26     2.090000
2009-02-27     2.180000
2009-03-02     2.010000
2009-03-03     2.070000
2009-03-04     2.300000
2009-03-05     2.160000
2009-03-06     2.140000
2009-03-09     2.140000
2009-03-10     2.320000
2009-03-11     2.310000
2009-03-12     2.400000
2009-03-13     2.520000
2009-03-16     2.480000
2009-03-17     2.760000
2009-03-18     2.970000
2009-03-19     2.960000
2009-03-20     2.670000
2009-03-23     3.020000
2009-03-24     3.140000
2009-03-25     3.170000
2009-03-26     3.560000
2009-03-27     3.370000
2009-03-30     3.190000
2009-03-31     3.050000
2009-04-01     3.020000
2009-04-02     3.160000
2009-04-03     3.430000
2009-04-06     3.530000
2009-04-07     3.440000
2009-04-08     3.680000
2009-04-09     3.750000
2009-04-13     3.610000
2009-04-14     3.630000
2009-04-15     3.440000
2009-04-16     3.570000
2009-04-17     3.560000
2009-04-20     3.310000
2009-04-21     3.360000
2009-04-22     3.330000
2009-04-23     3.530000
2009-04-24     3.510000
2009-04-27     3.470000
2009-04-28     3.410000
2009-04-29     3.510000
2009-04-30     3.610000
2009-05-01     3.820000
2009-05-04     4.260000
2009-05-05     4.320000
2009-05-06     4.310000
2009-05-07     4.010000
2009-05-08     3.930000
2009-05-11     4.220000
2009-05-12     4.350000
2009-05-13     4.380000
2009-05-14     4.240000
2009-05-15     4.010000
2009-05-18     4.140000
2009-05-19     4.390000
2009-05-20     4.500000
2009-05-21     4.340000
2009-05-22     4.260000
2009-05-26     4.530000
2009-05-27     4.710000
2009-05-28     4.700000
2009-05-29     4.540000
2009-06-01     4.730000
2009-06-02     4.560000
2009-06-03     4.480000
2009-06-04     4.650000
2009-06-05     4.630000
2009-06-08     4.610000
2009-06-09     4.750000
2009-06-10     4.820000
2009-06-11     4.700000
2009-06-12     4.470000
2009-06-15     4.260000
2009-06-16     4.130000
2009-06-17     4.080000
2009-06-18     3.850000
2009-06-19     3.870000
2009-06-22     3.620000
2009-06-23     3.550000
2009-06-24     3.660000
2009-06-25     3.640000
2009-06-26     3.620000
2009-06-29     3.720000
2009-06-30     3.870000
2009-07-01     3.910000
2009-07-02     3.780000
2009-07-06     3.550000
2009-07-07     3.430000
2009-07-08     3.360000
2009-07-09     3.480000
2009-07-10     3.490000
2009-07-13     3.560000
2009-07-14     3.550000
2009-07-15     3.860000
2009-07-16     3.920000
2009-07-17     4.000000
2009-07-20     4.170000
2009-07-21     4.080000
2009-07-22     3.550000
2009-07-23     3.590000
2009-07-24     3.770000
2009-07-27     3.800000
2009-07-28     3.770000
2009-07-29     3.710000
2009-07-30     3.660000
2009-07-31     3.660000
2009-08-03     3.740000
2009-08-04     3.760000
2009-08-05     3.750000
2009-08-06     3.710000
2009-08-07     3.700000
2009-08-10     3.680000
2009-08-11     3.590000
2009-08-12     3.590000
2009-08-13     3.680000
2009-08-14     3.690000
2009-08-17     3.550000
2009-08-18     3.560000
2009-08-19     3.520000
2009-08-20     3.520000
2009-08-21     3.700000
2009-08-24     4.000000
2009-08-25     4.020000
2009-08-26     4.060000
2009-08-27     4.230000
2009-08-28     4.470000
2009-08-31     4.360000
2009-09-01     4.220000
2009-09-02     4.280000
2009-09-03     4.530000
2009-09-04     4.530000
2009-09-08     5.190000
2009-09-09     5.200000
2009-09-10     5.380000
2009-09-11     5.680000
2009-09-14     5.720000
2009-09-15     5.880000
2009-09-16     5.690000
2009-09-17     5.670000
2009-09-18     5.700000
2009-09-21     5.810000
2009-09-22     6.080000
2009-09-23     6.020000
2009-09-24     5.660000
2009-09-25     5.830000
2009-09-28     5.940000
2009-09-29     5.780000
2009-09-30     5.660000
2009-10-01     5.390000
2009-10-02     5.310000
2009-10-05     5.540000
2009-10-06     5.640000
2009-10-07     5.540000
2009-10-08     5.510000
2009-10-09     5.880000
2009-10-12     6.140000
2009-10-13     6.080000
2009-10-14     6.250000
2009-10-15     6.190000
2009-10-16     5.740000
2009-10-19     5.870000
2009-10-20     5.980000
2009-10-21     5.770000
2009-10-22     5.830000
2009-10-23     5.600000
2009-10-26     5.420000
2009-10-27     5.150000
2009-10-28     4.850000
2009-10-29     4.930000
2009-10-30     4.600000
2009-11-02     4.600000
2009-11-03     4.640000
2009-11-04     4.690000
2009-11-05     4.830000
2009-11-06     5.040000
2009-11-09     5.210000
2009-11-10     5.140000
2009-11-11     5.320000
2009-11-12     6.480000
2009-11-13     6.530000
2009-11-16     6.430000
2009-11-17     6.620000
2009-11-18     7.320000
2009-11-19     7.050000
2009-11-20     6.950000
2009-11-23     7.000000
2009-11-24     6.950000
2009-11-25     7.110000
2009-11-27     6.850000
2009-11-30     7.010000
2009-12-01     7.200000
2009-12-02     7.300000
2009-12-03     8.030000
2009-12-04     7.860000
2009-12-07     8.520000
2009-12-08     8.670000
2009-12-09     8.710000
2009-12-10     8.580000
2009-12-11     8.640000
2009-12-14     8.680000
2009-12-15     8.820000
2009-12-16     9.150000
2009-12-17     9.120000
2009-12-18     9.050000
2009-12-21     9.530000
2009-12-22     9.430000
2009-12-23     9.670000
2009-12-24     9.910000
2009-12-28     9.830000
2009-12-29     9.750000
2009-12-30     9.720000
2009-12-31     9.680000
2010-01-04     9.700000
2010-01-05     9.710000
2010-01-06     9.570000
2010-01-07     9.470000
2010-01-08     9.430000
2010-01-11     9.140000
2010-01-12     8.650000
2010-01-13     9.150000
2010-01-14     9.000000
2010-01-15     8.840000
2010-01-19     9.010000
2010-01-20     8.870000
2010-01-21     8.990000
2010-01-22     7.880000
2010-01-25     8.070000
2010-01-26     8.090000
2010-01-27     8.190000
2010-01-28     7.880000
2010-01-29     7.460000
2010-02-01     7.980000
2010-02-02     7.910000
2010-02-03     7.810000
2010-02-04     7.190000
2010-02-05     7.350000
2010-02-08     7.420000
2010-02-09     7.540000
2010-02-10     7.640000
2010-02-11     7.840000
2010-02-12     7.870000
2010-02-16     8.060000
2010-02-17     8.030000
2010-02-18     7.950000
2010-02-19     7.930000
2010-02-22     7.900000
2010-02-23     7.790000
2010-02-24     8.050000
2010-02-25     7.890000
2010-02-26     7.910000
2010-03-01     8.210000
2010-03-02     8.380000
2010-03-03     8.350000
2010-03-04     8.500000
2010-03-05     8.610000
2010-03-08     8.640000
2010-03-09     8.630000
2010-03-10     8.920000
2010-03-11     8.950000
2010-03-12     8.930000
2010-03-15     8.920000
2010-03-16     9.400000
2010-03-17     9.670000
2010-03-18     9.390000
2010-03-19     9.110000
2010-03-22     9.310000
2010-03-23     9.450000
2010-03-24     9.230000
2010-03-25     9.030000
2010-03-26     9.020000
2010-03-29     9.110000
2010-03-30     9.270000
2010-03-31     9.270000
2010-04-01     9.370000
2010-04-05     9.530000
2010-04-06     9.350000
2010-04-07     9.660000
2010-04-08     9.420000
2010-04-09     9.300000
2010-04-12     9.420000
2010-04-13     9.560000
2010-04-14     9.890000
2010-04-15    10.160000
2010-04-16     9.810000
2010-04-19     9.580000
2010-04-20     9.770000
2010-04-21     9.780000
2010-04-22     9.860000
2010-04-23     9.760000
2010-04-26     9.970000
2010-04-27     9.580000
2010-04-28     9.550000
2010-04-29     9.720000
2010-04-30     9.070000
2010-05-03     9.290000
2010-05-04     8.680000
2010-05-05     8.580000
2010-05-06     8.270000
2010-05-07     8.380000
2010-05-10     8.990000
2010-05-11     9.070000
2010-05-12     9.490000
2010-05-13     9.420000
2010-05-14     8.800000
2010-05-17     8.850000
2010-05-18     8.420000
2010-05-19     8.470000
2010-05-20     8.090000
2010-05-21     8.400000
2010-05-24     8.090000
2010-05-25     8.150000
2010-05-26     8.220000
2010-05-27     8.800000
2010-05-28     8.570000
2010-06-01     8.140000
2010-06-02     8.540000
2010-06-03     8.690000
2010-06-04     8.110000
2010-06-07     7.710000
2010-06-08     7.770000
2010-06-09     7.610000
2010-06-10     8.010000
2010-06-11     8.120000
2010-06-14     8.280000
2010-06-15     8.820000
2010-06-16     8.900000
2010-06-17     8.910000
2010-06-18     8.830000
2010-06-21     8.800000
2010-06-22     8.580000
2010-06-23     8.560000
2010-06-24     8.130000
2010-06-25     8.090000
2010-06-28     8.050000
2010-06-29     7.480000
2010-06-30     7.320000
2010-07-01     7.390000
2010-07-02     7.170000
2010-07-06     7.040000
2010-07-07     7.390000
2010-07-08     7.370000
2010-07-09     7.340000
2010-07-12     7.360000
2010-07-13     7.520000
2010-07-14     7.440000
2010-07-15     7.410000
2010-07-16     7.370000
2010-07-19     7.440000
2010-07-20     7.600000
2010-07-21     7.400000
2010-07-22     7.610000
2010-07-23     7.820000
2010-07-26     8.070000
2010-07-27     8.210000
2010-07-28     7.980000
2010-07-29     7.780000
2010-07-30     7.490000
2010-08-02     7.650000
2010-08-03     7.510000
2010-08-04     7.520000
2010-08-05     7.500000
2010-08-06     7.450000
2010-08-09     7.420000
2010-08-10     6.830000
2010-08-11     6.490000
2010-08-12     6.570000
2010-08-13     6.490000
2010-08-16     6.620000
2010-08-17     6.630000
2010-08-18     6.570000
2010-08-19     6.420000
2010-08-20     6.250000
2010-08-23     6.140000
2010-08-24     5.990000
2010-08-25     6.130000
2010-08-26     5.870000
2010-08-27     6.080000
2010-08-30     5.780000
2010-08-31     5.610000
2010-09-01     5.760000
2010-09-02     5.930000
2010-09-03     6.090000
2010-09-07     5.950000
2010-09-08     5.830000
2010-09-09     5.860000
2010-09-10     5.810000
2010-09-13     6.180000
2010-09-14     6.270000
2010-09-15     6.220000
2010-09-16     6.150000
2010-09-17     6.120000
2010-09-20     6.090000
2010-09-21     6.170000
2010-09-22     6.260000
2010-09-23     6.400000
2010-09-24     6.840000
2010-09-27     7.020000
2010-09-28     6.950000
2010-09-29     7.280000
2010-09-30     7.110000
2010-10-01     7.050000
2010-10-04     6.940000
2010-10-05     6.980000
2010-10-06     6.860000
2010-10-07     6.870000
2010-10-08     7.050000
2010-10-11     7.240000
2010-10-12     7.300000
2010-10-13     7.220000
2010-10-14     7.140000
2010-10-15     7.120000
2010-10-18     6.960000
2010-10-19     6.950000
2010-10-20     6.820000
2010-10-21     6.890000
2010-10-22     6.890000
2010-10-25     7.260000
2010-10-26     7.200000
2010-10-27     7.350000
2010-10-28     7.630000
2010-10-29     7.340000
2010-11-01     7.360000
2010-11-02     7.540000
2010-11-03     7.640000
2010-11-04     8.000000
2010-11-05     8.040000
2010-11-08     8.140000
2010-11-09     7.910000
2010-11-10     7.750000
2010-11-11     7.630000
2010-11-12     7.630000
2010-11-15     7.570000
2010-11-16     7.430000
2010-11-17     7.330000
2010-11-18     7.350000
2010-11-19     7.470000
2010-11-22     7.410000
2010-11-23     7.320000
2010-11-24     7.620000
2010-11-26     7.550000
2010-11-29     7.380000
2010-11-30     7.290000
2010-12-01     7.510000
2010-12-02     7.540000
2010-12-03     7.650000
2010-12-06     7.820000
2010-12-07     8.020000
2010-12-08     8.170000
2010-12-09     7.950000
2010-12-10     8.070000
2010-12-13     8.230000
2010-12-14     8.050000
2010-12-15     8.020000
2010-12-16     8.030000
2010-12-17     8.100000
2010-12-20     8.240000
2010-12-21     8.140000
2010-12-22     8.110000
2010-12-23     8.040000
2010-12-27     8.050000
2010-12-28     8.090000
2010-12-29     8.080000
2010-12-30     8.140000
2010-12-31     8.180000
2011-01-03     8.470000
2011-01-04     8.770000
2011-01-05     8.910000
2011-01-06     8.690000
2011-01-07     8.830000
2011-01-10     9.190000
2011-01-11     8.360000
2011-01-12     8.390000
2011-01-13     8.260000
2011-01-14     8.200000
2011-01-18     8.100000
2011-01-19     7.930000
2011-01-20     8.020000
2011-01-21     7.540000
2011-01-24     7.680000
2011-01-25     7.480000
2011-01-26     7.490000
2011-01-27     7.750000
2011-01-28     7.490000
2011-01-31     7.830000
2011-02-01     8.220000
2011-02-02     8.290000
2011-02-03     8.330000
2011-02-04     8.400000
2011-02-07     8.330000
2011-02-08     8.240000
2011-02-09     8.230000
2011-02-10     8.220000
2011-02-11     8.280000
2011-02-14     8.630000
2011-02-15     8.600000
2011-02-16     8.990000
2011-02-17     9.440000
2011-02-18     9.180000
2011-02-22     8.850000
2011-02-23     8.550000
2011-02-24     9.100000
2011-02-25     9.290000
2011-02-28     9.210000
2011-03-01     9.030000
2011-03-02     9.170000
2011-03-03     9.280000
2011-03-04     9.230000
2011-03-07     8.840000
2011-03-08     8.990000
2011-03-09     8.670000
2011-03-10     8.420000
2011-03-11     8.650000
2011-03-14     8.430000
2011-03-15     8.280000
2011-03-16     8.120000
2011-03-17     8.310000
2011-03-18     8.550000
2011-03-21     8.550000
2011-03-22     8.360000
2011-03-23     8.590000
2011-03-24     8.830000
2011-03-25     8.880000
2011-03-28     8.690000
2011-03-29     8.680000
2011-03-30     8.790000
2011-03-31     8.600000
2011-04-01     8.360000
2011-04-04     8.100000
2011-04-05     8.110000
2011-04-06     8.430000
2011-04-07     8.410000
2011-04-08     8.470000
2011-04-11     8.420000
2011-04-12     8.260000
2011-04-13     8.200000
2011-04-14     8.190000
2011-04-15     8.270000
2011-04-18     8.200000
2011-04-19     8.270000
2011-04-20     8.630000
2011-04-21     8.710000
2011-04-25     8.700000
2011-04-26     8.880000
2011-04-27     8.950000
2011-04-28     9.070000
2011-04-29     9.100000
2011-05-02     9.030000
2011-05-03     8.800000
2011-05-04     8.790000
2011-05-05     8.870000
2011-05-06     8.920000
2011-05-09     8.940000
2011-05-10     8.940000
2011-05-11     8.880000
2011-05-12     8.930000
2011-05-13     8.900000
2011-05-16     8.670000
2011-05-17     8.540000
2011-05-18     8.670000
2011-05-19     8.640000
2011-05-20     8.620000
2011-05-23     8.490000
2011-05-24     8.390000
2011-05-25     8.430000
2011-05-26     8.480000
2011-05-27     8.490000
2011-05-31     8.680000
2011-06-01     8.370000
2011-06-02     8.240000
2011-06-03     7.970000
2011-06-06     7.800000
2011-06-07     7.710000
2011-06-08     7.620000
2011-06-09     7.640000
2011-06-10     7.590000
2011-06-13     7.540000
2011-06-14     7.670000
2011-06-15     7.500000
2011-06-16     7.190000
2011-06-17     7.000000
2011-06-20     6.890000
2011-06-21     7.220000
2011-06-22     7.060000
2011-06-23     7.060000
2011-06-24     6.900000
2011-06-27     6.920000
2011-06-28     6.950000
2011-06-29     6.890000
2011-06-30     6.990000
2011-07-01     7.110000
2011-07-05     7.140000
2011-07-06     7.000000
2011-07-07     7.150000
2011-07-08     6.950000
2011-07-11     6.760000
2011-07-12     6.430000
2011-07-13     6.480000
2011-07-14     6.440000
2011-07-15     6.430000
2011-07-18     6.180000
2011-07-19     6.480000
2011-07-20     6.600000
2011-07-21     6.500000
2011-07-22     7.750000
2011-07-25     7.630000
2011-07-26     7.660000
2011-07-27     7.510000
2011-07-28     7.420000
2011-07-29     7.340000
2011-08-01     7.220000
2011-08-02     7.110000
2011-08-03     7.160000
2011-08-04     6.500000
2011-08-05     6.560000
2011-08-08     5.940000
2011-08-09     6.180000
2011-08-10     5.850000
2011-08-11     6.170000
2011-08-12     6.210000
2011-08-15     6.430000
2011-08-16     6.340000
2011-08-17     6.140000
2011-08-18     5.790000
2011-08-19     5.980000
2011-08-22     6.050000
2011-08-23     6.500000
2011-08-24     6.340000
2011-08-25     6.370000
2011-08-26     6.490000
2011-08-29     6.830000
2011-08-30     6.840000
2011-08-31     6.830000
2011-09-01     6.680000
2011-09-02     6.320000
2011-09-06     6.270000
2011-09-07     6.760000
2011-09-08     6.810000
2011-09-09     6.520000
2011-09-12     6.710000
2011-09-13     6.960000
2011-09-14     7.210000
2011-09-15     7.340000
2011-09-16     7.200000
2011-09-19     6.920000
2011-09-20     6.740000
2011-09-21     6.480000
2011-09-22     6.120000
2011-09-23     6.170000
2011-09-26     6.400000
2011-09-27     6.490000
2011-09-28     6.150000
2011-09-29     5.310000
2011-09-30     5.080000
2011-10-03     4.530000
2011-10-04     4.720000
2011-10-05     4.830000
2011-10-06     4.850000
2011-10-07     4.730000
2011-10-10     4.840000
2011-10-11     4.860000
2011-10-12     4.930000
2011-10-13     4.970000
2011-10-14     4.920000
2011-10-17     4.670000
2011-10-18     4.830000
2011-10-19     4.730000
2011-10-20     4.540000
2011-10-21     4.720000
2011-10-24     5.060000
2011-10-25     4.910000
2011-10-26     5.100000
2011-10-27     5.540000
2011-10-28     5.940000
2011-10-31     5.830000
2011-11-01     5.300000
2011-11-02     5.460000
2011-11-03     5.730000
2011-11-04     5.670000
2011-11-07     5.680000
2011-11-08     5.750000
2011-11-09     5.380000
2011-11-10     5.660000
2011-11-11     5.950000
2011-11-14     5.790000
2011-11-15     5.760000
2011-11-16     5.680000
2011-11-17     5.440000
2011-11-18     5.470000
2011-11-21     5.420000
2011-11-22     5.300000
2011-11-23     5.050000
2011-11-25     4.990000
2011-11-28     5.300000
2011-11-29     5.320000
2011-11-30     5.690000
2011-12-01     5.700000
2011-12-02     5.650000
2011-12-05     5.760000
2011-12-06     5.660000
2011-12-07     5.720000
2011-12-08     5.470000
2011-12-09     5.540000
2011-12-12     5.300000
2011-12-13     5.180000
2011-12-14     5.070000
2011-12-15     5.040000
2011-12-16     5.130000
2011-12-19     4.860000
2011-12-20     5.190000
2011-12-21     5.080000
2011-12-22     5.450000
2011-12-23     5.410000
2011-12-27     5.380000
2011-12-28     5.280000
2011-12-29     5.340000
2011-12-30     5.400000
2012-01-03     5.480000
2012-01-04     5.460000
2012-01-05     5.460000
2012-01-06     5.430000
2012-01-09     5.590000
2012-01-10     5.710000
2012-01-11     5.810000
2012-01-12     5.820000
2012-01-13     5.660000
2012-01-17     5.730000
2012-01-18     5.970000
2012-01-19     6.220000
2012-01-20     6.420000
2012-01-23     6.520000
2012-01-24     6.530000
2012-01-25     6.730000
2012-01-26     6.770000
2012-01-27     6.820000
2012-01-30     6.740000
2012-01-31     6.710000
2012-02-01     6.900000
2012-02-02     6.930000
2012-02-03     7.080000
2012-02-06     6.920000
2012-02-07     7.130000
2012-02-08     7.250000
2012-02-09     7.240000
2012-02-10     7.050000
2012-02-13     7.290000
2012-02-14     7.320000
2012-02-15     7.300000
2012-02-16     7.590000
2012-02-17     7.420000
2012-02-21     7.280000
2012-02-22     7.140000
2012-02-23     7.290000
2012-02-24     7.460000
2012-02-27     7.470000
2012-02-28     7.520000
2012-02-29     7.350000
2012-03-01     7.510000
2012-03-02     7.460000
2012-03-05     7.070000
2012-03-06     6.900000
2012-03-07     7.170000
2012-03-08     7.470000
2012-03-09     7.580000
2012-03-12     7.500000
2012-03-13     7.760000
2012-03-14     7.760000
2012-03-15     8.250000
2012-03-16     8.200000
2012-03-19     8.180000
2012-03-20     8.060000
2012-03-21     8.040000
2012-03-22     8.030000
2012-03-23     8.090000
2012-03-26     8.240000
2012-03-27     8.190000
2012-03-28     8.080000
2012-03-29     8.120000
2012-03-30     8.020000
2012-04-02     8.200000
2012-04-03     7.980000
2012-04-04     7.810000
2012-04-05     7.870000
2012-04-09     7.750000
2012-04-10     7.530000
2012-04-11     7.640000
2012-04-12     7.920000
2012-04-13     7.730000
2012-04-16     7.700000
2012-04-17     7.940000
2012-04-18     7.970000
2012-04-19     7.970000
2012-04-20     7.760000
2012-04-23     7.390000

In [301]:
#High price for each year from beginning of dataset(default 2009)
year = stock_data.index.year

max_price = stock_data['High'].loc[stock_data.groupby(year)['High'].idxmax()].reset_index()

In [302]:
#Low price for each year from beginning of dataset(default 2009)
min_price = stock_data['Low'].loc[stock_data.groupby(year)['Low'].idxmin()].reset_index()

In [274]:
max_price.T.Date

0    2009-12-28
1    2010-04-15
2    2011-02-18
3    2012-03-27
4    2013-07-18
5    2014-07-15
6    2015-02-05
7    2016-12-28
8    2017-07-26
9    2018-09-13
10   2019-12-26
11   2020-02-19
Name: Date, dtype: datetime64[ns]

In [314]:
#changing 'Date' column(object) to datetime objects
max_price.Date = pd.to_datetime(max_price.Date)
min_price.Date = pd.to_datetime(min_price.Date)

In [328]:
#changing Date format to only show year in order to categorize based on year
max_price['Date'] = max_price['Date'].dt.year

#df1['timestamp'].dt.year

AttributeError: Can only use .dt accessor with datetimelike values

In [329]:
min_price['Date'] = min_price['Date'].dt.year

In [308]:
max_price.dtypes

Date    datetime64[ns]
High           float64
dtype: object

In [310]:
min_price.dtypes

Date    datetime64[ns]
Low            float64
dtype: object

In [331]:
#merging high price and low price with dates included
dec_df = pd.merge(max_price, min_price, how = 'outer')

In [332]:
#dec_df = pd.concat([max_price, min_price])
dec_df

    Date       High        Low
0   2009  10.040000   1.860000
1   2010  10.240000   5.530000
2   2011   9.580000   4.310000
3   2012   8.350000   1.810000
4   2013   4.650000   2.260000
5   2014   4.800000   2.350000
6   2015   3.370000   1.610000
7   2016  12.420000   1.750000
8   2017  15.650000   9.420000
9   2018  34.139999   9.040000
10  2019  47.310001  16.940001
11  2020  59.270000  36.750000

In [262]:
dec_df.info

<bound method DataFrame.info of                         0                    1                    2  \
Date  2009-12-28 00:00:00  2010-04-15 00:00:00  2011-02-18 00:00:00
High                10.04                10.24                 9.58
Date  2009-01-23 00:00:00  2010-08-27 00:00:00  2011-10-04 00:00:00
Low                  1.86                 5.53                 4.31

                        3                    4                    5  \
Date  2012-03-27 00:00:00  2013-07-18 00:00:00  2014-07-15 00:00:00
High                 8.35                 4.65                  4.8
Date  2012-11-16 00:00:00  2013-04-08 00:00:00  2014-12-12 00:00:00
Low                  1.81                 2.26                 2.35

                        6                    7                    8  \
Date  2015-02-05 00:00:00  2016-12-28 00:00:00  2017-07-26 00:00:00
High                 3.37                12.42                15.65
Date  2015-07-27 00:00:00  2016-01-20 00:00:00  2017-01-18 00:00:00
Low                  1.61                 1.75                 9.42

                        9                   10                   11
Date  2018-09-13 00:00:00  2019-12-26 00:00:00  2020-02-19 00:00:00
High                34.14                47.31                59.27
Date  2018-04-04 00:00:00  2019-01-03 00:00:00  2020-03-18 00:00:00
Low                  9.04                16.94                36.75  >

In [188]:
data_IncomeStatement

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Powered by Clearbit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Advanced Micro Devices Inc (NMS: AMD),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Exchange rate used is that of the Year End rep...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,As Reported Annual Income Statement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Report Date,12/28/2019,NaN,12/29/2018,NaN,12/30/2017,NaN,12/31/2016,NaN,12/26/2015,NaN,12/27/2014,NaN,12/28/2013,NaN,12/29/2012,NaN,12/31/2011,NaN,12/25/2010
11,Currency,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD
12,Audit Status,Not Qualified,NaN,Not Available,NaN,Not Qualified,NaN,Not Qualified,NaN,Not Qualified,NaN,Not Qualified,NaN,Not Qualified,NaN,Not Qualified,NaN,Not Qualified,NaN,Not Qualified
13,Consolidated,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes
14,Scale,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands
15,Net revenue,6731000,NaN,6475000,NaN,5329000,NaN,4272000,NaN,3991000,NaN,5506000,NaN,5299000,NaN,5422000,NaN,6568000,NaN,6494000
16,Cost of sales,3863000,NaN,4028000,NaN,3506000,NaN,3274000,NaN,2911000,NaN,3667000,NaN,3321000,NaN,4187000,NaN,3628000,NaN,3533000
17,Gross margin,2868000,NaN,2447000,NaN,1823000,NaN,998000,NaN,1080000,NaN,1839000,NaN,1978000,NaN,1235000,NaN,2940000,NaN,2961000
18,Research & development expense,1547000,NaN,1434000,NaN,1160000,NaN,1008000,NaN,947000,NaN,1072000,NaN,1201000,NaN,1354000,NaN,1453000,NaN,1405000
19,"Marketing, general & administrative expense",750000,NaN,562000,NaN,511000,NaN,460000,NaN,482000,NaN,604000,NaN,674000,NaN,823000,NaN,992000,NaN,934000
20,Amortization of acquired intangible assets,-,NaN,-,NaN,-,NaN,-,NaN,3000,NaN,14000,NaN,18000,NaN,14000,NaN,29000,NaN,61000
21,"Restructuring charges (reversals), net",-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,30000,NaN,100000,NaN,98000,NaN,-4000
22,"Restructuring & other special charges, net",-,NaN,-,NaN,-,NaN,-10000,NaN,129000,NaN,71000,NaN,-,NaN,-,NaN,-,NaN,-
23,Licensing gain,60000,NaN,-,NaN,52000,NaN,88000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-
24,Goodwill impairment charge,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,233000,NaN,-,NaN,-,NaN,-,NaN,-
25,"Legal settlements, net",-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-48000,NaN,-,NaN,-,NaN,-283000
26,Operating income (loss),631000,NaN,451000,NaN,204000,NaN,-372000,NaN,-481000,NaN,-155000,NaN,103000,NaN,-1056000,NaN,368000,NaN,848000
27,Interest income,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,3000,NaN,5000,NaN,8000,NaN,10000,NaN,11000
28,Total interest charges,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,177000,NaN,175000,NaN,180000,NaN,199000
29,Interest expense,94000,NaN,121000,NaN,126000,NaN,156000,NaN,160000,NaN,177000,NaN,177000,NaN,175000,NaN,180000,NaN,199000
30,Interest income,15000,NaN,-,NaN,6000,NaN,2000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-
31,Gain upon deconsolidation of GF,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,325000
32,GF investment impairment charge,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,209000,NaN,-
33,Gain on sale of 85% ATMP joint venture,-,NaN,-,NaN,3000,NaN,146000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-
34,Impairment charge on marketable securities,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,4000,NaN,-,NaN,-
35,Net gain (loss) on debt redemptions,-,NaN,-,NaN,-12000,NaN,-68000,NaN,-,NaN,-61000,NaN,-1000,NaN,-,NaN,-6000,NaN,-24000
36,"Net gain (loss) on debt redemptions, repurchas...",-176000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-
37,"Other income (expense), net",-4000,NaN,-,NaN,-6000,NaN,-,NaN,-5000,NaN,-8000,NaN,-4000,NaN,10000,NaN,16000,NaN,10000
38,"Other income (expense), net",-165000,NaN,-,NaN,-9000,NaN,80000,NaN,-5000,NaN,-69000,NaN,-5000,NaN,6000,NaN,-199000,NaN,311000
39,Income (loss) before income taxes - United Sta...,-,NaN,-,NaN,108000,NaN,-604000,NaN,-1000000,NaN,-621000,NaN,-,NaN,-,NaN,-,NaN,-
40,Income before income taxes - foreign,-,NaN,-,NaN,-46000,NaN,146000,NaN,454000,NaN,223000,NaN,-,NaN,-,NaN,-,NaN,-
41,Income (loss) before income taxes & equity loss,372000,NaN,330000,NaN,69000,NaN,-448000,NaN,-646000,NaN,-398000,NaN,-74000,NaN,-1217000,NaN,-1000,NaN,971000
42,Current income taxes provision (benefit) - U.S...,-13000,NaN,12000,NaN,-3000,NaN,-2000,NaN,-1000,NaN,-1000,NaN,-2000,NaN,-,NaN,-3000,NaN,-4000
43,Current income taxes provision (benefit) - U.S...,1000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,1000,NaN,-
44,Current income taxes provision (benefit) - for...,50000,NaN,-17000,NaN,38000,NaN,21000,NaN,16000,NaN,6000,NaN,10000,NaN,6000,NaN,4000,NaN,47000
45,Total current income taxes provision (benefit),38000,NaN,-5000,NaN,35000,NaN,19000,NaN,15000,NaN,5000,NaN,8000,NaN,6000,NaN,2000,NaN,43000
46,Deferred income taxes provision (benefit) - U....,-,NaN,-,NaN,-15000,NaN,-1000,NaN,-,NaN,-,NaN,3000,NaN,-37000,NaN,-,NaN,-
47,Deferred income taxes provision (benefit) - fo...,-7000,NaN,-4000,NaN,-1000,NaN,21000,NaN,-1000,NaN,-,NaN,-2000,NaN,-3000,NaN,-6000,NaN,-5000
48,Total deferred income taxes provision (benefit),-7000,NaN,-4000,NaN,-16000,NaN,20000,NaN,-1000,NaN,-,NaN,1000,NaN,-40000,NaN,-6000,NaN,-5000
49,Provision for (benefit from) income taxes,31000,NaN,-9000,NaN,19000,NaN,39000,NaN,14000,NaN,5000,NaN,9000,NaN,-34000,NaN,-4000,NaN,38000
50,Equity in income (loss) of ATMP joint venture,-,NaN,-,NaN,-,NaN,-10000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-
51,Equity gain (loss) in investee,-,NaN,-2000,NaN,-7000,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-
52,Dilution gain in investee,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,492000,NaN,-462000
53,Income (loss) from continuing operations,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-403000,NaN,-83000,NaN,-1183000,NaN,495000,NaN,471000
54,"Income (loss) from discontinued operations, ne...",-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-4000,NaN,-
55,Net income (loss),341000,NaN,337000,NaN,43000,NaN,-497000,NaN,-660000,NaN,-403000,NaN,-83000,NaN,-1183000,NaN,491000,NaN,471000
56,Net income (loss) attributable to Advanced Mic...,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-83000,NaN,-1183000,NaN,491000,NaN,471000
57,Weighted average shares outstanding - basic,1091000,NaN,982000,NaN,952000,NaN,835000,NaN,783000,NaN,768000,NaN,754000,NaN,741000,NaN,727000,NaN,711000
58,Weighted average shares outstanding - diluted,1120000,NaN,1064000,NaN,1039000,NaN,835000,NaN,783000,NaN,768000,NaN,754000,NaN,741000,NaN,742000,NaN,733000
59,Year end shares outstanding,1170000,NaN,1005000,NaN,967000,NaN,935000,NaN,792000,NaN,776000,NaN,725000,NaN,713000,NaN,698000,NaN,683000
60,Income (loss) per share - continuing operation...,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-0.11,NaN,-1.6,NaN,0.68,NaN,0.66
61,Income (loss) per share - discontinued operati...,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-0.01,NaN,-
62,Net income (loss) per share - basic,0.31,NaN,0.34,NaN,0.04,NaN,-0.6,NaN,-0.84,NaN,-0.53,NaN,-0.11,NaN,-1.6,NaN,0.68,NaN,0.66
63,Income (loss) per share - continuing operation...,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-0.11,NaN,-1.6,NaN,0.67,NaN,0.64
64,Income (loss) per share - discontinued operati...,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN,-0.01,NaN,-
65,Net income (loss) per share - diluted,0.3,NaN,0.32,NaN,0.04,NaN,-0.6,NaN,-0.84,NaN,-0.53,NaN,-0.11,NaN,-1.6,NaN,0.66,NaN,0.64
66,Total number of employees,11400,NaN,10100,NaN,8900,NaN,8200,NaN,9100,NaN,9700,NaN,10671,NaN,10340,NaN,11100,NaN,11100
67,Number of common stockholders,4364,NaN,4614,NaN,5962,NaN,6150,NaN,6263,NaN,6937,NaN,7023,NaN,7082,NaN,7264,NaN,7389

In [470]:
def net_rev():
    net_rev = data_IncomeStatement.iloc[[10, 15]]
    net_rev = net_rev.T
    net_rev = net_rev[~(net_rev.index % 2 == 0)] 
    net_rev.index
    net_rev = net_rev.drop(0)
    net_rev = net_rev.rename(columns={10: "Date", 15: "Total Revenue"})
    return net_rev

In [471]:
net_rev()

KeyError: '[0] not found in axis'

In [339]:
#turning dates to datetime formal and organizing by year
net_rev.Date = pd.to_datetime(net_rev.Date)
net_rev['Date'] = net_rev['Date'].dt.year
net_rev
#min_price['Date'] = min_price['Date'].dt.year

    Date Total Revenue
1   2019       6731000
3   2018       6475000
5   2017       5329000
7   2016       4272000
9   2015       3991000
11  2014       5506000
13  2013       5299000
17  2011       6568000
19  2010       6494000

In [341]:
#merging net_revenue into main dataframe (dec_df)
dec_df = pd.merge(dec_df, net_rev, how = 'outer')

In [342]:
dec_df

    Date       High        Low Total Revenue
0   2009  10.040000   1.860000           NaN
1   2010  10.240000   5.530000       6494000
2   2011   9.580000   4.310000       6568000
3   2012   8.350000   1.810000           NaN
4   2013   4.650000   2.260000       5299000
5   2014   4.800000   2.350000       5506000
6   2015   3.370000   1.610000       3991000
7   2016  12.420000   1.750000       4272000
8   2017  15.650000   9.420000       5329000
9   2018  34.139999   9.040000       6475000
10  2019  47.310001  16.940001       6731000
11  2020  59.270000  36.750000           NaN

In [350]:
#defining average shares
avg_shares = data_IncomeStatement.iloc[[10, 58]]

In [353]:
avg_shares.reset_index(inplace=True)

In [367]:
avg_shares = avg_shares.drop('index')

In [364]:
avg_shares = avg_shares.T

In [374]:
avg_shares = avg_shares.drop(0)

In [375]:
avg_shares

             0        1
1   12/28/2019  1120000
2          NaN      NaN
3   12/29/2018  1064000
4          NaN      NaN
5   12/30/2017  1039000
6          NaN      NaN
7   12/31/2016   835000
8          NaN      NaN
9   12/26/2015   783000
10         NaN      NaN
11  12/27/2014   768000
12         NaN      NaN
13  12/28/2013   754000
14         NaN      NaN
15  12/29/2012   741000
16         NaN      NaN
17  12/31/2011   742000
18         NaN      NaN
19  12/25/2010   733000

In [379]:
avg_shares = avg_shares.rename(columns={"Report Date": "Date", 1: "Avg Shares"})

In [386]:
avg_shares

          Date Avg Shares
1   12/28/2019    1120000
2          NaN        NaN
3   12/29/2018    1064000
4          NaN        NaN
5   12/30/2017    1039000
6          NaN        NaN
7   12/31/2016     835000
8          NaN        NaN
9   12/26/2015     783000
10         NaN        NaN
11  12/27/2014     768000
12         NaN        NaN
13  12/28/2013     754000
14         NaN        NaN
15  12/29/2012     741000
16         NaN        NaN
17  12/31/2011     742000
18         NaN        NaN
19  12/25/2010     733000

In [391]:
avg_shares.reset_index(drop = True)

          Date Avg Shares
0   12/28/2019    1120000
1          NaN        NaN
2   12/29/2018    1064000
3          NaN        NaN
4   12/30/2017    1039000
5          NaN        NaN
6   12/31/2016     835000
7          NaN        NaN
8   12/26/2015     783000
9          NaN        NaN
10  12/27/2014     768000
11         NaN        NaN
12  12/28/2013     754000
13         NaN        NaN
14  12/29/2012     741000
15         NaN        NaN
16  12/31/2011     742000
17         NaN        NaN
18  12/25/2010     733000

In [397]:
avg_shares.index = avg_shares.index.astype('int64')

In [398]:
avg_shares.index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], dtype='int64')

In [400]:
avg_shares = avg_shares[~(avg_shares.index % 2 == 0)]

In [430]:
avg_shares.Date = pd.to_datetime(avg_shares.Date)
avg_shares['Date'] = avg_shares['Date'].dt.year

C:\Users\emanu\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\emanu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [432]:
avg_shares

    Date Avg Shares
1   2019    1120000
3   2018    1064000
5   2017    1039000
7   2016     835000
9   2015     783000
11  2014     768000
13  2013     754000
15  2012     741000
17  2011     742000
19  2010     733000

In [433]:
dec_df = pd.merge(dec_df, avg_shares, how = 'outer')

In [427]:
dec_df

    Date       High        Low  Total Revenue
0   2009  10.040000   1.860000      6494000.0
1   2010  10.240000   5.530000      6494000.0
2   2011   9.580000   4.310000      6568000.0
3   2012   8.350000   1.810000      5422000.0
4   2013   4.650000   2.260000      5299000.0
5   2014   4.800000   2.350000      5506000.0
6   2015   3.370000   1.610000      3991000.0
7   2016  12.420000   1.750000      4272000.0
8   2017  15.650000   9.420000      5329000.0
9   2018  34.139999   9.040000      6475000.0
10  2019  47.310001  16.940001      6731000.0
11  2020  59.270000  36.750000      6731000.0

In [472]:
#changing Total Revenue data type from object to int64
dec_df = dec_df['Total Revenue'].astype('int64')

In [406]:
#defining function to extract requested data
def get_col(col_name, col_num):
    col_name = data_IncomeStatement.iloc[[10, col_num]]
    col_name.reset_index(inplace=True)
    col_name = col_name.drop('index')
    col_name = col_name.T
    col_name = avg_shares.rename(columns={"Report Date": "Date", 1: col_name})
    col_name.reset_index(drop = True)
    col_name.index = col_name.index.astype('int64') 
    col_name = col_name[~(col_name.index % 2 == 0)]
    #merging net_revenue into main dataframe (dec_df)
    dec_df = pd.merge(dec_df, col_name, how = 'outer')
    return col_name

In [ ]:
#getting necessary columns
get_col()

In [434]:
#importing library to convert pdf into excel
import PyPDF2

In [439]:
#testing differnt source to circumvent need for pdf to excel exchange
import requests 
import requests

demo= '0198f6647a1a1041971cadc17290951e'

companies = requests.get(f'https://fmpcloud.io/api/v3/stock-screener?sector=technology&marketCapMoreThan=100000000000&limit=100&apikey={demo}')
companies = companies.json()

technological_companies = []

for item in companies:
  technological_companies.append(item['symbol'])

print(technological_companies)
pricetosales = {}
for item in technological_companies:
    try:
      #annual income statement since we need anual sales
      IS = requests.get(f'https://fmpcloud.io/api/v3/income-statement/{item}?apikey={demo}')
      IS = IS.json()
      Revenue = IS[0]['revenue']
      grossprofitratip = IS[0]['grossProfitRatio']
      #most recent market capitliazation
      MarketCapit = requests.get(f'https://fmpcloud.io/api/v3/market-capitalization/{item}?apikey={demo}')
      MarketCapit = MarketCapit.json()
      MarketCapit = MarketCapit[0]['marketCap']

      #Price to sales
      p_to_sales = MarketCapit/Revenue

      pricetosales[item] = {}
      pricetosales[item]['revenue'] = Revenue
      pricetosales[item]['Gross_Profit_ratio'] = grossprofitratip
      pricetosales[item]['price_to_sales'] = p_to_sales
      pricetosales[item]['Market_Capit'] = MarketCapit
    except:
      pass

print(pricetosales)

['AAPL', 'MSFT', 'MSF.BR', 'TSM', 'INTC', 'INCO.BR', 'NVDA', 'ADBE', 'CSCO', 'CIS.BR', 'CRM', 'ORCL', 'SAP', 'ASML', 'ASML.AS', 'SHOP.TO', 'ACN', 'AVGO', 'TXN', 'IBMA.BR', 'IBM', 'QCOM']
{'AAPL': {'revenue': 260174000000, 'Gross_Profit_ratio': 0.37817768109, 'price_to_sales': 5.986070630885484, 'Market_Capit': 1557419940320}, 'MSFT': {'revenue': 125843000000, 'Gross_Profit_ratio': 0.659019572006, 'price_to_sales': 11.874226774631882, 'Market_Capit': 1494288320000}, 'INTC': {'revenue': 71965000000, 'Gross_Profit_ratio': 0.585562426179, 'price_to_sales': 3.624440769818662, 'Market_Capit': 260832880000}, 'NVDA': {'revenue': 10918000000, 'Gross_Profit_ratio': 0.619893753434695, 'price_to_sales': 21.047048910056787, 'Market_Capit': 229791680000}, 'ADBE': {'revenue': 11171297000, 'Gross_Profit_ratio': 0.850266267202, 'price_to_sales': 18.055237632658052, 'Market_Capit': 201700422000}, 'CSCO': {'revenue': 51904000000, 'Gross_Profit_ratio': 0.629354192355, 'price_to_sales': 3.7203356196054256, 'Market_Capit': 193100300000}, 'CRM': {'revenue': 16043000000, 'Gross_Profit_ratio': 0.8006607243034345, 'price_to_sales': 10.323393380290469, 'Market_Capit': 165618200000}, 'ORCL': {'revenue': 39506000000, 'Gross_Profit_ratio': 1.0, 'price_to_sales': 4.351800739128234, 'Market_Capit': 171922240000}, 'ACN': {'revenue': 43215013000, 'Gross_Profit_ratio': 0.308103297343, 'price_to_sales': 3.0817786621510446, 'Market_Capit': 133179104947.98}, 'AVGO': {'revenue': 22597000000, 'Gross_Profit_ratio': 0.552418462628, 'price_to_sales': 5.825764482010887, 'Market_Capit': 131644800000}, 'TXN': {'revenue': 14383000000, 'Gross_Profit_ratio': 0.637141069318, 'price_to_sales': 8.275426545227004, 'Market_Capit': 119025460000}, 'IBM': {'revenue': 77147000000, 'Gross_Profit_ratio': 0.472967192503, 'price_to_sales': 1.4403557027194838, 'Market_Capit': 111119121397.70001}, 'QCOM': {'revenue': 24273000000, 'Gross_Profit_ratio': 0.645738062868, 'price_to_sales': 4.279681127178346, 'Market_Capit': 103880700000}}

In [440]:
#convert dict to DataFrame
price_to_sales_df = pd.DataFrame.from_dict(pricetosales, orient='index')

In [441]:
price_to_sales_df['ps_average_sector'] = price_to_sales_df['price_to_sales'].mean()
price_to_sales_df['pscompany_vs_averagesector'] = price_to_sales_df['price_to_sales'] - price_to_sales_df['ps_average_sector']
price_to_sales_df['price_as_per_average_industryPS'] = price_to_sales_df['ps_average_sector'] * price_to_sales_df['revenue']
price_to_sales_df['price_difference'] = price_to_sales_df['price_as_per_average_industryPS'] - price_to_sales_df['Market_Capit']

In [442]:
price_to_sales_df

,revenue,Gross_Profit_ratio,price_to_sales,Market_Capit,ps_average_sector,pscompany_vs_averagesector,price_as_per_average_industryPS,price_difference
AAPL,260174000000,0.378178,5.986071,1.557420e+12,7.837351,-1.851280,2.039075e+12,4.816550e+11
MSFT,125843000000,0.659020,11.874227,1.494288e+12,7.837351,4.036876,9.862757e+11,-5.080126e+11
INTC,71965000000,0.585562,3.624441,2.608329e+11,7.837351,-4.212910,5.640150e+11,3.031821e+11
NVDA,10918000000,0.619894,21.047049,2.297917e+11,7.837351,13.209698,8.556820e+10,-1.442235e+11
ADBE,11171297000,0.850266,18.055238,2.017004e+11,7.837351,10.217887,8.755337e+10,-1.141470e+11
CSCO,51904000000,0.629354,3.720336,1.931003e+11,7.837351,-4.117015,4.067899e+11,2.136896e+11
CRM,16043000000,0.800661,10.323393,1.656182e+11,7.837351,2.486043,1.257346e+11,-3.988358e+10
ORCL,39506000000,1.000000,4.351801,1.719222e+11,7.837351,-3.485550,3.096224e+11,1.377001e+11
ACN,43215013000,0.308103,3.081779,1.331791e+11,7.837351,-4.755572,3.386912e+11,2.055121e+11
AVGO,22597000000,0.552418,5.825764,1.316448e+11,7.837351,-2.011586,1.771006e+11,4.545582e+10
TXN,14383000000,0.637141,8.275427,1.190255e+11,7.837351,0.438076,1.127246e+11,-6.300843e+09
IBM,77147000000,0.472967,1.440356,1.111191e+11,7.837351,-6.396995,6.046281e+11,4.935090e+11
QCOM,24273000000,0.645738,4.279681,1.038807e+11,7.837351,-3.557670,1.902360e+11,8.635532e+10

In [467]:
#List of 1000 companies in US stock exchanges

full_stock_list = requests.get(f'https://fmpcloud.io/api/v3/rss_feed?apikey=0198f6647a1a1041971cadc17290951e')
full_stock_list = full_stock_list.json()

all_companies = []

for item in full_stock_list:
    #print(item.keys())
    all_companies.append(item['ticker'])
len(all_companies)

1000

In [454]:
# attempting to automate getting key statistics
import bs4 as bs
import pickle


def save_sp500_tickers():
    resp = requests.get('http://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
    soup = bs.BeautifulSoup(resp.text, 'lxml')
    table = soup.find('table', {'class': 'wikitable sortable'})
    headers = {'User-Agent': 'Mozilla/5.0 (X11; Linux i686) AppleWebKit/537.17 (KHTML, like Gecko) Chrome/24.0.1312.27 Safari/537.17'}
    resp = requests.get('http://en.wikipedia.org/wiki/List_of_S%26P_500_companies',
                        headers=headers)
    tickers = []
    for row in table.findAll('tr')[1:]:
        ticker = row.findAll('td')[0].text
        tickers.append(ticker)
    with open("sp500tickers.pickle","wb") as f:
        pickle.dump(tickers,f)

    return tickers
len(save_sp500_tickers())
#stock_name = []
#stock_ratios = https://fmpcloud.io/api/v3/ratios/AAPL?apikey=0198f6647a1a1041971cadc17290951e

505